extends layout

block content
		script( type='text/javascript' src='/js/calendar_control.js' )

		#new_item.float_buttoncontainer( title='Nuevo' )
			span.bg_plus.bgaccent_color

		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.form_title.white_text Nuevo
				.colhh1.hb_formcontainer
					form( name='calendar_newevent' )
						.form_innercontainer
							.pd12_24.border_bottom.flat_shadow.bgprimary_color
								.form_input.white_text
									input.activeline.txtaccent_colorfall(type='text', placeholder='Titulo')
							.pd_24
								.form_input
									.b_text.left_title Asunto
									select
										option Evento
										option Recordatorio
								.form_input
									.b_text.left_title Fecha
									.triple
										input(type='text', placeholder='DD' name='formCalendarDay')
										input.third(type='text', placeholder='MM' name='formCalendarMonth')
										input.third(type='text', placeholder='AAAA' name='formCalendarYear')
								.form_input
									.b_text Descripción
									textarea(placeholder='Añade una Descripción')
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
						.form_confirmblock
							.inner_confirmblock.bg_gray.flat_shadow
								.pd_24(style='padding-bottom: 16px;')
									.colhh1.white_text
										.pd_8.ll_title ¿Realizar esta acción?
									.form_input.autooverflow
										span.submit_cancel.txtaccent_color.rippleria-dark( data-rippleria ) Cancelar
										input.txtaccent_color.rippleria-dark( data-rippleria type='submit', value='Aceptar' )

		.topspace
		.page_container
			.colhh1
				.block_container.bg_white.calendar_container
					//- .colhh1.border_bottom
					//- 	.pd_18.ll_title.center_text Calendario
					.calendar
						.colhh1.white_text.center_text.bg_lightblue.calendar_colortitle
							.colhh1
								.bg_opacity
									.pd_18.ll_title.uppercase 
										label#weekday Dia Semana
							.today_title
								.month_title.uppercase Mes
								.day_title Dia
								.year_title Año
						.colhh1.opacity_color.calendar_monthcontainer
							.pd_8.center_text(style='padding-top: 16px;')
								#left.v_middle.button.circle.rippleria-dark( data-rippleria onclick='prevMonth()' )
								#right.v_middle.button.circle.rippleria-dark( data-rippleria onclick='nextMonth()' )
								.autocol.v_middle.my_cont
									#month Mes
									#year Año
							.colhh1
								.pd_4
									.b_text
										.colhh7.center_text
											.pd_8.dayname DOM
										.colhh7.center_text
											.pd_8.dayname LUN
										.colhh7.center_text
											.pd_8.dayname MAR
										.colhh7.center_text
											.pd_8.dayname MIE
										.colhh7.center_text
											.pd_8.dayname JUE
										.colhh7.center_text
											.pd_8.dayname VIE
										.colhh7.center_text
											.pd_8.dayname SAB
									.colhh1.tablecalendar
										.day_pos.circle.bgaccent_colorfall
										#calendar_month_content
										//- .day.v_top.today
										//- 	.pd_8
										//- 		.num 
										//- 			span 1
										//- 		.dot_cont
										//- 			span
										//- 			span
										//- 			span
					.calendar_right.v_top.bg_white
						.calendar_rightinner				
							.colhh1.flat_shadow.bgaccent_color.white_text
								#calendar_dayevents_title.pd_18.ll_title
									span#backcalendar.backicon_white.rippleria-dark( data-rippleria )
									#selectedDate.right_float Hoy
							#calendar_dayeventscont.colhh1.autooverflow
								.colhh1.empty_blocktext.center_text
									.centerempty
										.pd_64
											span.v_middle(style= 'background-image: url("images/calendar-remove.png")')
											.autocol.mm_title.pd_12 No hay eventos ni tareas para este dia.
											.ll_title.normal_txt Presiona &nbsp; + &nbsp; para agregar un nuevo evento en este día.
										
				.block_container.bg_white
					.colhh1.border_bottom.center_text
						.pd_18.ll_title Todo
					.colhh1
						.colhh1.load_container#calendar_showall
							.load
								.spinner
						.colhh1.empty_blocktext.center_text
							.pd_64
								span.v_middle(style= 'background-image: url("images/calendar-remove.png")')
								.autocol.mm_title.pd_12 No hay eventos ni tareas.
								.ll_title.normal_txt Presiona &nbsp; + &nbsp; para agregar un nuevo evento.

						.colhh1.slide_list
							.colhh1.hover.listitem.rippleria-dark(data-rippleria)
								.listitem_img
									span A
								.listitem_info
									.listitem_rightinfo 10 sep
									.listitem_title 
										b Título
									.listitem_bottomdata Asignatura: Alguna Asignatura
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.list_borderleft
										.pd_llist
											.sl_title Descripción
											.pd_16
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sagittis ex. Mauris a purus aliquet arcu viverra auctor. Suspendisse hendrerit ultricies dui ut fringilla. Vestibulum fermentum, ex eget elementum iaculis, arcu purus eleifend urna, et rutrum tortor massa nec arcu. Sed luctus ex suscipit, ornare tortor ac, feugiat libero. Sed ornare, felis interdum ullamcorper aliquet, neque felis cursus purus, in ultrices purus arcu ac nunc. Nulla accumsan neque a quam ullamcorper consectetur. Ut venenatis ligula in ligula vulputate, eu dignissim nisl mattis. Fusce ut bibendum metus, ut convallis eros. Sed sit amet dignissim neque, ut laoreet ipsum. Quisque vel orci consequat, porttitor lectus ut, sollicitudin justo.