extends layout

block content
		script( type='text/javascript' src='/js/calendarGenerator.js' )
		script( type='text/javascript' src='/js/ajax/ajaxCalendar.js' )

		#new_item.float_buttoncontainer( title='Nuevo' )
			span.bg_plus.bgaccent_color

		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					if privilegio != 2
						.pd_18.form_title.white_text Nuevo Recordatorio
					else
						.pd_18.form_title.white_text Nuevo
				.colhh1.hb_formcontainer
					form#calendarAddNew(name='calendarNewEvent' action='insertReminder' method='POST' enctype='multipart/form-data')
						.form_innercontainer
							.form_titlepad.bgprimary_color.flat_shadow
								.form_input.white_text.rel_pos
									input.activeline.white_text(type='text' required name='formCalendarTitle' autocomplete='off')
									label Título
							.pd_24
								- if (privilegio == 2)
									.form_input
										.b_text.left_title Tipo
										select#selectCalendarPostType
											option(value='reminder') Recordatorio
											option(value='publication') Publicación
									.form_input#showCourseToPost
										.b_text.left_title Curso
										select#showCoursesPost(name='calendarCourseSelectField')
											//- Aqui se agregan los cursos que tiene el usuario
											
								.form_input
									.b_text.left_title Fecha Limite
									.triple
										input(type='text', placeholder='DD' name='formCalendarDay' maxlength='2')
										input.third(type='text', placeholder='MM' name='formCalendarMonth' maxlength='2')
										input.third(type='text', placeholder='AAAA' name='formCalendarYear' maxlength='4')
								.form_input
									.b_text.left_title Hora Limite
									.double
										select(name='formCalendarHour' required)
											option(value='00' disabled) Hora
											- for(var h = 0; h < 24; h++)
												- if ( h < 10 )
													- h = '0' + h
												option(value=h)= h
										select.second(name='formCalendarMinute' required)
											option(value='00' disabled) Minuto
											- for(var m = 0; m < 60; m++)
												- if ( m < 10 )
													- m = '0' + m
												option(value=m)= m
								.form_input
									.b_text Comentarios
									textarea(placeholder='Añade un Comentario' name='formCalendarComment')
								- if (privilegio == 2)
									#showAttFiles.form_input.f_select
										.input_filecontainer
											input(type='file' multiple='multiple' name='publicationAttachedFiles')
										.file_buttoncontainer
											span.trigger.bg_attachment_white.circle.bgaccent_color2.flat_shadow.rippleria-dark( data-rippleria title='Adjuntar Archivo' )
											.right_float
												.f_value.ll_title.opacity_color.border_t Seleccionar Archivo
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
						.form_confirmblock
							.inner_confirmblock.bg_gray.flat_shadow
								.pd_24
									.colhh1.white_text
										.pd_8.ll_title ¿Realizar esta acción?
								.pd_12
									.autooverflow
										span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txt_red.b_text(type='button' value='Cancelar')
										span.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color2.b_text(type='submit' value='Aceptar')
		.topspace
		.page_container
			.colhh1
				.calendar_container.v_top
					.colhh1.calendar
						.block_container.white_text.center_text.bg_calendar
							.bg_opacity
								.colhh1
									.colhh1.bg_opacity
										.pd_18.ll_title.uppercase 
											label#weekday Dia Semana
								.today_title
									.month_title.uppercase Mes
									.day_title Dia
									.year_title Año
						.block_container.bg_white.opacity_color.calendar_monthcontainer
							.pd_16.center_text
								#left.v_middle.button.circle.rippleria-dark( data-rippleria onclick='prevMonth()' )
								#right.v_middle.button.circle.rippleria-dark( data-rippleria onclick='nextMonth()' )
								.autocol.v_middle.my_cont
									#month Mes
									#year Año
							.colhh1
								.pd_4
									.b_text
										.colhh7.center_text
											.pd_8.dayname DOM
										.colhh7.center_text
											.pd_8.dayname LUN
										.colhh7.center_text
											.pd_8.dayname MAR
										.colhh7.center_text
											.pd_8.dayname MIE
										.colhh7.center_text
											.pd_8.dayname JUE
										.colhh7.center_text
											.pd_8.dayname VIE
										.colhh7.center_text
											.pd_8.dayname SAB
									.colhh1.tablecalendar
										.day_pos.circle.bgaccent_color2
										#calendar_month_content
										//- .day.v_top.today
										//- 	.pd_8
										//- 		.num 
										//- 			span 1
										//- 		.dot_cont
										//- 			span
										//- 			span
										//- 			span

					//- .block_container.bg_calendar.calendar_imgcontainer
					//- 	.colhh1.white_text
					//- 		.bg_opacity.pd_18.uppercase
					//- 			.ll_title#calendar_bgtitle

				.calendar_allr.v_top
					.colhh1.h_listcontainer
						- if ( privilegio == 1 || privilegio == 2)
							.block_container.subl_top.center_text.uppercase(style="box-shadow: none;")
								.colhh1.b_text.bg_opcdarker.flat_shadow.white_text
									.colhh2.hover.h_listitem.cal_showtype.first
										.pd16_24.bgaccent_color
											| Publicaciones
									.colhh2.hover.h_listitem.cal_showtype
										.pd16_24
											| Recordatorios
						#block_selectedDate.v_top.bg_white.block_container
							.colhh1
								#calendar_dayevents_title.pd_18.ll_title
									span#backcalendar.backicon.rippleria-dark( data-rippleria )
									#selectedDate.right_float Hoy
						.colhh1
							#calendar_list
								- if(privilegio != 3)
									.listcontainer.h_listindex.first
										.block_container.empty_blocktext.center_text.bg_white
											.pd_64
												span.v_middle(style= 'background-image: url("images/calendar-remove.png")')
												.autocol.mm_title.pd_12.dayempty No hay publicaciones
												- if (privilegio == 1 || privilegio == 3) 
													.ll_title.normal_txt Presiona &nbsp; + &nbsp; para agregar un nuevo recordatorio.
												- if (privilegio == 2)
													.ll_title.normal_txt Presiona &nbsp; + &nbsp; para agregar un nuevo recordatorio o hacer una nueva publicacion.
										#publiclist_container.colhh1
											//- Aqui se añaden las publicaciones

									.listcontainer.h_listindex
										.block_container.empty_blocktext.center_text.bg_white
											.pd_64
												span.v_middle(style= 'background-image: url("images/calendar-remove.png")')
												.autocol.mm_title.pd_12.dayempty No hay Recordatorios
												- if (privilegio == 1 || privilegio == 3) 
													.ll_title.normal_txt Presiona &nbsp; + &nbsp; para agregar un nuevo recordatorio.
												- if (privilegio == 2)
													.ll_title.normal_txt Presiona &nbsp; + &nbsp; para agregar un nuevo recordatorio o hacer una nueva publicacion.
										#remindlist_container.colhh1
											//- Aqui se añaden los recordatorios

								- if(privilegio == 3)
									.listcontainer.h_listindex.first
										.block_container.empty_blocktext.center_text.bg_white
											.pd_64
												span.v_middle(style= 'background-image: url("images/calendar-remove.png")')
												.autocol.mm_title.pd_12.dayempty No hay Recordatorios
												- if (privilegio == 1 || privilegio == 3) 
													.ll_title.normal_txt Presiona &nbsp; + &nbsp; para agregar un nuevo recordatorio.
												- if (privilegio == 2)
													.ll_title.normal_txt Presiona &nbsp; + &nbsp; para agregar un nuevo recordatorio o hacer una nueva publicacion.
										#remindlist_container.colhh1
											//- Aqui se añaden los recordatorios
										
								.colhh1.load_container#calendar_showall(style='display: none;')
									.load
										.spinner
			.colhh1(style='height: 128px;')
			footer.colhh1.bg_white.flat_shadow
				.pd_18.ll_title.opacity_color.b_text
					span.small_icon.bg_logo.v_middle
					.autocol.v_middle SMDE - 2016
