extends layout

block content

		- if (privilegio == 2)
			#new_item.float_buttoncontainer( title='Nuevo Contenido' )
				span.bg_plus.bgaccent_color

			.hidden_blockcontainer
				.hidden_blockback.bgaccent_color
				.hidden_block.bg_white
					span.close.bg_close.rippleria-dark( data-rippleria )
					.colhh1.bgprimary_color
						.colhh1.pd_8.bgprimary_colorDarker
						.pd_18.form_title.white_text Nuevo
					.colhh1.hb_formcontainer
						form( name='contents_newform' )
							.form_innercontainer
								.form_titlepad.flat_shadow.bgprimary_color
									.form_input.white_text.rel_pos
										input.activeline.white_text(type='text' required)
										label Título del Tema
								.pd_24
									.form_input
										.b_text.left_title Asignatura
										select
											option Asignatura 1
											option Asignatura 2
											option Asignatura 3
											option Asignatura 4
									.form_input
										.b_text Descripción
										textarea(placeholder='Descripción')
									.form_input(style='height: 52px;')
										span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
							.form_confirmblock
								.inner_confirmblock.bg_gray.flat_shadow
									.pd_24(style='padding-bottom: 16px;')
										.colhh1.white_text
											.pd_8.ll_title ¿Realizar esta acción?
										.form_input.autooverflow
											span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color.b_text(type='button' value='Cancelar')
											span.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color2.b_text(type='submit' value='Aceptar')

		.topspace
		.page_container
			.colhh1.contents_container
				.colhh3.block_list
					.pd_lr8
						a(href="/periodic_table/periodicTable.html")
							.block_container.bg_white
								.b_img.flat_shadow(style='background-image: url("images/periodic_table.png")')
								.colhh1.listitem.rippleria-dark(data-rippleria data-name='Tabla Periodica' data-date='28' data-type='Química')
									.listitem_img
										span.flat_shadow T
									.listitem_info
										.listitem_rightinfo 28 Mar
										.listitem_title 
											b Tabla Periodica
										.listitem_bottomdata Química
								.colhh1
									.pd_18 Descripción del contenido