extends layout

block content

		- if (privilegio == 2)
			#new_item.float_buttoncontainer.leftlist_floatbutton( title='Nuevo Contenido' )
				span.bg_plus.bgaccent_color

			.hidden_blockcontainer
				.hidden_blockback.bgaccent_color
				.hidden_block.bg_white
					span.close.bg_close.rippleria-dark( data-rippleria )
					.colhh1.bgprimary_color
						.colhh1.pd_8.bgprimary_colorDarker
						.pd_18.form_title.white_text Nuevo
					.colhh1.hb_formcontainer
						form( name='contents_newform' )
							.form_innercontainer
								.form_titlepad.flat_shadow.bgprimary_color
								.form_input.white_text.rel_pos
									input.activeline.white_text(type='text' required)
									label Título
								.pd_24
									.form_input
										.b_text.left_title Asignatura
										select
											option Asignatura 1
											option Asignatura 2
											option Asignatura 3
											option Asignatura 4
									.form_input
										.b_text Descripción
										textarea(placeholder='Descripción')
									.form_input(style='height: 52px;')
										span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
							.form_confirmblock
								.inner_confirmblock.bg_gray.flat_shadow
									.pd_24(style='padding-bottom: 16px;')
										.colhh1.white_text
											.pd_8.ll_title ¿Realizar esta acción?
										.form_input.autooverflow
											span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color.b_text(type='button' value='Cancelar')
											span.raised_button.right_float.rippleria-dark(data-rippleria)
												input.txtaccent_color2.b_text(type='submit' value='Aceptar')

		.topspace
		.colhh1.bdb_container.block_containermsm
			.doublegrid.bg_white
				.halfgrid
					.colhh1.topleftlist
						.colhh1.list_title.rel_pos
							.title
								.pd_18.ll_title Temas
							.icons.rel_pos
								.small_icon.circle.bg_magnify.hover(title='Buscar')
								.small_icon.circle.bg_magnify.hover.minimenu(style='background-image: url("images/list_icon.png")' title='Mostrar')
								.minimenu_hidden.left_text(style='top: 9px;')
									#sort_alfa.pd_16.hover.rippleria-dark(data-rippleria) Alfabético
									#sort_date.pd_16.hover.rippleria-dark(data-rippleria) Fecha
									#sort_subject.pd_16.hover.rippleria-dark(data-rippleria) Asignatura
						.colhh1.bg_lightgray
							.search
								span.searchicon
								input#buscar(type='text' name='msm_chatsearch' placeholder='Buscar un Tema' autocomplete='off')
					#listcontainer.autooverflow.left_listcontainer
						.colhh1.no_result
						.colhh1.hover.listitem.rippleria-dark(data-rippleria data-name='Título Tema' data-date='28' data-type='Asignatura')
							.listitem_img
								span A
							.listitem_info
								.listitem_rightinfo 
									label 28
									label Mar
								.listitem_title 
									b Título Tema
								.listitem_bottomdata Asignatura
						.colhh1(style='height: 82px;')
				.halfgrid.secondgrid
					.msmtopname
						span#backicon.backicon.rippleria-dark( data-rippleria )
						.letter.white_text.lighttext.circle
						label.b_text Contenido
						.minimenu_container( title='Opciones' )
							.minimenu
								span
								span
								span
							.minimenu_hidden
								.pd_16.hover.rippleria-dark(data-rippleria) Item 1
								.pd_16.hover.rippleria-dark(data-rippleria) Item 2
					.msmcontent
						.msm_innercontent(style='height: 100%;')