doctype html
html
	head(name='theme-color')
		title= title
		meta( charset='UTF-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
		meta( name="theme-color" content="#303F9F" )
		meta( name='viewport', content='width=device−width, maximum-scale=1.0 user-scalable=no' )
		link( rel='shortcut icon', type='image/png', href='images/laptop-chromebook.png' )
		link( rel='stylesheet', href='/stylesheets/style.css')
		link( rel='stylesheet', href='/stylesheets/style_responsive.css')
	body.bg_red
		.bg_opacity
			.error_container
				.colhh1.bg_red.white_text.flat_shadow
					.pd_24
						.error_title
							span.v_top(style='background-image: url("images/alert-circle.png")')
							.autocol.bm_title.pd_12.v_top Error
						.pd_8
						.pd_8 Ha ocurrido un error durante la operación
							.pd_16
								.pd_4
									| - Razón 1
								.pd_4
									| - Razón 2

		