extends layout

block content
		script( type='text/javascript' src='/js/ajax/ajaxForum.js' )

		#new_item.float_buttoncontainer( title='Crear Tema Nuevo' )
			span.bg_plus.bgaccent_color

		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.form_title.white_text Crear Tema
				.colhh1.hb_formcontainer
					form( name='forum_new' )
						.form_innercontainer
							.form_titlepad.flat_shadow.bgprimary_color
								.form_input.white_text.rel_pos
									input.activeline.white_text(type='text' required)
									label Título del Tema
							.pd_24
								.form_input
									.b_text.left_title Asignatura
									input(type='text', placeholder='Asignatura')
								.form_input
									.b_text Descripción
									textarea(placeholder='Escribe aqui una descripción')
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
						.form_confirmblock
							.inner_confirmblock.bg_gray.flat_shadow
								.pd_24(style='padding-bottom: 16px;')
									.colhh1.white_text
										.pd_8.ll_title ¿Realizar esta acción?
								.pd_12
									.autooverflow
										span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color.b_text(type='button' value='Cancelar')
										span.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color2.b_text(type='submit' value='Aceptar')
							

		.topspace
		.page_container
			.colhh1.forumtopics_container.center_text
				.colhh3.block_list.left_text(data-name='Tabla Periodica' data-date='28' data-type='Química')
					.pd_lr8
						.block_container.bg_white.fr_clelem
							.b_img.bg_teal.flat_shadow
								.pd_16(style='padding-right: 13px;')
									.minimenu_container
										.minimenu
											span
											span
											span
										.minimenu_hidden
											.pd_16.hover Editar
											.pd_16.hover Seguir
											.pd_16.hover Reportar Abuso
								.colhh1.listitem.white_text.bg_opc
									.listitem_img
										span A
									.listitem_info
										.listitem_rightinfo 28/05/2016
										.listitem_title 
											b Algun tema
										.listitem_bottomdata Asignatura
							.pd_18
								.colhh1
									.colhh1.ll_title.opacity_color Creado Por:
									.colhh1.listitem
										.listitem_info
											.listitem_title 
												b Vato Vato Vato
											.listitem_bottomdata vato@vato.com
										.listitem_img
											img(src='images/profilephoto.png')
								.pd_4
								.colhh1
									.colhh1.ll_title.opacity_color Descripción:
									.pd_4
									.colhh1
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sagittis ex. Mauris a purus aliquet arcu viverra auctor. Suspendisse hendrerit ultricies dui ut fringilla. Vestibulum fermentum, ex eget elementum iaculis, arcu purus eleifend urna, et rutrum tortor massa nec arcu.

			.colhh1.forumtopic_display
				.grid_profilebackgroundcontainer
					.colhh1.block_list#selectedForumTopic
						.block_container.bg_white
							.b_img.bg_teal.flat_shadow
								.pd_16(style='padding-right: 13px;')
									.minimenu_container
										.minimenu
											span
											span
											span
										.minimenu_hidden
											.pd_16.hover Editar
											.pd_16.hover Seguir
											.pd_16.hover Reportar Abuso
								.colhh1.listitem.bg_opc.white_text
									.listitem_img
										span A
									.listitem_info
										.listitem_rightinfo 28/05/2016
										.listitem_title 
											b Algun tema
										.listitem_bottomdata Asignatura
							.pd_18
								.colhh1
									.colhh1.ll_title.opacity_color Creado Por:
									.colhh1.listitem
										.listitem_info
											.listitem_title 
												b Vato Vato Vato
											.listitem_bottomdata vato@vato.com
										.listitem_img
											img(src='images/profilephoto.png')
								.pd_4
								.colhh1
									.colhh1.ll_title.opacity_color Descripción:
									.pd_4
									.colhh1
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sagittis ex. Mauris a purus aliquet arcu viverra auctor. Suspendisse hendrerit ultricies dui ut fringilla. Vestibulum fermentum, ex eget elementum iaculis, arcu purus eleifend urna, et rutrum tortor massa nec arcu.

				.grid_rightcontainer
					.block_container.bg_white
						.colhh1.bg_lightgray
							.pd_18.ll_title Comentar
						form.colhh1.flat_input(name='addNewForumComment')
							textarea(type='text' name='forumCommentText' placeholder='Escribe un Comentario')
							input#forumTopicScope(type='hidden' name='forumTopicId' value='')
							input.b_text.opacity_color.rippleria-dark(data-rippleria type='submit' name='forumCommentSubmit' value='PUBLICAR' disabled)

					.colhh1
						.autocol.bg_lightgray.right_float.rel_pos(style="padding: 0px;")
							.minimenu.hover.pd_8
								.autocol.txtprimary_color.pd_4.v_middle.ll_title(style="margin-left: 4px;") Ordenar por
								.small_icon.bg_arrowdrop.v_middle
							.minimenu_hidden.left_text
								.pd_16.hover.rippleria-dark(data-rippleria) Cronológico
								.pd_16.hover.rippleria-dark(data-rippleria) Mas Me gusta
								.pd_16.hover.rippleria-dark(data-rippleria) Mas Respuestas

					.colhh1.forum_commentscontainer
						.block_container.bg_white.forum_comment.rel_pos
							.colhh1.flat_shadow.fc_zindex
								.pd_18
									.listitem_rightinfo
										label.item_date item.forumCommentDate
										label.item_time  item.forumCommentTime
									.colhh1.forum_commentimg.v_top
										img.circle(src='images/profilephoto.png')
									.colhh1.forum_alldata.v_top
										.pd_l18
											.listitem_title 
												b Nombre Completo
											.colhh1.opacity_color correo@email.com
											.pd_4
											.colhh1
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sagittis ex. Mauris a purus aliquet arcu viverra auctor. Suspendisse hendrerit ultricies dui ut fringilla. Vestibulum fermentum, ex eget elementum iaculis, arcu purus eleifend urna, et rutrum tortor massa nec arcu. Sed luctus ex suscipit, ornare tortor ac, feugiat libero. Sed ornare, felis interdum ullamcorper aliquet, neque felis cursus purus, in ultrices purus arcu ac nunc. Nulla accumsan neque a quam ullamcorper consectetur. Ut venenatis ligula in ligula vulputate, eu dignissim nisl mattis. Fusce ut bibendum metus, ut convallis eros. Sed sit amet dignissim neque, ut laoreet ipsum. Quisque vel orci consequat, porttitor lectus ut, sollicitudin justo.
								.pd10_16.listitemactions.pd_top0.autooverflow
									.autocol.left_float.mr_top4.b_text.opacity_color
										.autocol.pd_8.underline.pd_l0 10 Me gusta
										.autocol.pd_8.underline 4 No me gusta
										.autocol.pd_8.underline(title='Mostrar respuestas' data-id="item.idForumComment") 3 Respuestas
									.autocol.right_float
										span.circle.bg_like.hover(title="Me gusta este comentario")
										span.circle.bg_dislike.hover(title="No me gusta este comentario")
										span.circle.bg_editgray.hover(title='Editar')
										span.circle.bg_delete.hover(title='Eliminar')
										span.circle.bg_reply.hover(title="Responder")
								.pd_18.txtprimary_color.ll_title.pd_top0 Respuestas
							.colhh1.fshow_relpy
								.colhh1.hiddenreplyblock
									.forum_repliescontainer.border_bottom.bg_lightgray
										-for(var i = 0; i <= 3; i++)
											.forum_reply.border_bottom.rel_pos
												.pd_18
													.listitem_rightinfo Fecha
													.colhh1.forum_commentimg.v_top
														img.circle(src='images/profilephoto.png')
													.colhh1.forum_alldata.v_top
														.pd_l16
															.listitem_title
																b Nombre Completo
															.colhh1.opacity_color correo@email.com
															.pd_4
															.colhh1
																| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sagittis ex. Mauris a purus aliquet arcu viverra auctor. Suspendisse hendrerit ultricies dui ut fringilla. Vestibulum fermentum, ex eget elementum iaculis, arcu purus eleifend urna
												.pd10_16.listitemactions.pd_top0.autooverflow
													.autocol.left_float.mr_top4.b_text.opacity_color
														.autocol.pd_8.underline.pd_l0 10 Me gusta
														.autocol.pd_8.underline 4 No me gusta
													.autocol.right_float
														span.circle.bg_like.hover(title="Me gusta esta respuesta")
														span.circle.bg_dislike.hover(title="No me gusta esta respuesta")
														span.circle.bg_editgray.hover(title='Editar')
														span.circle.bg_delete.hover(title='Eliminar')
									form.colhh1.flat_input
										textarea(type='text' placeholder='Escribe una Respuesta')
										input.b_text.opacity_color.rippleria-dark( data-rippleria type='submit' value='PUBLICAR' disabled)

			.colhh1(style='height: 128px;')
			footer.colhh1.bg_white.flat_shadow
				.pd_18.ll_title.opacity_color.b_text
					span.small_icon.bg_logo.v_middle
					.autocol.v_middle SMDE - 2016	

		//- .colhh1.bdb_container.block_containermsm
		//- 	.doublegrid.bg_white
		//- 		.halfgrid
		//- 			.colhh1.topleftlist.rel_pos.bg_lightgray
		//- 				.colhh1.list_title.rel_pos
		//- 					.title
		//- 						.pd_18.ll_title Temas
		//- 					.icons.rel_pos
		//- 						#show_searchbar.small_icon.circle.bg_magnify.hover(title='Buscar')
		//- 						.small_icon.circle.bg_magnify.hover.minimenu(style='background-image: url("images/list_icon.png");background-size: 24px;' title='Ordenar Por')
		//- 						.minimenu_hidden.left_text(style='top: 9px;')
		//- 							#sort_alfa.pd_16.hover.rippleria-dark(data-rippleria) Alfabético
		//- 							#sort_date.pd_16.hover.rippleria-dark(data-rippleria) Fecha
		//- 							#sort_subject.pd_16.hover.rippleria-dark(data-rippleria) Asignatura
		//- 				.colhh1
		//- 					.search.s_type2.rel_pos
		//- 						span.searchicon
		//- 						span#close_searchbar.close_icon(title='Cerrar buscador')
		//- 						input#buscar(type='text' name='forum_topicssearch' placeholder='Buscar un Tema' autocomplete='off')
		//- 			#listcontainer.autooverflow.left_listcontainer
		//- 				.colhh1.no_result
		//- 				.colhh1.hover.listitem.rippleria-dark(data-rippleria data-name='Magnetismo' data-date='28' data-type='Física')
		//- 					.listitem_img
		//- 						span A
		//- 					.listitem_info
		//- 						.listitem_rightinfo 
		//- 							label 28 
		//- 							label Mar
		//- 						.listitem_title 
		//- 							b Magnetismo
		//- 						.listitem_bottomdata Física
		//- 				.colhh1.hover.listitem.rippleria-dark(data-rippleria data-name='Células' data-date='15' data-type='Biología')
		//- 					.listitem_img
		//- 						span A
		//- 					.listitem_info
		//- 						.listitem_rightinfo 
		//- 							label 15 
		//- 							label Mar
		//- 						.listitem_title 
		//- 							b Células
		//- 						.listitem_bottomdata Biología
		//- 				.colhh1.hover.listitem.rippleria-dark(data-rippleria data-name='Derivadas' data-date='19' data-type='Cálculo Diferencial')
		//- 					.listitem_img
		//- 						span A
		//- 					.listitem_info
		//- 						.listitem_rightinfo 
		//- 							label 19 
		//- 							label Mar
		//- 						.listitem_title 
		//- 							b Derivadas
		//- 						.listitem_bottomdata Cálculo Diferencial
		//- 				.colhh1.hover.listitem.rippleria-dark(data-rippleria data-name='Revolución' data-date='08' data-type='Historia')
		//- 					.listitem_img
		//- 						span A
		//- 					.listitem_info
		//- 						.listitem_rightinfo 
		//- 							label 08 
		//- 							label Mar
		//- 						.listitem_title 
		//- 							b Revolución
		//- 						.listitem_bottomdata Historia
		//- 		.halfgrid.secondgrid
		//- 			.msmtopname.bg_white
		//- 				span#backicon.backicon.rippleria-dark( data-rippleria )
		//- 				.letter.white_text.lighttext.circle
		//- 				label Título Tema
		//- 				.minimenu_container( title='Opciones' )
		//- 					.minimenu
		//- 						span
		//- 						span
		//- 						span
		//- 					.minimenu_hidden
		//- 						.pd_16.hover.rippleria-dark(data-rippleria) Item 1
		//- 						.pd_16.hover.rippleria-dark(data-rippleria) Item 2
		//- 			.msmcontent
		//- 				.msm_innercontent.bg_lightgray
		//- 					.pd_12
		//- 						.forum_commentcontainer.bg_white.rel_pos
		//- 							.pd_18
		//- 								.listitem_rightinfo(style='top: 18px') Jul 28
		//- 								.colhh1.forum_commentimg.v_top
		//- 									img.circle(src='images/profilephoto.png')
		//- 								.colhh1.forum_alldata.v_top
		//- 									.pd_l18
		//- 										.listitem_title 
		//- 											b Nombre Completo
		//- 										.pd_6
		//- 										.colhh1
		//- 											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sagittis ex. Mauris a purus aliquet arcu viverra auctor. Suspendisse hendrerit ultricies dui ut fringilla. Vestibulum fermentum, ex eget elementum iaculis, arcu purus eleifend urna, et rutrum tortor massa nec arcu. Sed luctus ex suscipit, ornare tortor ac, feugiat libero. Sed ornare, felis interdum ullamcorper aliquet, neque felis cursus purus, in ultrices purus arcu ac nunc. Nulla accumsan neque a quam ullamcorper consectetur. Ut venenatis ligula in ligula vulputate, eu dignissim nisl mattis. Fusce ut bibendum metus, ut convallis eros. Sed sit amet dignissim neque, ut laoreet ipsum. Quisque vel orci consequat, porttitor lectus ut, sollicitudin justo.

		//- 				form.colhh1.msminput(name='addNewForumComment')
		//- 					input.bg_lightgray(type='text' , name='newmsm' , placeholder='Escribe algo' , style='margin-left: 16px;')
		//- 					input.bgaccent_color.circle.bg_send.rippleria-dark( data-rippleria type='submit' , name='msmsend' , value='' )