extends layout

block content

		#new_item.float_buttoncontainer( title='Nuevo Tema' )
			span.bg_plus.bgaccent_color

		.topspace
		.colhh1.bdb_container.block_containermsm
			.doublegrid
				.halfgrid.bg_white
					.colhh1
						.pd_18.ll_title Temas
					.colhh1.border_bottom
						.search
							span.searchicon
							input#buscar(type='text',name='buscar', placeholder='Buscar un tema')
					.autooverflow.left_listcontainer
						.colhh1.hover
							.listitem_img
								span.bg_orange A
							.listitem_info
								.listitem_rightinfo 10 sep
								.listitem_title 
									b Tema
								.listitem_bottomdata Descripcion
						.colhh1.hover
							.listitem_img
								span.bg_purple B
							.listitem_info
								.listitem_rightinfo 8 sep
								.listitem_title 
									b Tema
								.listitem_bottomdata Descripcion
						.colhh1.hover
							.listitem_img
								span.bg_blue C
							.listitem_info
								.listitem_rightinfo 7 sep
								.listitem_title 
									b Tema
								.listitem_bottomdata Descripcion
						.colhh1.hover
							.listitem_img
								span.bg_red D
							.listitem_info
								.listitem_rightinfo 6 sep
								.listitem_title 
									b Tema
								.listitem_bottomdata Descripcion
						.colhh1.hover
							.listitem_img
								span.bg_teal E
							.listitem_info
								.listitem_rightinfo 5 sep
								.listitem_title 
									b Tema
								.listitem_bottomdata Descripcion
						.colhh1.hover
							.listitem_img
								span.bg_pink F
							.listitem_info
								.listitem_rightinfo 5 sep
								.listitem_title 
									b Tema
								.listitem_bottomdata Descripcion
				.halfgrid.secondgrid
					.msmtopname.border_bottom
						span#backicon.backicon
						.letter.bg_purple.white_text.lighttext B
						|	Tema
						.minimenu_container
							.minimenu
								span
								span
								span
							.minimenu_hidden
								.pd_12.hover Item 1
								.pd_12.hover Item 2
					.msmcontent
						.msm_innercontent
							.pd_16
						.colhh1.msminput
							input( type='text' , name='newmsm' , placeholder='Escribe algo' )
							input.bgaccent_color.bg_send( type='submit' , name='msmsend' , value='')