extends layout

block content
		script( type='text/javascript' src='/js/ajax/ajaxForum.js' )

		#new_item.float_buttoncontainer( title='Crear nuevo tema' )
			span.bg_plus.bgaccent_color

		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.form_title.white_text Crear Tema
				.colhh1.hb_formcontainer
					form(name='forum_new' action='insertForumTopic' method='POST')
						.form_innercontainer
							.form_titlepad.flat_shadow.bgprimary_color
								.form_input.white_text.rel_pos
									input.activeline.white_text(type='text' name='insertForumTopicTitle' required)
									label Título del Tema
							.pd_24
								.form_input
									.b_text.left_title Asignatura
									input(type='text', placeholder='Asignatura' name='insertForumTopicSubject')
								.form_input
									.b_text Descripción
									textarea(placeholder='Escribe aqui una descripción' name='insertForumTopicDescription')
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
						.form_confirmblock
							.inner_confirmblock.bg_gray.flat_shadow
								.pd_24(style='padding-bottom: 16px;')
									.colhh1.white_text
										.pd_8.ll_title ¿Realizar esta acción?
								.pd_12
									.autooverflow
										span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color.b_text(type='button' value='Cancelar')
										span.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color2.b_text(type='submit' value='Aceptar')
							

		.topspace
		.page_container
			.colhh1.center_text#forumtopics_container
				.colhh1.empty_blocktext.center_text
					.load_container
						.load
							.spinner

			.colhh1(style='height: 128px;')
			footer.colhh1.bg_white.flat_shadow
				.pd_18.ll_title.opacity_color.b_text
					span.small_icon.bg_logo.v_middle
					.autocol.v_middle SMDE - 2016