extends layout

block content

		style.
			.top_pallete{background-color: #8BC34A;}

		#new_item.float_buttoncontainer
			span.bg_plus.bg_green

		.topspace
		.colhh1.bdb_container.block_containermsm
			.doublegrid
				.halfgrid.bg_white
					.colhh1.border_bottom
						.pd_18.ll_title Temas
					.colhh1.hover.border_bottom
						.msmuser_img
							span.bg_orange A
						.msminfo
							.listrightdat 10 sep
							.msmuser_name 
								b Tema
							.listbottomdat Descripcion
					.colhh1.hover.border_bottom
						.msmuser_img
							span.bg_purple B
						.msminfo
							.listrightdat 8 sep
							.msmuser_name 
								b Tema
							.listbottomdat Descripcion
					.colhh1.hover.border_bottom
						.msmuser_img
							span.bg_blue C
						.msminfo
							.listrightdat 7 sep
							.msmuser_name 
								b Tema
							.listbottomdat Descripcion
					.colhh1.hover.border_bottom
						.msmuser_img
							span.bg_red D
						.msminfo
							.listrightdat 6 sep
							.msmuser_name 
								b Tema
							.listbottomdat Descripcion
					.colhh1.hover.border_bottom
						.msmuser_img
							span.bg_teal E
						.msminfo
							.listrightdat 5 sep
							.msmuser_name 
								b Tema
							.listbottomdat Descripcion
					.colhh1.hover.border_bottom
						.msmuser_img
							span.bg_pink F
						.msminfo
							.listrightdat 5 sep
							.msmuser_name 
								b Tema
							.listbottomdat Descripcion
				.halfgrid.secondgrid
					.msmtopname.bg_green.border_bottom
						span#backicon.backicon
						|	Tema
						.minimenu_container
							.minimenu
								span
								span
								span
							.minimenu_hidden
								.pd_12.hover Item 1
								.pd_12.hover Item 2
					.msmcontent
						.colhh1.msm_innercontent
							.pd_16
						.colhh1.msminput
							input( type='text' , name='newmsm' , placeholder='Escribe algo' )
							i.bg_white
							input.bg_orange.bg_send( type='submit' , name='msmsend' , value='')