doctype html
html
	head
		title= title
		meta( charset='UTF-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
		meta( name='viewport', content='width=device−width, maximum-scale=1.0 user-scalable=no' )
		link( rel='shortcut icon', type='image/png', href='images/laptop-chromebook.png' )
		link( rel='stylesheet', href='/stylesheets/style.css')
		link( rel='stylesheet', href='/stylesheets/style_responsive.css')
		script( type='text/javascript' src='/js/jquery-2.1.1.js' )
		script( type='text/javascript' src='/js/viewscontrol.js' )
	body
		.index_container
			.colhh1.bg_img.flat_shadow
				.bg_opacity
					.colhh1
						.pd_12.bg_indigo
					a( href='/login' )
						.float_button.bg_pink.bg_login.flat_shadow( title='Iniciar Sesión' )
					.pd.center_text.white_text.text_shadow
						.title SMDE
						.title_2 (Sistema Multi Didactico Educativo)
			.pd_24
				.colhh1
					.colhh2.v_middle
						.pd_18
							.block_container.bg_white
								.pd_64.title_3.center_text
									| SMDE es... ¡El mejor portal académico jamas creado!
					.colhh2.v_middle
						.pd_18
							.pd_64.title_3.center_text HOLA
				.colhh1			
					.colhh2.v_middle
						.pd_18
							.pd_64.title_3.center_text HOLA
					.colhh2.v_middle
						.pd_18
							.block_container.bg_white
								.pd_64.title_3.center_text
									| ¡Cuenta con muchas utilidades que facilitaran la organizacion en el Ámbito Escolar!