doctype html
html
	head(name='theme-color')
		title= title
		meta( charset='UTF-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
		meta( name="theme-color" content="#0288D1" )
		meta( name='viewport', content='width=device−width, maximum-scale=1.0 user-scalable=no' )
		link( rel='shortcut icon', type='image/png', href='images/smdelogo.png' )
		link( rel='stylesheet', href='/stylesheets/style.css')
		link( rel='stylesheet', href='/stylesheets/style_responsive.css')
		script( type='text/javascript' src='/js/jquery-2.1.1.js' )
		script( type='text/javascript' src='/js/viewscontrol.js' )
	body
		.index_container
			.colhh1.bg_img.flat_shadow
				.bg_opacity
					.colhh1
						.pd_4.bgprimary_color.border_bottom
					a( href='/login' )
						#login_indexbutton.float_button.bgaccent_color.bg_login.flat_shadow.circle( title='Iniciar Sesión' )
					div(style='height: 60px;')
					.pd.center_text.white_text
						.title 
							img.v_middle(src='images/laptop-chromebook_white.png')
							| SMDE
						.title_2 (Sistema Multi Didactico Educativo)
					div(style='height: 60px;')
			.colhh1
				div(style='height: 180px;')
				.pd_18
					.colhh2.v_middle
						.pd_64.center_text
							.bm_title.lighttext SMDE es el mejor portal académico
					.colhh2.v_middle
						.pd_64
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut sem a velit luctus luctus. Donec dictum feugiat fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam sapien neque, iaculis nec sapien sit amet, feugiat tempor enim. In magna felis, rhoncus ac nunc eu, tincidunt ullamcorper lectus. Aenean eu nulla ante. Proin tincidunt massa in est vehicula sollicitudin. Morbi varius ligula at felis commodo aliquet. Suspendisse potenti. Nam aliquet posuere risus. Etiam egestas odio vitae convallis venenatis.
				div(style='height: 180px;')
			.colhh1.bg_img2
				.bg_opacity
					div(style='height: 200px;')
					.center_text.white_text
						.colhh2.v_middle.responsiveimg
							.pd_32
								img(src='images/responsive.png')
						.colhh2.v_middle
							.pd_48
								.bm_title Completamente Responsiva
								br
								br
								.pd_18
									.mm_title Se adapta al tamaño del dispositivo donde estés navegando, para mayor comodidad y eficiencia.
					div(style='height: 200px;')
			.bg_cyan.white_text.center_text.flat_shadow
				div(style='height: 200px;')
				.pd_18
					.pd_64.bm_title.lighttext
						| Consulta material que tus mismos profesores suben!
				div(style='height: 200px;')
			.colhh1.center_text.bg_white.flat_shadow
				div(style='height: 160px;')
				.colhh1
					.pd_32
						h1 Utilizando las mejores tecnologia para el desarrollo web
				.colhh2.tools
					.pd_48
						img(src='images/language-html5.png')
						.pd_18
							h2 HTML 5
							br
							.pd_12
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut sem a velit luctus luctus. Donec dictum feugiat fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam sapien neque, iaculis nec sapien sit amet, feugiat tempor enim. In magna felis, rhoncus ac nunc eu, tincidunt ullamcorper lectus. Aenean eu nulla ante. Proin tincidunt massa in est vehicula sollicitudin. Morbi varius ligula at felis commodo aliquet. Suspendisse potenti. Nam aliquet posuere risus. Etiam egestas odio vitae convallis venenatis.
				.colhh2.tools
					.pd_48
						img(src='images/language-css3.png')
						.pd_18
							h2 CSS3
							br
							.pd_12
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut sem a velit luctus luctus. Donec dictum feugiat fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam sapien neque, iaculis nec sapien sit amet, feugiat tempor enim. In magna felis, rhoncus ac nunc eu, tincidunt ullamcorper lectus. Aenean eu nulla ante. Proin tincidunt massa in est vehicula sollicitudin. Morbi varius ligula at felis commodo aliquet. Suspendisse potenti. Nam aliquet posuere risus. Etiam egestas odio vitae convallis venenatis.
				.colhh2.tools
					.pd_48
						img(src='images/nodejs.png')
						.pd_18
							h2 Node JS
							br
							.pd_12
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut sem a velit luctus luctus. Donec dictum feugiat fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam sapien neque, iaculis nec sapien sit amet, feugiat tempor enim. In magna felis, rhoncus ac nunc eu, tincidunt ullamcorper lectus. Aenean eu nulla ante. Proin tincidunt massa in est vehicula sollicitudin. Morbi varius ligula at felis commodo aliquet. Suspendisse potenti. Nam aliquet posuere risus. Etiam egestas odio vitae convallis venenatis.
				.colhh2.tools
					.pd_48
						img(src='images/material-ui.png')
						.pd_18
							h2 Material Design
							br
							.pd_12
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut sem a velit luctus luctus. Donec dictum feugiat fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam sapien neque, iaculis nec sapien sit amet, feugiat tempor enim. In magna felis, rhoncus ac nunc eu, tincidunt ullamcorper lectus. Aenean eu nulla ante. Proin tincidunt massa in est vehicula sollicitudin. Morbi varius ligula at felis commodo aliquet. Suspendisse potenti. Nam aliquet posuere risus. Etiam egestas odio vitae convallis venenatis.

				div(style='height: 160px;')
			.colhh1.center_text
				div(style='height: 180px;')
				.colhh1
					.pd_64.bm_title.lighttext
							| Sigue a SMDE en sus redes sociales para informarte sobre las novedades
				.pd_24
				.social_img.pd_12
					.pd_48.circle.flat_shadow(style='background-color: #3b5998;background-image: url("images/facebook.png")')
					.pd_48.circle.flat_shadow(style='background-color: #55acee;background-image: url("images/twitter.png")')
					.pd_48.circle.flat_shadow(style='background-color: #dd4b39;background-image: url("images/google-plus.png")')
					.pd_48.circle.flat_shadow(style='background-color: #c4302b;background-image: url("images/youtube-play.png")')
				div(style='height: 220px;')
		//- .colhh1.bg_lightgreen.flat_shadow
		//- 	.pd_18.white_text
		//- 		.mm_title Contacto
		//- 		.pd_48 Lorem ipsum dolor
		.colhh1.footer.bg_indigo
			.pd_18.white_text.b_text
				| SMDE &#169;
			.colhh1.bg_opacity
				.pd_4

			