doctype html
html
	head
		title= title
		meta( charset='UTF-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
		meta( name='viewport', content='width=device-width, maximum-scale=1.0 user-scalable=no' )
		link( rel='shortcut icon', type='image/png', href='images/laptop-chromebook.png' )
		link( rel='stylesheet', href='/stylesheets/style.css')
		link( rel='stylesheet', href='/stylesheets/style_responsive.css')
		script( type='text/javascript' src='/js/jquery-2.1.1.js' )
		script( type='text/javascript' src='/js/viewscontrol.js' )
	body
		#menu.menu_grid
			.colhh1.menu_userbg
				.menu_userimg
					a( href='/profile' )
						img( src='images/profilephoto.png' )
				.colhh1.menu_username
					a( href='/profile' )
						.pd12_18 El vato chido
							span correo@email.com	
			.colhh1.menu_opccontainer
				.pd_tb_10.border_bottom
					a( href='/main' )
						.opc.hover
							span( style='background-image: url("images/home.png")' )
							label Inicio
					a( href='/subjects' )
						.opc.hover
							span( style='background-image: url("images/book-multiple.png")' )
							label Mis materias
					a( href='/upload' )
						.opc.hover
							span( style='background-image: url("images/pen.png")' )
							label Subir contenido
					a( href='/calendar' )
						.opc.hover
							span( style='background-image: url("images/calendar.png")' )
							label Calendario
					a( href='/messages' )
						.opc.hover
							span( style='background-image: url("images/email.png")' )
							label Mensajes
					a( href='/foro' )
						.opc.hover
							span( style='background-image: url("images/library.png")' )
							label Foro
					a( href='/profile' )
						.opc.hover
							span( style='background-image: url("images/account-box.png")' )
							label Perfil
					a( href='/students' )
						.opc.hover
							span( style='background-image: url("images/account-multiple.png")' )
							label Alumnos
				.pd_tb_10
					a( href='/settings' )
						.opc.hover
							span( style='background-image: url("images/settings.png")' )
							label Ajustes
					a( href='/login' )
						.opc.hover
							span( style='background-image: url("images/logout.png")' )
							label Cerrar sesión		
		.back_menu
		.top_pallete_inner.flat_shadow
		.top_pallete.colhh1.bg_indigo
			#menubutton.menu_button
				span
				span
				span
			.top_title #{title}
		.minimenu_container.notif
			.minimenu
				.notif_icon( title='Notificaciones' )
			.minimenu_hidden
				.colhh1.border_bottom.center_text.border_bottom
					.pd_12.ll_title Notificaciones
						span#notif_settings.right_float
				.colhh1.notifscroll
					.colhh1.hover
						.msmuser_img
							span.bg_orange A
						.msminfo
							.listrightdat 10 sep
							.msmuser_name 
								b Titulo de Notificación
							.listbottomdat Vista previa de notificación 
					.colhh1.hover
						.msmuser_img
							span.bg_purple B
						.msminfo
							.listrightdat 8 sep
							.msmuser_name 
								b Titulo de Notificación
							.listbottomdat Vista previa de notificación 
					.colhh1.hover
						.msmuser_img
							span.bg_blue C
						.msminfo
							.listrightdat 7 sep
							.msmuser_name 
								b Titulo de Notificación
							.listbottomdat Vista previa de notificación 
					.colhh1.hover
						.msmuser_img
							span.bg_red D
						.msminfo
							.listrightdat 6 sep
							.msmuser_name 
								b Titulo de Notificación
							.listbottomdat Vista previa de notificación 
					.colhh1.hover
						.msmuser_img
							span.bg_teal E
						.msminfo
							.listrightdat 5 sep
							.msmuser_name 
								b Titulo de Notificación
							.listbottomdat Vista previa de notificación 
					.colhh1.hover
						.msmuser_img
							span.bg_pink F
						.msminfo
							.listrightdat 5 sep
							.msmuser_name 
								b Titulo de Notificación
							.listbottomdat Vista previa de notificación 

	block content