extends layout

block content

		.topspace
		.colhh1.block_container.bg_img
			.bg_opacity
				.pd_40.center_text.white_text
					.pd_16.bm_title Bienvenido a SMDE
					.pd_16.mm_title El mejor portal académico
		.colhh1.block_container.bg_orange.mainoptions
			a( href='/signatures' )
				.pd_32.mm_title.white_text 
					span( style='background-image: url("images/book-multiple_white.png");' )
					| Mis Materias
		.colhh1.block_container.bg_blue.mainoptions
			a( href='/calendar' )
				.pd_32.mm_title.white_text 
					span( style='background-image: url("images/calendar_white.png");' )
					| Calendario
		.colhh1.block_container.bg_purple.mainoptions
			a( href='/profile' )
				.pd_32.mm_title.white_text 
					span( style='background-image: url("images/account-box_white.png");' )
					| Cuenta
