extends layout

block content

		#new_item.float_buttoncontainer( title='Agregar Usuario' )
			span.bg_plus.bgaccent_color
				
		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.form_title.white_text Nuevo
				.colhh1.hb_formcontainer
					form( name='forum_new' )
						.form_innercontainer
							.pd12_24.flat_shadow.bgprimary_color
								.form_input.white_text
									select.activeline.txtaccent_colorfall(name='insertUserType')
										option Alumno
										option Profesor
										option Departamento
										option Asignatura
							.pd_24
								.form_input
									.b_text.left_title Clave
									input(type='text', placeholder='Clave' name='insertUserIdKey')
								.form_input
									.b_text.left_title Nombre(s)
									input(type='text', placeholder='Nombre(s)' name='insertUserName')
								.form_input
									.b_text.left_title Apellidos
									.double
										input(type='text', placeholder='Paterno' name='insertUserLastName')
										input.second(type='text', placeholder='Materno' name='insertUserSecondLastName')
								.form_input
									.b_text.left_title Sexo
									select(name='insertUserSex')
										option H
										option M
								.form_input
									.b_text.left_title Email
									input(type='email', placeholder='email@email.com' name='insertUserEmail')
								.form_input
									.b_text.left_title Contraseña
									input(type='password', placeholder='*******' name='insertUserPassword')
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
						.form_confirmblock
							.inner_confirmblock.bg_gray.flat_shadow
								.pd_24(style='padding-bottom: 16px;')
									.colhh1.white_text
										.pd_8.ll_title ¿Realizar esta acción?
								.pd_12
									.autooverflow
										span.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color.b_text(type='button' value='Cancelar')
										span.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color.b_text(type='submit' value='Aceptar')

		.topspace
		.page_container
			.block_container
				.colhh1.profile_img2
					.photo
						a( href='/profile' )
							img.circle( src='images/profilephoto.png' )
					.name
						.pd_18
							b Admin
							span Institución: CEFO
			.h_listcontainer
				.colhh1.bg_lightgray(style='margin-bottom: -8px;')
					.colhh1.rel_pos
						.h_listline.bgaccent_color
						.h_listtopcontainer
							.h_listitem.first
								.pd_16.rippleria-dark( data-rippleria ) Todo
							.h_listitem
								.pd_16.rippleria-dark( data-rippleria ) Alumnos
							.h_listitem
								.pd_16.rippleria-dark( data-rippleria ) Profesores
							.h_listitem
								.pd_16.rippleria-dark( data-rippleria ) Departamentos
							.h_listitem
								.pd_16.rippleria-dark( data-rippleria ) Asignaturas
				.block_container.bg_white
					.colhh1.bgaccent_color2.flat_shadow
						.search
							span.searchicon
							input#buscar_slide(type='text',name='buscar', placeholder='Buscar una Persona o Asignatura')
					#listcontainer.colhh1.h_listindex.first
						.colhh1.slide_list(data-name='Nombre Completo' data-type='Profesor')
							.colhh1.hover.listitem.rel_pos.rippleria-dark(data-rippleria)
								.listitem_righticon.circle.bg_editgray.rippleria-dark(data-rippleria title='Editar')
								.listitem_img
									img(src='images/profilephoto.png')
								.listitem_info
									.listitem_title 
										b Nombre Completo
									.listitem_bottomdata Profesor
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.list_borderleft
										.pd_llist
											.sl_title Información
										.pd_llist
											.pd_l12
												| 7 grupos, 5 asignaturas
										.pd_llist
											.sl_title Asignaturas
										.pd_llist
											.pd_l12 Sin Asignaturas
										.colhh1.hover
											.listitem_img
												span A
											.listitem_info
												.listitem_title 
													b Algebra
												.listitem_bottomdata
													| 5 grupos
						.colhh1.slide_list(data-name='Nombre Completo' data-type='Alumno')
							.colhh1.hover.listitem.rel_pos.rippleria-dark(data-rippleria)
								.listitem_righticon.circle.bg_editgray.rippleria-dark(data-rippleria title='Editar')
								.listitem_img
									img(src='images/profilephoto.png')
								.listitem_info
									.listitem_title 
										b Nombre Completo
									.listitem_bottomdata Alumno
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.list_borderleft
										.pd_llist
											.sl_title Información
										.pd_llist
											.pd_l12
												| 3 grupos, 8 asignaturas
										.pd_llist
											.sl_title Asignaturas
										.pd_llist
											.pd_l12 Sin Asignaturas
										.colhh1.hover
											.listitem_img
												span B
											.listitem_info
												.listitem_title 
													b Biología
												.listitem_bottomdata
						.colhh1.slide_list(data-name='Humanistica' data-type='Departamento')
							.colhh1.hover.listitem.rel_pos.rippleria-dark(data-rippleria)
								.listitem_righticon.circle.bg_editgray.rippleria-dark(data-rippleria title='Editar')
								.listitem_img
									span A
								.listitem_info
									.listitem_title 
										b Humanistica
									.listitem_bottomdata
										| Departamento
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.list_borderleft
										.pd_llist
											.sl_title Información
										.pd_llist
											.colhh1.pd_l12 Asignaturas: 
												span.margin_l Civismo, Desarrollo Personal
						.colhh1.slide_list(data-name='Geografía' data-type='Asignatura')
							.colhh1.hover.listitem.rel_pos.rippleria-dark(data-rippleria)
								.listitem_righticon.circle.bg_editgray.rippleria-dark(data-rippleria title='Editar')
								.listitem_img
									span A
								.listitem_info
									.listitem_title 
										b Geografía
									.listitem_bottomdata
										| Asignatura
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.list_borderleft
										.pd_llist
											.sl_title Información
										.pd_llist
											.colhh1.pd_l12 Academia: 
												span.margin_l Humanisticas
											.pd_4
											.colhh1.pd_l12 Nivel:
												span.margin_l 1
					.colhh1.h_listindex
							
					.colhh1.h_listindex
							
					.colhh1.h_listindex

