extends layout

block content

		#new_item.float_buttoncontainer( title='Agregar Usuario' )
			span.bg_plus.bgaccent_color
				
		.hidden_blockcontainer
			.hidden_blockback
			.hidden_block.bg_white
				span.close.bg_close
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.ll_title.white_text Nuevo Usuario
				.colhh1.hb_formcontainer
					form
						.pd_24.border_bottom.flat_shadow.bgprimary_color
							.form_input.white_text
								.left_title.mm_title.v_middle Tipo
								select.activeline.txtaccent_colorfall(name='userType')
									option Alumno
									option Profesor
									option Departamento
									option Asignatura
						.pd_24
							.form_input
								.b_text.left_title Clave
								input(type='text', placeholder='Clave' name='userIdKey')
							.form_input
								.b_text.left_title Nombre(s)
								input(type='text', placeholder='Nombre(s)' name='userName')
							.form_input
								.b_text.left_title Apellidos
								.double
									input(type='text', placeholder='Paterno' name='userLastName')
									input.second(type='text', placeholder='Materno' name='userSecondLastName')
							.form_input
								.b_text.left_title Sexo
								select(name='userSex')
									option H
									option M
							.form_input
								.b_text.left_title Email
								input(type='email', placeholder='email@email.com' name='userEmail')
							.form_input
								.b_text.left_title Contraseña
								input(type='password', placeholder='*******' name='userPassword')
							.form_input(style='height: 52px;')
								span.bgaccent_color.bg_check.submit
									input(type='submit', value='')

		.topspace
		.page_container
			.block_container
				.colhh1.profile_img2
					.photo
						a( href='/profile' )
							img( src='images/profilephoto.png' )
					.name
						.pd_12 
							b Admin
							span Institución: CEFO

			.block_container.bg_white.h_listcontainer
				.colhh1.rel_pos.border_bottom
					.h_listline.bgaccent_color
					.h_listitem.first
						.pd_18.ll_title Todo
					.h_listitem
						.pd_18.ll_title Alumnos
					.h_listitem
						.pd_18.ll_title Profesores
					.h_listitem
						.pd_18.ll_title Asignatura
				.colhh1
					.search
						span.searchicon
						input#buscar(type='text',name='buscar', placeholder='Buscar una Persona o Asignatura')

				.colhh1.h_listindex.first
					.colhh1.listcontainer
						.colhh1.slide_list
							.colhh1.hover.rel_pos
								.listitem_righticon.bg_editgray
								.listitem_img
									img(src='images/profilephoto.png')
								.listitem_info
									.listitem_title 
										b Nombre Completo
									.listitem_bottomdata Profesor
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.list_borderleft
										.pd_llist
											.sl_title Información
											.pd_8
												| 7 grupos, 5 asignaturas
										.pd_llist
											.sl_title Asignaturas
										.colhh1.empty_blocktext.center_text
											.pd_64
												span.v_middle(style= 'background-image: url("images/close-box.png")')
												.autocol.mm_title.pd_12 Este usuario no tiene ninguna asignatura.
										.colhh1
											.listitem_img
												span.bg_orange A
											.listitem_info
												.listitem_title 
													b Algebra
												.listitem_bottomdata
													| 5 grupos
						.colhh1.slide_list
							.colhh1.hover.rel_pos
								.listitem_righticon.bg_editgray
								.listitem_img
									img(src='images/profilephoto.png')
								.listitem_info
									.listitem_title 
										b Nombre Completo
									.listitem_bottomdata Alumno
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.list_borderleft
										.pd_llist
											.sl_title Información
											.pd_8
												| 3 grupos, 8 asignaturas
										.pd_llist
											.sl_title Asignaturas
										.colhh1.empty_blocktext.center_text
											.pd_64
												span.v_middle(style= 'background-image: url("images/close-box.png")')
												.autocol.mm_title.pd_12 Este usuario no tiene ninguna asignatura.
										.colhh1
											.listitem_img
												span.bg_purple B
											.listitem_info
												.listitem_title 
													b Biología
												.listitem_bottomdata
						.colhh1.slide_list
							.colhh1.hover.rel_pos
								.listitem_righticon.bg_editgray
								.listitem_img
									span.bg_orange A
								.listitem_info
									.listitem_title 
										b Algebra
									.listitem_bottomdata
										| Asignatura
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.list_borderleft
										.pd_llist
											.sl_title Información
										.pd_llist
											.pd_8 Academia: 
												span.margin_l Matematicas
											.pd_8 Nivel:
												span.margin_l 1
				.colhh1.h_listindex
					.colhh1.listcontainer
						.colhh1.slide_list
							.colhh1.hover.rel_pos
								.listitem_righticon.bg_editgray
								.listitem_img
									img(src='images/profilephoto.png')
								.listitem_info
									.listitem_title 
										b Nombre Completo
									.listitem_bottomdata Alumno
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.list_borderleft
										.pd_llist
											.sl_title Información
											.pd_8
												| 3 grupos, 8 asignaturas
										.pd_llist
											.sl_title Asignaturas
										.colhh1.empty_blocktext.center_text
											.pd_64
												span.v_middle(style= 'background-image: url("images/close-box.png")')
												.autocol.mm_title.pd_12 Este usuario no tiene ninguna asignatura.
										.colhh1
											.listitem_img
												span.bg_purple B
											.listitem_info
												.listitem_title 
													b Biología
												.listitem_bottomdata

				.colhh1.h_listindex
					.colhh1.listcontainer
						.colhh1.slide_list
							.colhh1.hover.rel_pos
								.listitem_righticon.bg_editgray
								.listitem_img
									img(src='images/profilephoto.png')
								.listitem_info
									.listitem_title 
										b Nombre Completo
									.listitem_bottomdata Profesor
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.list_borderleft
										.pd_llist
											.sl_title Información
											.pd_8
												| 7 grupos, 5 asignaturas
										.pd_llist
											.sl_title Asignaturas
										.colhh1.empty_blocktext.center_text
											.pd_64
												span.v_middle(style= 'background-image: url("images/close-box.png")')
												.autocol.mm_title.pd_12 Este usuario no tiene ninguna asignatura.
										.colhh1
											.listitem_img
												span.bg_orange A
											.listitem_info
												.listitem_title 
													b Algebra
												.listitem_bottomdata
													| 2 grupos
				.colhh1.h_listindex
					.colhh1.listcontainer
						.colhh1.slide_list
							.colhh1.hover.rel_pos
								.listitem_righticon.bg_editgray
								.listitem_img
									span.bg_orange A
								.listitem_info
									.listitem_title 
										b Algebra
									.listitem_bottomdata
										| Asignatura
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.list_borderleft
										.pd_llist
											.sl_title Información
										.pd_llist
											.pd_8 Academia: 
												span.margin_l Matematicas
											.pd_8 Nivel:
												span.margin_l 1

