extends layout

block content

		#new_item.float_buttoncontainer.leftlist_floatbutton( title='Nuevo Mensaje' )
			span.bg_plus.bgaccent_color

		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.form_title.white_text.flat_shadow Nuevo
				.colhh1.hb_formcontainer
					form(name='new_messageform')
						.form_innercontainer
							.colhh1(style='margin-top:2px;')
								.form_input2.border_bottom
									input(type='text', placeholder='Nombre(s)')
								.form_input2
									textarea(placeholder='Escribe Algo')
								.pd_24
									.form_input(style='height: 52px;')
										span.bgaccent_color.bg_send.submit.circle.rippleria-dark( data-rippleria )
						.form_confirmblock
							.inner_confirmblock.bg_gray.flat_shadow
								.pd_24(style='padding-bottom: 16px;')
									.colhh1.white_text
										.pd_8.ll_title ¿Realizar esta acción?
								.pd_12
									.autooverflow
										span.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color.b_text(type='button' value='Cancelar')
										span.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color2.b_text(type='submit' value='Aceptar')

		.topspace
		.colhh1.bdb_container.block_containermsm
			.doublegrid
				.halfgrid.bg_white
					.colhh1.bgprimary_colorDarker.white_text.flat_shadow
						.colhh1.list_title.rel_pos
							.pd_18.ll_title Chats
							span.title_rightoptionicon.circle(style='background-image: url("images/list_icon.png")' title='Mostrar')
								.minimenu_hidden.left_text
									.pd_16.hover.rippleria-dark(data-rippleria) Todo
									.pd_16.hover.rippleria-dark(data-rippleria) No Leidos
									.pd_16.hover.rippleria-dark(data-rippleria) Archivados
						.colhh1
							.search
								span.searchicon
								input#buscar(type='text',name='buscar', placeholder='Buscar un chat')
					#listcontainer.autooverflow.left_listcontainer
						.colhh1.no_result
						.colhh1.hover.listitem.rippleria-dark(data-rippleria data-name='Nombre Completo' data-type='24 Feb')
							.listitem_img
								img(src='images/profilephoto.png')
							.listitem_info.border_bottom
								.listitem_rightinfo 
									label 24 
									label Feb
								.listitem_title 
									b Nombre Completo
								.listitem_bottomdata  Lorem ipsum dolor sit amet
						.colhh1(style='height: 82px;')
				.halfgrid.secondgrid
					.msmtopname
						span#backicon.backicon.rippleria-dark( data-rippleria )
						img#msm_userimg.circle( src='images/profilephoto.png' )
						label.b_text Nombre Completo
						.minimenu_container( title='Opciones' )
							.minimenu
								span
								span
								span
							.minimenu_hidden
								.pd_16.hover.rippleria-dark(data-rippleria) Archivar
								.pd_16.hover.rippleria-dark(data-rippleria) Eliminar
								.pd_16.hover.rippleria-dark(data-rippleria) Vaciar
								.pd_16.hover.rippleria-dark(data-rippleria) Buscar
					.msmcontent
						if datos[0].msmColor != undefined
							style.
								.leftmsm{background-color: #{datos[0].msmColor};}
						.msm_innercontent
							.colhh1
								.msm_pd
									.colhh1.margin_bot.msm_block
										.msm_img
											img.circle(src='images/profilephoto.png' title='El otro fulano')
										.msm_text
											.colhh1.autooverflow
												.leftmsm.bg_blue.white_text
													i
													.pd_12 
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sagittis ex. Mauris a purus aliquet arcu viverra auctor. Suspendisse hendrerit ultricies dui ut fringilla. Vestibulum
														span.msm_date 10:34 pm
											.colhh1.autooverflow
												.leftmsm.bg_blue.white_text
													.pd_12 
														|  Suspendisse hendrerit ultricies dui ut fringilla.
														span.msm_date 10:34 pm
									.colhh1.margin_bot.msm_block
										.msm_text
											.colhh1.autooverflow
												.rightmsm.bgaccent_color2.white_text
													i
													.pd_12 
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sagittis ex. Mauris a purus aliquet arcu viverra auctor.
														span.msm_date 10:34 pm
											.colhh1.autooverflow
												.rightmsm.bgaccent_color2.white_text
													.pd_12 
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
														span.msm_date 10:34 pm
										.msm_img
											img.circle.msm_imgright(src='images/profilephoto.png' title='Yo')
						.colhh1.msminput
							input( type='text' , name='newmsm' , placeholder='Mensaje' )
							input.bgaccent_color.circle.bg_send.rippleria-dark( data-rippleria type='submit' , name='msmsend' , value='')
						

