extends layout

block content

		#new_item.float_buttoncontainer( title='Nuevo Mensaje' )
			span.bg_plus.bgaccent_color

		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.form_title.white_text.border_bottom.flat_shadow Nuevo
				.colhh1.hb_formcontainer
					form
						.colhh1(style='margin-top:2px;')
							.form_input2.border_bottom
								input(type='text', placeholder='Nombre(s)')
							.form_input2
								textarea(placeholder='Escribe Algo')
							.pd_18
								.form_input(style='height: 52px;')
									span.bgaccent_color.bg_send.submit.circle.rippleria-dark( data-rippleria )
										input(type='submit', value='')

		.topspace
		.colhh1.bdb_container.block_containermsm
			.doublegrid
				.halfgrid.bg_white
					.colhh1
						.colhh1.center_text.list_title.rel_pos
							.pd_18.ll_title Chats
							span.title_rightoptionicon.circle(style='background-image: url("/images/list_icon.png")' title='Ordenar Por')
								.minimenu_hidden
									.pd_12.hover.rippleria-dark(data-rippleria) A - Z
									.pd_12.hover.rippleria-dark(data-rippleria) Z - A
									.pd_12.hover.rippleria-dark(data-rippleria) Fecha
						.colhh1
							.search
								span.searchicon
								input#buscar(type='text',name='buscar', placeholder='Buscar un chat')
					.autooverflow.left_listcontainer
						.colhh1.hover.listitem.rippleria-dark(data-rippleria)
							.listitem_img
								img(src='images/profilephoto.png')
							.listitem_info.border_bottom
								.listitem_rightinfo 
									label Dia 
									label 00:00
								.listitem_title 
									b Usuario 1
								.listitem_bottomdata  Lorem ipsum dolor sit amet
				.halfgrid.secondgrid
					.msmtopname
						span#backicon.backicon.rippleria-dark( data-rippleria )
						img.circle( src='images/profilephoto.png' )
						|	Juan Barrera
						.minimenu_container( title='Opciones' )
							.minimenu
								span
								span
								span
							.minimenu_hidden
								.pd_12.hover.rippleria-dark(data-rippleria) Archivar
								.pd_12.hover.rippleria-dark(data-rippleria) Eliminar
								.pd_12.hover.rippleria-dark(data-rippleria) Vaciar
								.pd_12.hover.rippleria-dark(data-rippleria) Buscar
					.msmcontent
						.msm_innercontent
							.colhh1
								.pd_24
									.colhh1.margin_bot.msmballon
										.colhh1.autooverflow
											.leftmsm.bg_white
												i.bg_white
												.pd_8 
													| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sagittis ex. Mauris a purus aliquet arcu viverra auctor. Suspendisse hendrerit ultricies dui ut fringilla. Vestibulum
													span.msm_date 10:34 pm
										.colhh1.autooverflow
											.leftmsm.bg_white
												.pd_8 
													|  Suspendisse hendrerit ultricies dui ut fringilla.
													span.msm_date 10:34 pm
									.colhh1.margin_bot.msmballon
										.colhh1.autooverflow
											.rightmsm.bg_blue.white_text
												i.bg_blue
												.pd_8 
													| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id sagittis ex. Mauris a purus aliquet arcu viverra auctor.
													span.msm_date 10:34 pm
										.colhh1.autooverflow
											.rightmsm.bg_blue.white_text
												.pd_8 
													| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
													span.msm_date 10:34 pm
										.colhh1.autooverflow
											.rightmsm.bg_blue.white_text
												.pd_8 
													| Lorem ipsum dolor sit amet.
													span.msm_date 10:34 pm
						.colhh1.msminput
							input( type='text' , name='newmsm' , placeholder='Mensaje' )
							input.bgaccent_color.circle.bg_send.rippleria-dark( data-rippleria type='submit' , name='msmsend' , value='')
						

