extends layout

block content

		style.
			.top_pallete{background-color: #9C27B0;}

		.float_buttoncontainer
			span.bg_edit.bg_darkpurple

		.topspace
		.block_container
			.colhh1.profile_img
				#m_menu.m_menu
					span
					span
					span
				.m_hiddenmenu
					.pd_12.hover Foto de Perfil
					.pd_12.hover Portada
				.photo
					img( src='images/profilephoto.png' )
				.name
					.pd_12 
						b El Vato Chido
						span correo@email.com

		.block_container.bg_white
			.colhh1.border_bottom
				.colhh1
					.pd_18 
						b Personal
				.colhh1
					.pd_18  Nombre: 
						span.margin_l Juanito
					.pd_18  Edad: 
						label.normal_txt.margin_l 17
					.pd_18  Domicilio: 
						span.margin_l Su casa
			.colhh1
				.colhh1
					.pd_18 
						b Académico
				.colhh1			
					.pd_18  Institución: 
						span.margin_l Escuela chida
					.pd_18  Grado Escolar: 
						span.margin_l Azul :v
					.pd_18  Algo: 
						span.margin_l No se que