extends layout

block content

		.float_buttoncontainer( title='Editar Perfil' )
			span.bg_edit.bgaccent_color

		.topspace
		.page_container
			.block_container
				.colhh1.profile_img
					.pd_18
						.minimenu_container
							.minimenu
								span
								span
								span
							.minimenu_hidden
								.pd_12.hover Foto de Perfil
								.pd_12.hover Portada
					.photo
						img( src='images/profilephoto.png' )
					.name
						.pd_12 
							b Nombre Completo
							span correo@email.com

			.block_container.bg_white.h_listcontainer
				.colhh1.rel_pos.border_bottom
					.h_listline.bgaccent_color
					.h_listitem.first
						.pd_18.ll_title Información
					.h_listitem
						.pd_18.ll_title Contactos
					.h_listitem
						.pd_18.ll_title Asignaturas

				.colhh1.h_listindex.first
					.colhh1.border_bottom
						.colhh1
							.pd_18.ll_title Personal
						.colhh1
							.pd_18  Nombre: 
								span.margin_l Aquiles
							.pd_18  Apellido Paterno: 
								label.normal_txt.margin_l Vala
							.pd_18  Apellido Materno: 
								label.normal_txt.margin_l del Toro
							.pd_18  Edad: 
								label.normal_txt.margin_l 17
							.pd_18  Domicilio: 
								span.margin_l Su casa
					.colhh1
						.colhh1
							.pd_18.ll_title Académico
						.colhh1			
							.pd_18  Institución: 
								span.margin_l Escuela chida
							.pd_18  Grado Escolar: 
								span.margin_l Azul :v
							.pd_18  Materias Inscritas: 
								span.margin_l 6

				.colhh1.h_listindex
					.colhh1
						.colhh1
							.search
								span.searchicon
								input#buscar(type='text',name='buscar', placeholder='Buscar un contacto')
						.colhh1.slide_list
							.colhh1.hover.rel_pos
								.listitem_righticon.bg_chat
								.listitem_img
									img(src='images/profilephoto.png')
								.listitem_info
									.listitem_title 
										b Bartolome Durán
									.listitem_bottomdata Profesor
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.list_borderleft
										.pd_llist
											.sl_title Información
											.pd_8
												| 2 grupos en común, 19 contactos en común
						.colhh1.slide_list
							.colhh1.hover.rel_pos
								.listitem_righticon.bg_chat
								.listitem_img
									img(src='images/profilephoto.png')
								.listitem_info
									.listitem_title 
										b Juan Barrera
									.listitem_bottomdata Alumno
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.list_borderleft
										.pd_llist
											.sl_title Información
											.pd_8
												| 4 grupos en común, 165 contactos en común
				.colhh1.h_listindex
					.colhh1
						.colhh1.empty_blocktext.center_text
							.pd_64
								span.v_middle(style= 'background-image: url("images/close-box.png")')
								.autocol.pd_12.mm_title No tienes ninguna asignatura.
						.colhh1.hover
							.listitem_img
								span.bg_orange A
							.listitem_info
								.listitem_rightinfo Promedio: 
									label 7.64
								.listitem_title 
									b Algebra
								.listitem_bottomdata.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span
									span
						.colhh1.hover
							.listitem_img
								span.bg_purple B
							.listitem_info
								.listitem_rightinfo Promedio: 
									label 9.42
								.listitem_title 
									b Biología
								.listitem_bottomdata.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span.bg_blue
						.colhh1.hover
							.listitem_img
								span.bg_blue C
							.listitem_info
								.listitem_rightinfo Promedio: 
									label 6.98
								.listitem_title 
									b Cálculo
								.listitem_bottomdata.rank
									span.bg_blue
									span.bg_blue
									span
									span
									span
						.colhh1.hover
							.listitem_img
								span.bg_red D
							.listitem_info
								.listitem_rightinfo Promedio: 
									label 7.34
								.listitem_title 
									b Domotica
								.listitem_bottomdata.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span
									span
						.colhh1.hover
							.listitem_img
								span.bg_teal E
							.listitem_info
								.listitem_rightinfo Promedio: 
									label 8.03
								.listitem_title 
									b Etimologías
								.listitem_bottomdata.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span
						.colhh1.hover
							.listitem_img
								span.bg_pink F
							.listitem_info
								.listitem_rightinfo Promedio: 
									label 8.92
								.listitem_title 
									b Formación Cívica
								.listitem_bottomdata.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span
			.block_container.bg_white
				.pd_18
					.progress_emoticon
						#indicator.bgaccent_color
						span( style='background-image: url("/images/emoticon-sad.png")' )
						span( style='background-image: url("/images/emoticon-neutral.png")' )
						span( style='background-image: url("/images/emoticon-happy.png")' )
						span
						div Tu rendimiento es muy bueno!
				.pd_18
					.ll_title Promedio General
						span#signaturegralprom.right_float.ll_title 8.055
					.colhh1.bg_lightgray.borad.inbox_shadow
						#signatureprogress.progress_bar.bgaccent_color.borad
