extends layout

block content

		style.
			.top_pallete{background-color: #9C27B0;}

		.hidden_blockcontainer.autooverflow
			.hidden_blockback
			.hidden_block
				span.close.bg_close
				.block_container.bg_white
					.colhh1.border_bottom.bg_purple.flat_shadow
						.pd_18.ll_title.white_text Formulario
					.colhh1.hb_formcontainer
						.pd_24
							.form_input
								.b_text Nombre
								input.activeline(type='text', placeholder='Lorem ipsum dolor')
							.form_input
								.b_text Edad
								select.activeline
									script.
										for(x=12;x<=65;x++){
											document.write('<option>' + x + '</option>');
										}
							.form_input
								.b_text Escribe algo
								textarea
							.form_input(style='height: 48px;')
								span.bg_teal.submit
									input(type='submit', value='')

		.float_buttoncontainer( title='Editar Perfil' )
			span.bg_edit.bg_teal

		.topspace
		.page_container
			.block_container
				.colhh1.profile_img
					.pd_18
						.minimenu_container
							.minimenu
								span
								span
								span
							.minimenu_hidden
								.pd_12.hover Foto de Perfil
								.pd_12.hover Portada
					.photo
						img( src='images/profilephoto.png' )
					.name
						.pd_12 
							b El Vato Chido
							span correo@email.com

			.block_container.bg_white.h_listcontainer
				.colhh1.rel_pos.border_bottom
					.h_listline.bg_teal
					.h_listitem.first
						.pd_18.ll_title Información
					.h_listitem
						.pd_18.ll_title Contactos

				.colhh1.h_listindex.first
					.colhh1.border_bottom
						.colhh1
							.pd_18.ll_title Personal
						.colhh1
							.pd_18  Nombre: 
								span.margin_l Aquiles
							.pd_18  Apellido Paterno: 
								label.normal_txt.margin_l Vala
							.pd_18  Apellido Materno: 
								label.normal_txt.margin_l del Toro
							.pd_18  Edad: 
								label.normal_txt.margin_l 17
							.pd_18  Domicilio: 
								span.margin_l Su casa
					.colhh1
						.colhh1
							.pd_18.ll_title Académico
						.colhh1			
							.pd_18  Institución: 
								span.margin_l Escuela chida
							.pd_18  Grado Escolar: 
								span.margin_l Azul :v
							.pd_18  Materias Inscritas: 
								span.margin_l 6

				.colhh1.h_listindex
					.colhh1
						.colhh1.border_bottom
							.search
								span.searchicon
								input#buscar(type='text',name='buscar', placeholder='Buscar un contacto')
						.colhh1.slide_list
							.colhh1.hover.rel_pos
								.msm_chaticon.bg_chat
								.msmuser_img
									img(src='images/profilephoto.png')
								.msminfo
									.msmuser_name 
										b Bartolome Durán
									.listbottomdat Profesor
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.pd18_32
										.sl_title Información
										.pd_8
											| 2 grupos en común, 19 contactos en común
						.colhh1.slide_list
							.colhh1.hover.rel_pos
								.msm_chaticon.bg_chat
								.msmuser_img
									img(src='images/profilephoto.png')
								.msminfo
									.msmuser_name 
										b Juan Barrera
									.listbottomdat Alumno
							.colhh1.innerlistitem
								.colhh1.border_bottom
									.pd18_32
										.sl_title Información
										.pd_8
											| 4 grupos en común, 165 contactos en común
			.block_container.bg_white
				.pd_18
					.progress_emoticon
						#indicator.bg_teal
						span( style='background-image: url("/images/emoticon-sad.png")' )
						span( style='background-image: url("/images/emoticon-neutral.png")' )
						span( style='background-image: url("/images/emoticon-happy.png")' )
						span
						div Tu rendimiento es muy bueno!
				.pd_18
					.ll_title Promedio General
						span#signaturegralprom.right_float.ll_title 8.055
					.colhh1.bg_lightgray.borad.inbox_shadow
						#signatureprogress.progress_bar.bg_teal.borad
			.block_container.bg_white
				.colhh1
					.colhh1.border_bottom
						.pd_18.ll_title Asignaturas
					.colhh1
						.colhh1.empty_blocktext.center_text
							.pd_64.mm_title
								span.v_middle(style= 'background-image: url("images/close-box.png")')
								| No tienes ninguna asignatura.
						.colhh1.hover
							.msmuser_img
								span.bg_orange A
							.msminfo
								.listrightdat Promedio: 
									label 7.64
								.msmuser_name 
									b Algebra
								.listbottomdat.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span
									span
						.colhh1.hover
							.msmuser_img
								span.bg_purple B
							.msminfo
								.listrightdat Promedio: 
									label 9.42
								.msmuser_name 
									b Biología
								.listbottomdat.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span.bg_blue
						.colhh1.hover
							.msmuser_img
								span.bg_blue C
							.msminfo
								.listrightdat Promedio: 
									label 6.98
								.msmuser_name 
									b Cálculo
								.listbottomdat.rank
									span.bg_blue
									span.bg_blue
									span
									span
									span
						.colhh1.hover
							.msmuser_img
								span.bg_red D
							.msminfo
								.listrightdat Promedio: 
									label 7.34
								.msmuser_name 
									b Domotica
								.listbottomdat.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span
									span
						.colhh1.hover
							.msmuser_img
								span.bg_teal E
							.msminfo
								.listrightdat Promedio: 
									label 8.03
								.msmuser_name 
									b Etimologías
								.listbottomdat.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span
						.colhh1.hover
							.msmuser_img
								span.bg_pink F
							.msminfo
								.listrightdat Promedio: 
									label 8.92
								.msmuser_name 
									b Formación Cívica
								.listbottomdat.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span