extends layout

block content

		.topspace
		.page_container
			.colhh1.block_container.bg_white
				.colhh1.border_bottom
					.pd_18.ll_title General
				.colhh1
					.colhh1.slide_list
						.colhh1.hover.listitem.rippleria-dark(data-rippleria)
							.pd_18
								| Ajuste 1
						.colhh1.innerlistitem
							.colhh1.border_bottom
								.pd_18
					.colhh1.slide_list
						.colhh1.hover.listitem.rippleria-dark(data-rippleria)
							.pd_18
								| Ajuste 2
					.colhh1.slide_list
						.colhh1.hover.listitem.rippleria-dark(data-rippleria)
							.pd_18
								| Ajuste 3
			.colhh1.block_container.bg_white
				.colhh1.border_bottom
					.pd_18.ll_title Cuenta
				.colhh1
					.colhh1.slide_list
						.colhh1.hover.listitem.rippleria-dark(data-rippleria)
							.pd_18
								| Ajuste 1
					.colhh1.slide_list
						.colhh1.hover.listitem.rippleria-dark(data-rippleria)
							.pd_18
								| Ajuste 2
					.colhh1.slide_list
						.colhh1.hover.listitem.rippleria-dark(data-rippleria)
							.pd_18
								| Ajuste 3
			.colhh1.block_container.bg_white
				.colhh1.border_bottom
					.pd_18.ll_title Notificaciones
				.colhh1
					.colhh1.slide_list
						.colhh1.hover.listitem.rippleria-dark(data-rippleria)
							.pd_18
								| Ajuste 1
					.colhh1.slide_list
						.colhh1.hover.listitem.rippleria-dark(data-rippleria)
							.pd_18
								| Ajuste 2
					.colhh1.slide_list
						.colhh1.hover.listitem.rippleria-dark(data-rippleria)
							.pd_18
								| Ajuste 3
			.colhh1.block_container.bg_white
				.colhh1.border_bottom
					.pd_18.ll_title Interfaz
				.colhh1
					.colhh1.slide_list
						.colhh1.hover.listitem.rippleria-dark(data-rippleria)
							.pd_18
								| Tema
						.colhh1.innerlistitem
							.colhh1.border_bottom
								.pd_18
					.colhh1.slide_list
						.colhh1.hover.listitem.rippleria-dark(data-rippleria)
							.pd_18
								| Color Mensajes
						.colhh1.innerlistitem
							.colhh1.border_bottom.center_text
								.pd_18.settings_colors
									//- script colors 
								.colhh1.hb_formcontainer
									form(name='msmChangeColor')
										.pd_24(style='padding-top: 12px;')
											.form_input(style='height: 52px;')
												span.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria title='Confirmar')
													input(type='submit' value='')