extends layout

block content

		style.
			.top_pallete{background-color: #00BCD4;}

		.topspace
		.page_container
			.colhh1.block_container.bg_white
				.colhh1
					.pd_16.border_bottom
						b General
				.colhh1
					.colhh1.hover
						.pd_16
							| Ajuste 1
					.colhh1.hover
						.pd_16
							| Ajuste 2
					.colhh1.hover
						.pd_16
							| Ajuste 3
			.colhh1.block_container.bg_white
				.colhh1
					.pd_16.border_bottom
						b Cuenta
				.colhh1
					.colhh1.hover
						.pd_16
							| Ajuste 1
					.colhh1.hover
						.pd_16
							| Ajuste 2
					.colhh1.hover
						.pd_16
							| Ajuste 3
			.colhh1.block_container.bg_white
				.colhh1
					.pd_16.border_bottom
						b Notificaciones
				.colhh1
					.colhh1.hover
						.pd_16
							| Ajuste 1
					.colhh1.hover
						.pd_16
							| Ajuste 2
					.colhh1.hover
						.pd_16
							| Ajuste 3