extends layout

block content

		style.
			.top_pallete{background-color: #FF9800;}

		#new_item.float_buttoncontainer
			span.bg_plus.bg_amber

		.topspace
		.page_container
			.colhh1.block_container
				.colhh1.profile_img2
					.photo
						img( src='images/profilephoto.png' )
					.name
						.pd_12 
							b El Vato Chido
							span correo@email.com
			.colhh1.block_container.bg_white
				.pd_18
					| Promedio General
					span#signaturegralprom.right_float 8.055
					.colhh1.bg_gray.borad.inbox_shadow
						#signatureprogress.progress_bar.bg_blue.borad

			.colhh1.block_container
				.colhh1.bg_white
					.colhh1.hover
						.msmuser_img
							span.bg_orange A
						.msminfo
							.listrightdat Promedio: 
								label 7.64
							.msmuser_name 
								b Algebra
							.listbottomdat.rank
								span.bg_blue
								span.bg_blue
								span.bg_blue
								span
								span
					.colhh1.hover
						.msmuser_img
							span.bg_purple B
						.msminfo
							.listrightdat Promedio: 
								label 9.42
							.msmuser_name 
								b Biología
							.listbottomdat.rank
								span.bg_blue
								span.bg_blue
								span.bg_blue
								span.bg_blue
								span.bg_blue
					.colhh1.hover
						.msmuser_img
							span.bg_blue C
						.msminfo
							.listrightdat Promedio: 
								label 6.98
							.msmuser_name 
								b Cálculo
							.listbottomdat.rank
								span.bg_blue
								span.bg_blue
								span
								span
								span
					.colhh1.hover
						.msmuser_img
							span.bg_red D
						.msminfo
							.listrightdat Promedio: 
								label 7.34
							.msmuser_name 
								b Domotica
							.listbottomdat.rank
								span.bg_blue
								span.bg_blue
								span.bg_blue
								span
								span
					.colhh1.hover
						.msmuser_img
							span.bg_teal E
						.msminfo
							.listrightdat Promedio: 
								label 8.03
							.msmuser_name 
								b Etimologías
							.listbottomdat.rank
								span.bg_blue
								span.bg_blue
								span.bg_blue
								span.bg_blue
								span
					.colhh1.hover
						.msmuser_img
							span.bg_pink F
						.msminfo
							.listrightdat Promedio: 
								label 8.92
							.msmuser_name 
								b Formación Cívica
							.listbottomdat.rank
								span.bg_blue
								span.bg_blue
								span.bg_blue
								span.bg_blue
								span