extends layout

block content

		style.
			.top_pallete{background-color: #0D47A1;}

		.hidden_blockcontainer.autooverflow
			.hidden_blockback
			.hidden_block
				span.close.bg_close
				.block_container.bg_white
					.colhh1.border_bottom.bg_darkblue.flat_shadow
						.pd_18.ll_title.white_text Formulario
					.colhh1.hb_formcontainer
						.pd_24
							.form_input
								.b_text Nombre
								input.activeline(type='text', placeholder='Lorem ipsum dolor')
							.form_input
								.b_text Edad
								select.activeline
									script.
										for(x=12;x<=65;x++){
											document.write('<option>' + x + '</option>');
										}
							.form_input
								.b_text Escribe algo
								textarea
							.form_input(style='height: 48px;')
								span.bg_pink.submit
									input(type='submit', value='')

		#new_item.float_buttoncontainer( title='Nueva' )
			span.bg_plus.bg_pink

		.topspace
		.page_container
			.colhh1.block_container
				.colhh1.profile_img2
					.photo
						a( href='/profile' )
							img( src='images/profilephoto.png' )
					.name
						.pd_12 
							b El Vato Chido
							span correo@email.com

			.colhh1.block_container
				.colhh1.bg_white
					.colhh1.border_bottom
						.pd_18.ll_title Asignaturas impartidas
					.colhh1
						.colhh1.empty_blocktext.center_text
							.pd_64.mm_title
								span.v_middle(style= 'background-image: url("images/close-box.png")')
								| No tienes ninguna asignatura.
						.colhh1.hover
							.msmuser_img
								span.bg_orange A
							.msminfo
								.listrightdat Fecha: 
									label 2 Feb 2015
								.msmuser_name 
									b Algebra
								.listbottomdat.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span
									span
