extends layout

block content

		style.
			.top_pallete{background-color: #0D47A1;}

		#new_item.float_buttoncontainer( title='Nueva' )
			span.bg_plus.bg_pink

		.topspace
		.page_container
			.colhh1.block_container
				.colhh1.profile_img2
					.photo
						a( href='/profile' )
							img( src='images/profilephoto.png' )
					.name
						.pd_12 
							b El Vato Chido
							span correo@email.com

			.colhh1.block_container
				.colhh1.bg_white
					.colhh1.border_bottom
						.pd_18.ll_title Asignaturas impartidas
					.colhh1
						.colhh1.empty_blocktext.center_text
							.pd_64
								span.v_middle(style= 'background-image: url("images/close-box.png")')
								.autocol.pd_12.mm_title No tienes ninguna asignatura.
						.colhh1.hover
							.msmuser_img
								span.bg_orange A
							.msminfo
								.listrightdat Fecha: 
									label 2 Feb 2015
								.msmuser_name 
									b Algebra
								.listbottomdat.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span
									span
			.colhh1.block_container
				.colhh1.bg_white
					.colhh1.border_bottom
						.pd_18.ll_title Mis Alumnos
					.colhh1
						.colhh1.empty_blocktext.center_text
							.pd_64
								span.v_middle(style= 'background-image: url("images/close-box.png")')
								.autocol.pd_12.mm_title No tienes ningun Alumno.
						.colhh1.hover
							.msmuser_img
								img(src='images/profilephoto.png')
							.msminfo 
								.msmuser_name 
									b James Burton
								.listbottomdat
									| 2 Grupos
