extends layout

block content

		#new_item.float_buttoncontainer( title='Nueva' )
			span.bg_plus.bgaccent_color

		.topspace
		.page_container
			.colhh1.block_container
				.colhh1.profile_img2
					.photo
						a( href='/profile' )
							img( src='images/profilephoto.png' )
					.name
						.pd_12 
							b El Vato Chido
							span correo@email.com

			.colhh1.block_container
				.colhh1.bg_white
					.colhh1.border_bottom
						.pd_18.ll_title Asignaturas impartidas
					.colhh1
						.colhh1.empty_blocktext.center_text
							.pd_64
								span.v_middle(style= 'background-image: url("images/close-box.png")')
								.autocol.pd_12.mm_title No tienes ninguna asignatura.
						.colhh1.hover
							.listitem_img
								span.bg_orange A
							.listitem_info
								.listitem_rightinfo Fecha: 
									label 2 Feb 2015
								.listitem_title 
									b Algebra
								.listitem_bottomdata.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span
									span
			.colhh1.block_container
				.colhh1.bg_white
					.colhh1.border_bottom
						.pd_18.ll_title Mis Alumnos
					.colhh1
						.colhh1.empty_blocktext.center_text
							.pd_64
								span.v_middle(style= 'background-image: url("images/close-box.png")')
								.autocol.pd_12.mm_title No tienes ningun Alumno.
						.colhh1.hover
							.listitem_img
								img(src='images/profilephoto.png')
							.listitem_info 
								.listitem_title 
									b James Burton
								.listitem_bottomdata
									| 2 Grupos
