extends layout

block content

		#new_item.float_buttoncontainer( title='Nueva' )
			span.bg_plus.bgaccent_color

		.topspace
		.page_container
			.colhh1.block_container
				.colhh1.profile_img2
					.photo
						a( href='/profile' )
							img( src='images/profilephoto.png' )
					.name
						.pd_12 
							b Nombre Completo
							span correo@email.com
			.colhh1.block_container.bg_white
				.pd_18
					.progress_emoticon
						#indicator.bgaccent_color
						span( style='background-image: url("/images/emoticon-sad.png")' )
						span( style='background-image: url("/images/emoticon-neutral.png")' )
						span( style='background-image: url("/images/emoticon-happy.png")' )
						span
						div Tu rendimiento es muy bueno!
				.pd_18
					.ll_title Promedio General
						span#signaturegralprom.right_float.ll_title 8.055
					.colhh1.bg_lightgray.borad.inbox_shadow
						#signatureprogress.progress_bar.bgaccent_color.borad

			.colhh1.block_container
				.colhh1.bg_white
					.colhh1
						.colhh1.empty_blocktext.center_text
							.pd_64
								span.v_middle(style= 'background-image: url("images/close-box.png")')
								.autocol.mm_title.pd_12 No tienes ninguna asignatura.
						.colhh1.hover
							.listitem_img
								span.bg_orange A
							.listitem_info
								.listitem_rightinfo Promedio: 
									label 7.64
								.listitem_title 
									b Algebra
								.listitem_bottomdata.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span
									span
						.colhh1.hover
							.listitem_img
								span.bg_purple B
							.listitem_info
								.listitem_rightinfo Promedio: 
									label 9.42
								.listitem_title 
									b Biología
								.listitem_bottomdata.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span.bg_blue
						.colhh1.hover
							.listitem_img
								span.bg_blue C
							.listitem_info
								.listitem_rightinfo Promedio: 
									label 6.98
								.listitem_title 
									b Cálculo
								.listitem_bottomdata.rank
									span.bg_blue
									span.bg_blue
									span
									span
									span
						.colhh1.hover
							.listitem_img
								span.bg_red D
							.listitem_info
								.listitem_rightinfo Promedio: 
									label 7.34
								.listitem_title 
									b Domotica
								.listitem_bottomdata.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span
									span
						.colhh1.hover
							.listitem_img
								span.bg_teal E
							.listitem_info
								.listitem_rightinfo Promedio: 
									label 8.03
								.listitem_title 
									b Etimologías
								.listitem_bottomdata.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span
						.colhh1.hover
							.listitem_img
								span.bg_pink F
							.listitem_info
								.listitem_rightinfo Promedio: 
									label 8.92
								.listitem_title 
									b Formación Cívica
								.listitem_bottomdata.rank
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span.bg_blue
									span