extends layout

block content
		script( type='text/javascript' src='/js/ajax/ajaxProfile.js' )
		script( type='text/javascript' src='/js/subjectsControl.js' )

		#new_item.float_buttoncontainer( title='Inscribir Cursos' )
			span.bg_bookplus.bgaccent_color

		.alert_container.flat_shadow.pd_18.borad.bg_white
			span.bg_alert
			span.alert_inner

		.hidden_blockcontainer
			.hidden_blockback.bgaccent_color
			.hidden_block.bg_white.hb_responsive
				span.close.bg_close.rippleria-dark( data-rippleria )
				.colhh1.bgprimary_color
					.colhh1.pd_8.bgprimary_colorDarker
					.pd_18.form_title.white_text.flat_shadow Inscribir Cursos
				.colhh1.hb_formcontainer
					form#add_subjectsform.hb_resgrid.rel_pos(name='subjects_add' action='insertSubjectsCoursesSelfUser' method='POST')
						.form_input2.border_bottom
							input#coursesAddInput(type='hidden' name='insertCoursesField')
						.colhh1.form_innercontainer.border_bottom
							.colhh1.sub_listtitle
								.pd_18.ll_title Cursos a Inscribir
							#added_subjects.colhh1.subjects_formlist.added_subjectsformlist
								.pd_18.center_text.ll_title.opacity_color#sub_hide Agrega un curso para Inscribir
									.pd_8
								//- Aqui van las asignaturas para agregar
							.pd_24#addSubjectsCoursesSubmit
								.form_input(style='height: 52px;')
									span#subjectsubmitButton.bgaccent_color.bg_check.submit.circle.rippleria-dark( data-rippleria )
						.form_confirmblock
							.inner_confirmblock.bg_gray.flat_shadow
								.pd_24(style='padding-bottom: 16px;')
									.colhh1.white_text
										.pd_8.ll_title ¿Realizar esta acción?
								.pd_12
									.autooverflow
										span.submit_cancel.raised_button.right_float.rippleria-dark(data-rippleria)
											input.txtaccent_color.b_text(type='button' value='Cancelar')
										span.raised_button.right_float.rippleria-dark(data-rippleria)
											input#submit_addsubjectsform.txtaccent_color2.b_text(type='submit' value='Aceptar')
					.colhh1.hb_resgrid.resgridright
						.colhh1.sub_listtitle
							.pd_18.ll_title Cursos Disponibles
						.pd_24(style='padding-top: 0;')
							.form_input
								.b_text.left_title.opacity_color Filtrar:
								.double
									select#subcourType.opacity_color.b_text
										option(value='None' selected) Sin filtro
										option(value='Subject') Asignatura
										option(value='Course') Grupo
									select#subcourList.second.opacity_color.b_text
										option(value='None' selected) Sin filtro
						#new_subjects.colhh1.subjects_formlist.listcontainer
							.colhh1.empty_blocktext.center_text
								.pd_64(style='padding-bottom: 48px;padding-top: 32px;')
									span.v_middle(style= 'background-image: url("images/close-box.png")')
									.autocol.mm_title.pd_12 No hay asignaturas para inscribir.
									.ll_title.normal_txt Al parecer ya inscribiste todo.
							#coursesToAdd
								//- Aqui se agregan los cursos para inscribir

		.topspace
		.page_container
			.grid_profilebackgroundcontainer
				.block_container.bg_white.profile_bgcont
					.colhh1.profile_img
						.photo
							a(href='/profile')
								img.circle.flat_shadow(src='profile_photos/'+ datos[0].photoName +'.png')
					.pd_24
						.colhh1
							.name
								div #{datos[0].userName} #{datos[0].userLastName} #{datos[0].userSecondLastName}
								span #{datos[0].userEmail}
					.pd_lr24
						.border_bottom

					.pd_16.center_text
						.rel_pos
							if privilegio == 1
								.colhh2
									.pd_4.sl_title
										| Profesores
									.pd_4.lighttext#countContacts(style='font-size: 21px;')
								.divider
								.colhh2
									.pd_4.sl_title
										| Cursos
									.pd_4.lighttext#countCourses(style='font-size: 21px;')
							if privilegio == 2
								.colhh2
									.pd_4.sl_title
										| Alumnos
									.pd_4.lighttext#countContacts(style='font-size: 21px;')
								.divider
								.colhh2
									.pd_4.sl_title
										| Cursos
									.pd_4.lighttext#countCourses(style='font-size: 21px;')
				
				.block_container.bg_white.progress_profile
					.pd_18.ll_title.bg_lightgray
						| Rendimiento
					.pd_18
						.progress_emoticon.center_text
							#indicator.circle.bg_indigo
							span( style='background-image: url("/images/emoticon-sad.png")' )
							span( style='background-image: url("/images/emoticon-neutral.png")' )
							span( style='background-image: url("/images/emoticon-happy.png")' )
							span
					.pd_18
						.ll_title Promedio General
							span#signaturegralprom.right_float.ll_title 8.21
						.colhh1.bg_lightgray.inbox_shadow.borad
							#signatureprogress.progress_bar.bgaccent_color2.borad.flat_shadow

			.grid_rightcontainer
				- if ( privilegio == 1 )
					.colhh1
						.colhh1.block_container.bg_lightgray
							.pd_18.ll_title Mis asignaturas
						.colhh1
							.listcontainer.courses_cl
								.colhh1.flat_shadow.bg_white.empty_blocktext.center_text
									.pd_64
										span.v_middle(style= 'background-image: url("images/close-box.png")')
										.autocol.pd_12.mm_title Sin cursos.
										.ll_title.normal_txt Presiona &nbsp; + &nbsp; para inscribir cursos
								#profilecourses_list
									//- Aqui se agrega la lista de asignaturas

				- else if ( privilegio == 2 )
					.h_listcontainer
						.block_container.rel_pos.top_hlist.bg_lightgray(style='box-shadow: none;')
							.colhh1.rel_pos
								.h_listline.bgaccent_color
								.h_listtopcontainer
									.autocol.h_listitem.first
										.pd_16.rippleria-dark( data-rippleria ) Cursos
									.autocol.h_listitem
										.pd_16.rippleria-dark( data-rippleria ) Alumnos
						.colhh1
							.colhh1.h_listindex.first
								.listcontainer.courses_cl
									.colhh1.flat_shadow.bg_white.empty_blocktext.center_text
										.pd_64
											span.v_middle(style= 'background-image: url("images/close-box.png")')
											.autocol.mm_title.pd_12 No tienes ninguna asignatura.
											.ll_title.normal_txt Presiona &nbsp; + &nbsp; para agregar asignaturas.
									#profilecourses_list
										//- Aqui se agrega la lista de asignaturas
									
							.colhh1.h_listindex.contacts_cl
								.colhh1
									.colhh1.block_container.bg_lightgray
										.search.rel_pos
											span.searchicon
											input#search_block(type='text',name='buscar', placeholder='Buscar un alumno')
									#listcontainer.listcontainer
										.colhh1.flat_shadow.bg_white.empty_blocktext.center_text
											.pd_64
												span.v_middle(style= 'background-image: url("images/account-remove.png")')
												.autocol.pd_12.mm_title No tienes contactos.
										.colhh1.no_result.bg_white
										#profilecontacts_list
											.students
												//- Aqui se agregan los alumnos con el front

			.colhh1(style='height: 128px;')
			footer.colhh1.bg_white.flat_shadow
				.pd_18.ll_title.opacity_color.b_text
					span.small_icon.bg_logo.v_middle
					.autocol.v_middle SMDE - 2016
