extends layout

block content

		#new_item.float_buttoncontainer( title='Nuevo Contenido' )
			span.bg_plus.bgaccent_color

		.topspace
		.colhh1.bdb_container.block_containermsm
			.doublegrid
				.halfgrid.bg_white
					.colhh1.center_text
						.pd_18.ll_title Mis Contenidos
					.colhh1
						.search
							span.searchicon
							input#buscar(type='text',name='buscar', placeholder='Buscar contenido')
					.autooverflow.left_listcontainer
						.colhh1.hover.rippleria-dark(data-rippleria)
							.listitem_img
								span.bg_orange A
							.listitem_info
								.listitem_rightinfo 10 sep
								.listitem_title 
									b Tema
								.listitem_bottomdata Materia: 
						.colhh1.hover.rippleria-dark(data-rippleria)
							.listitem_img
								span.bg_purple B
							.listitem_info
								.listitem_rightinfo 8 sep
								.listitem_title 
									b Tema
								.listitem_bottomdata Materia: 
						.colhh1.hover.rippleria-dark(data-rippleria)
							.listitem_img
								span.bg_blue C
							.listitem_info
								.listitem_rightinfo 7 sep
								.listitem_title 
									b Tema
								.listitem_bottomdata Materia: 
						.colhh1.hover.rippleria-dark(data-rippleria)
							.listitem_img
								span.bg_red D
							.listitem_info
								.listitem_rightinfo 6 sep
								.listitem_title 
									b Tema
								.listitem_bottomdata Materia: 
						.colhh1.hover.rippleria-dark(data-rippleria)
							.listitem_img
								span.bg_teal E
							.listitem_info
								.listitem_rightinfo 5 sep
								.listitem_title 
									b Tema
								.listitem_bottomdata Materia: 
						.colhh1.hover.rippleria-dark(data-rippleria)
							.listitem_img
								span.bg_pink F
							.listitem_info
								.listitem_rightinfo 5 sep
								.listitem_title 
									b Tema
								.listitem_bottomdata Materia: 
				.halfgrid.secondgrid
					.msmtopname
						span#backicon.backicon.rippleria-dark( data-rippleria )
						.letter.bg_blue.white_text.lighttext C
						|	Contenido
						.minimenu_container( title='Opciones' )
							.minimenu
								span
								span
								span
							.minimenu_hidden
								.pd_12.hover.rippleria-dark(data-rippleria) Item 1
								.pd_12.hover.rippleria-dark(data-rippleria) Item 2
					.msmcontent
						.msm_innercontent(style='height: 100%;')