extends layout

block content

		#new_item.float_buttoncontainer( title='Nuevo Contenido' )
			span.bg_plus.bgaccent_color

		.topspace
		.colhh1.bdb_container.block_containermsm
			.doublegrid
				.halfgrid.bg_white
					.colhh1
						.colhh1.center_text.list_title
							.pd_18.ll_title Mis Contenidos
						.colhh1
							.search
								span.searchicon
								input#buscar(type='text',name='buscar', placeholder='Buscar un Contenido')
					.autooverflow.left_listcontainer
						.colhh1.hover.listitem.rippleria-dark(data-rippleria)
							.listitem_img
								span A
							.listitem_info
								.listitem_rightinfo 
									label Dia 
									label 00:00
								.listitem_title 
									b Tema
								.listitem_bottomdata Asignatura
				.halfgrid.secondgrid
					.msmtopname
						span#backicon.backicon.rippleria-dark( data-rippleria )
						.letter.white_text.lighttext.circle
						label Contenido
						.minimenu_container( title='Opciones' )
							.minimenu
								span
								span
								span
							.minimenu_hidden
								.pd_12.hover.rippleria-dark(data-rippleria) Item 1
								.pd_12.hover.rippleria-dark(data-rippleria) Item 2
					.msmcontent
						.msm_innercontent(style='height: 100%;')