extends layout

block content

		style.
			.top_pallete{background-color: #00BCD4;}

		#new_item.float_buttoncontainer
			span.bg_edit.bg_blue

		.topspace
		.colhh1.bdb_container.block_containermsm
			.doublegrid
				.halfgrid.bg_white
					.colhh1.hover
						.msmuser_img
							img(src='images/profilephoto.png')
						.msminfo.border_bottom
							.listrightdat 14:35
							.msmuser_name 
								b Juanito Bananas Locas
							.listbottomdat Hola vato Loco
					.colhh1.hover
						.msmuser_img
							img(src='images/profilephoto.png')
						.msminfo.border_bottom
							.listrightdat 14:35
							.msmuser_name 
								b Juanito Bananas Locas
							.listbottomdat Hola vato Loco
					.colhh1.hover
						.msmuser_img
							img(src='images/profilephoto.png')
						.msminfo.border_bottom
							.listrightdat 14:35
							.msmuser_name 
								b Juanito Bananas Locas
							.listbottomdat Hola vato Loco
					.colhh1.hover
						.msmuser_img
							img(src='images/profilephoto.png')
						.msminfo.border_bottom
							.listrightdat 14:35
							.msmuser_name 
								b Juanito Bananas Locas
							.listbottomdat Hola vato Loco
				.halfgrid
					.msmtopname.bg_blue.border_bottom
						span#backicon.backicon
						img( src='images/profilephoto.png' )
						|	Juanito Bananas Locas
						.minimenu
							span
							span
							span
					.msmcontent
						.colhh1.msm_innercontent
							.pd_16
								.colhh1.margin_mintb.om
									.ownmsm.bg_white
										i.bg_white
										.pd_8 
											| Hola mijo
											span
								.colhh1.margin_mintb
									.ownmsm.bg_white
										.pd_8 
											| Que tal
											span
						.colhh1.msminput
							input( type='text' , name='newmsm' , placeholder='Mensaje' )
							i.bg_white
							input.bg_darkblue.bg_send( type='submit' , name='msmsend' , value='')