@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

*{
	margin: 0;
	padding: 0;
	font-size: 14px;
}

html{
	height: 100%;
}

body {
  	padding: 0;
 	margin: 0;
 	height: 100%;
	font-family: 'Roboto' , 'Helvetica' , sans-serif;
	background-color: #eeeeee;
	color: #000;
	font-size: 15px;
}


/*---------------------------------------------------------------------------------------
	Titles
-----------------------------------------------------------------------------------------*/

.b_title{
	font-size: 48px;
	font-weight: bolder;
}

.bm_title{
	font-size: 32px;
	font-weight: lighter;
}

.mm_title{
	font-size: 22px;
	font-weight: lighter;
}

.ml_title{
	font-size: 20px;
	font-weight: lighter;
}

.lighttext{font-weight: lighter;}

.uppercase{text-transform: uppercase;}

/*---------------------------------------------------------------------------------------
	GRID
-----------------------------------------------------------------------------------------*/

.colhh1, .colhh2, .colhh3, .colhh4, .colhh5{
	width: 100%;
	height: auto;
}

.autocol{
	width: auto;
	display: inline-block;
}

/*---------------------------------------------------------------------------------------
	PADDING
-----------------------------------------------------------------------------------------*/

.pd_8{padding: 8px;}

.pd_12{padding: 12px;}

.pd_14{padding: 14px;}

.pd_16{padding: 16px;}

.pd_18{padding: 18px;}

.pd_24{padding: 24px;}

.pd_32{padding: 32px;}

.pd_40{padding: 40px;}

.pd12_24{padding: 12px 24px 12px 24px;}

.pd12_18{padding: 12px 18px 12px 18px;}

.pd_tb_8{padding: 8px 0 8px 0;}

.pd_tb_10{padding: 10px 0 10px 0;}

.pd_tb_12{padding: 12px 0 12px 0;}

.pd_tb_16{padding: 16px 0 16px 0;}

.pd_tb_24{padding: 24px 0 24px 0;}

.bdb_container{
	overflow: hidden;
}

.doublegrid{
	width: 200%;
	height: 100%;
}

.halfgrid{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	height: 100%
}


/*---------------------------------------------------------------------------------------
	SPACES
-----------------------------------------------------------------------------------------*/

.margin_top{margin-top: 24px;}

.margin_mintb{margin-top: 4px;margin-bottom: 4px;}

/*---------------------------------------------------------------------------------------
	BG - COLORS
-----------------------------------------------------------------------------------------*/

.bg_white{background-color: #fff;}
.bg_blue{background-color: #2196F3;}
.bg_darkblue{background-color: #0D47A1;}
.bg_lightblue{background-color: #03A9F4;}
.bg_cyan{background-color: #00BCD4;}
.bg_indigo{background-color: #3F51B5;}
.bg_teal{background-color: #009688;}
.bg_green{background-color: #4CAF50;}
.bg_lightgreen{background-color: #8BC34A;}
.bg_lime{background-color: #CDDC39;}
.bg_orange{background-color: #FF9800;}
.bg_red{background-color: #F44336;}
.bg_purple{background-color: #9C27B0;}
.bg_darkpurple{background-color: #673AB7;}
.bg_pink{background-color: #E91E63;}
.bg_yellow{background-color: #FFEB3B;}
.bg_amber{background-color: #FFC107;}
.bg_darkorange{background-color: #FF5722;}
.bg_brown{background-color: #795548;}
.bg_bluegray{background-color: #607D8B;}
.bg_gray{background-color: #e0e0e0;}
.bg_darkgray{background-color: #212121;}

.bg_edit{background-image: url('/images/whitepencil.png');
	background-size: 40%;background-repeat: no-repeat;
	background-position: center;}

.bg_send{background-image: url('/images/send.png');
	background-size: 44%;background-repeat: no-repeat;
	background-position: center;}

.border_bottom{border-bottom: 1px solid rgba(0,0,0,0.1);}

.border_bottomthick{border-bottom: 2px solid rgba(0,0,0,0.4);}

.normal_txt{font-weight: normal;}

.hover{cursor: pointer;}

.hover:hover{background-color: rgba(0,0,0,0.1);}

/*---------------------------------------------------------------------------------------
	ALIGN
-----------------------------------------------------------------------------------------*/

.left_text{text-align: left;}

.right_text{text-align: right;}

.center_text{text-align: center;}

.left_float{float: left;}

.right_float{float: right;}

.margin_l{margin-left: 8px;}

.margin_r{margin-right: 8px;}

/*---------------------------------------------------------------------------------------
	LOGIN
-----------------------------------------------------------------------------------------*/

body.login{
	background: url('/images/login_bg.jpg') no-repeat fixed center;
	background-size: cover;
}

.op_bg{
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: auto;
	position: relative;
	color: #fff;
}

.op_bg .b_title{padding: 48px;padding-bottom: 16px;}

.login_container{
	width: auto;
	padding: 32px;
	border-radius: 2px;
}

.login_container a{
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}

.login_container a:hover{
	text-decoration: underline;
}

.sign_field span{
	display: inline-block;
	width: 48px;
	height: 48px;
	margin: 0;
	padding: 0;
	float: left;
	border-radius: 2px 0 0 2px;
	background: rgba(255,255,255,0.2) no-repeat center;
	background-size: 24px 24px;
}

.sign_field input.textfield{
	display: inline-block;
	outline: none;
	border: none; 
	background-color: rgba(255,255,255,0.2);
	width: calc(100% - 72px);
	margin: 0;
	height: 16px;
	padding: 16px;
	padding-left: 6px;
	color: #fff;
	border-radius: 0 2px 2px 0;
}

.sign_field input.signbutton{
	outline: none;
	border: none;
	border-radius: 2px; 
	width: 100%;
	margin: 0;
	padding: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.18);
}

.sign_field input.signbutton:active{
	box-shadow: 0px 1px 3px rgba(0,0,0,0.26);
}

/*---------------------------------------------------------------------------------------
	MENU
-----------------------------------------------------------------------------------------*/

.back_menu{
	background-color: rgba(0,0,0,0.1);
	height: 100%;
	width: 100%;
	color: #fff;
	position: fixed;
	z-index: 997;
	display: none;
}

.menu_grid{
	width: 296px;
	background-color: #fff;
	height: 100%;
	box-shadow: 1px 0px 3px rgba(0,0,0,0.3);
	position: fixed;
	left: -306px;
	z-index: 999;
}

.menu_userbg{
	height: 150px;
	background: url('/images/dark_flat.jpg') no-repeat;
	background-size: cover;
	position: relative;
}

.menu_userimg{
	position: absolute;
	width: 64px;
	height: 64px;
	top: 18px;
	left: 18px;
}

.menu_userimg img{
	width: 100%;
	height: 100%;
	border-radius: 60px;
}

.menu_username{
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	font-weight: 500;
	text-shadow: 0px 1px 1px #000;
	font-size: 13px;
}

.menu_username span{
	display: block;
	width: auto;
	font-weight: normal;
	margin-top: 2px;
	opacity: 0.8;
}

.menu_opccontainer{
	overflow: auto;
	height: calc(100% - 150px)
}

.menu_opccontainer .opc{
	width: auto;
	padding: 18px;
	height: 17px;
	cursor: pointer;
	font-weight: 400;
	vertical-align: middle;
}

.menu_opccontainer .opc span{
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: 95%;
	background-repeat: no-repeat;
	margin-right: 36px;
	float: left;
	position: relative;
	top: -3px; 
}

.menu_opccontainer .opc label{
	display: inline-block;
}

.top_pallete{
	position: fixed;
	height: 64px;
	color: #fff;
	z-index: 99;
}

.top_pallete .top_title{
	position: relative;
	font-size: 18px;
	width: auto;
	padding-left: 64px;
	font-weight: normal;
	top: 23px;
}

.menu_button{
	position: absolute;
	cursor: pointer;
	width: auto;
	height: auto;
	padding: 12px;
	z-index: 99;
	left: 8px;
	top: 11px;
}

.menu_button span{
	display: block;
	width: 20px;
	height: 2px;
	margin: 3px;
	background-color: rgba(0,0,0,0.4);
}

.top_pallete .msm{
	position: absolute;
	background: url('/images/message.png') no-repeat center;
	background-size: 100%;
	width: 20px;
	height: 20px;
	top: 24px;
	right: 24px;
	cursor: pointer;
}

/*---------------------------------------------------------------------------------------
	OTHER
-----------------------------------------------------------------------------------------*/

.flat_shadow{box-shadow: 0px 1px 2px rgba(0,0,0,0.3);}

.topspace{
	height: 64px;
	width: 100%;
}

.block_container{
	width: 100%;
	margin: 12px 0 12px 0;
	box-shadow: none;
	height: auto;
	background-color: #fff;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.block_containermsm{
	overflow: hidden;
	height: calc(100% - 64px);
}

.block_container:last-child{margin-bottom: 48px;}

.profile_img{
	height: 200px;
	background: url('/images/dark_flat.jpg') no-repeat center;
	background-size: cover;
	position: relative;
}

.profile_img .photo{
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 12px;
	left: 18px;
}

.profile_img .photo img{
	width: 100%;
	height: 100%;
	border-radius: 84px;
}

.profile_img .name{
	position: absolute;
	bottom: 0;
	right: 0;
	width: calc(100% - 112px);
	color: #fff;
	text-shadow: 0px 1px 1px #000;
}

.profile_img .name span{
	display: block;
	width: auto;
	font-weight: normal;
	margin-top: 2px;
	opacity: 0.8;
}

.profile_img .m_menu{
	position: absolute;
	top: 14px;
	right: 12px;
	cursor: pointer;
}

.profile_img .m_hiddenmenu{
	display: none;
	width: auto;
	background-color: #fff;
	border-radius: 1px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	position: absolute;
	top: 16px;
	right: 14px;
	padding: 4px 0 4px 0;
}

.profile_img .m_menu span{
	display: block;
	width: 4px;
	height: 4px;
	margin: 2px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5); 
}

.float_buttoncontainer{
	position: fixed;
	width: 64px;
	height: 64px;
	right: 24px;
	bottom: 24px;
	z-index: 59;
}

.float_buttoncontainer span{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 56px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
	cursor: pointer;
}

.msmuser_img{
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 16px;
	vertical-align: top;
}

.msmuser_img img{
	width: 100%;
	height: 100%;
	border-radius: 48px;
}

.msminfo{
	padding: 24px 16px 22px 2px;
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 112px);
	position: relative;
}

.msmuser_name{
	overflow: hidden;
	width: calc(100% - 48px);
	height: 17px;
}

.lastmsm{
	color: #616161;
	margin-top: 4px;
	font-size: 12px;
	overflow: hidden;
	height: 14px;
}

.lastmsmhour{
	position: absolute;
	top: 25px;
	right: 2px;
	color: #616161;
	font-size: 11px;
}

.msmtopname{
	color: #fff;
	padding: 20px 16px 20px 16px;
	height: 17px;
	font-weight: bold;
	overflow: hidden;
	font-size: 15px;
	position: relative;
}

.msmtopname img{
	float: left;
	width: 40px;
	height: 40px;
	position: relative;
	top: -10px;
	margin-right: 12px; 
	cursor: pointer;
}

.msmtopname .backicon{
	width: 24px;
	height: 24px;
	float: left;
	position: relative;
	background: url('/images/arrow-left.png') no-repeat center;
	background-size: 100%; 
	top: -3px;
	cursor: pointer;
	margin-right: 4px;
}

.msmcontent{
	height: calc(100% - 58px);
	position: relative;
}

.msm_innercontent{
	height: calc(100% - 68px);
}

.msminput{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 99;
	display: block;
	height: 68px;
}

.msminput input[type='text']{
	width: calc(100% - 104px);
	height: 48px;
	padding: 0 12px 0 12px;
	margin: 10px;
	margin-right: 6px;
	font-size: 13px;
	border-radius: 6px;
	border-top-right-radius: 0px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	border: none;
	outline: none;
}

.msminput i{
	display: block;
	position: absolute;
	width: 18px;
	height: 18px;
	top: 10px;
	right: 64px;
	z-index: 109;
	transform: skewX(-30deg);
}

.msminput input[type='submit']{
	border-radius: 48px;
	width: 48px;
	height: 48px;
	float: right;
	margin: 10px;
	margin-left: 6px;
	border: none;
	outline: none;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.minimenu{
	display: inline-block;
	position: relative;
	float: right;
	width: auto;
	top: -1px;
	cursor: pointer;
}

.minimenu span{
	display: block;
	background-color: #fff;
	width: 4px;
	height: 4px;
	margin: 2px;
	border-radius: 5px; 
}

.ownmsm{
	position: relative;
	display: inline-block;
	max-width: 84%;
	border-radius: 6px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

.ownmsm div{
	font-size: 12px;
}

.ownmsm i{
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 0;
	left: -4px;
	z-index: 109;
	transform: skewX(30deg);
	z-index: -1;
	box-shadow: -1px 0px rgba(0,0,0,0.1);
}
