@media screen and (min-width: 640px){

	.top_pallete{
		text-align: center;
	}

	.top_pallete .top_title{
		font-size: 22px;
		top: 20px;
		padding-left: 0;
	}

	.top_pallete_inner{
	 	padding-bottom: 128px;
	 	z-index: -10;
	}

	.page_container{
		width: calc(100% - 120px);
		margin: 0 auto;
	}

	.block_container{
		position: relative;
		z-index: 49;
		border-radius: 1px;
		margin: 12px auto;
	}

	.block_containermsm{
		position: relative;
		z-index: 49;
		margin: 12px auto;
		border-radius: 1px;
		margin-bottom: 24px;
		width: calc(100% - 120px);	
		height: calc(100% - 102px);
		box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	}

	.profile_img{
		height: 260px;
	}

	.secondgrid{background-color: #eeeeee;}

	.top_pallete .minimenu_container{
		z-index: 999;
	}

	.login_container{
		width: 380px;
		margin: 18px auto;
		padding: 24px;
	}

	.op_bg .b_title{padding: 64px;padding-bottom: 0;font-size: 72px;}

	.login_bottom{
		position: absolute;
		bottom: 48px;
		width: 380px;
	}

	.hidden_blockcontainer{
		overflow: auto;
	}

	.hidden_block{
		width: 420px;
		margin: 48px auto;
		height: auto;
		border-radius: 1px;
		overflow: hidden;
	}

	.hb_formcontainer{
		height: auto;
	}

	.index_container .pd{
		padding: 88px;
	}

	.index_container .float_button{
		right: 72px;
	}

}

@media screen and (min-width: 1120px){
	
	.colhh3, .colhh6{
		width: 33.3333333%;
		display: inline-block;
	}

	.index_container .colhh2{width: 50%;}

	.colhh7{
		width: 66.666666%;
		display: inline-block;
	}

	#calendar_dayeventscont{
		height: 562px;
	}
	
	.profile_img{
		height: 320px;
	}

	.doublegrid{
		width: 100%;
	}

	.halfgrid{width: 32%;}

	.secondgrid{width: 68%;}

	.msmtopname{
		padding: 20px 18px 20px 18px;
	}

	.backicon{
		display: none;
	}

	.float_buttoncontainer{
		width: 36px;
		height: 36px;
		right: 56px;
		top: 14px;
		box-shadow: none;
	}

	.float_buttoncontainer span{
		background-color: transparent;
		background-size: 20px;
	}

	.float_buttoncontainer:hover{
		box-shadow: none;
		width: 36px;height: 36px;
		background-color: rgba(0,0,0,0.1);
	}

	.notif .notifscroll{
		width: 380px;
		height: 375px;
	}

	.mr_8{margin-right: 8px;}
	.ml_8{margin-left: 8px;}

	.rightmsm{left: -32px;}
	.leftmsm{left: 32px;}

	.index_container .pd{
		padding: 136px;
	}

}