@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Syncopate);

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto' , 'Helvetica' , sans-serif;
}

html{
	height: 100%;
}

body {
  	padding: 0;
 	margin: 0;
 	height: 100%;
	font-family: 'Roboto' , 'Helvetica' , sans-serif;
	background-color: #eeeeee;
	color: #424242;
	font-size: 14px;
}
body div:not(.hidden_blockcontainer)::-webkit-scrollbar{width: 7px;}

body div:not(.hidden_blockcontainer)::-webkit-scrollbar-track{background-color: transparent;}

body div:not(.hidden_blockcontainer)::-webkit-scrollbar-thumb{
	background-color: rgba(127,127,127,0.3);
	background-clip: padding-box;
}

body div:not(.hidden_blockcontainer)::-webkit-scrollbar-thumb:hover{
	background-color: rgba(127,127,127,0.5);
}

.minimenu_hidden{color: #424242;}

.body_container{width: inherit;height: inherit;}

a{
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}

input, select, textarea, option{font-size: 15px;color: #424242;}

select, option{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand, option::-ms-expand { /* for IE 11 */
    display: none;
}

footer{position: relative;margin-top: -64px;text-align: center;}

footer span.small_icon{
	margin-right: 18px;
}

/*---------------------------------------------------------------------------------------
	TITLES
-----------------------------------------------------------------------------------------*/

.b_title{
	font-size: 72px;
	font-weight: bold;
}
.bm_title{
	font-size: 36px;
	font-weight: 500;
}
.mm_title{
	font-size: 22px;
	font-weight: normal;
}
.ml_title{
	font-size: 20px;
	font-weight: 500;
}
.ll_title{
	font-size: 15px;
	font-weight: 500;
}
.sl_title{
	font-size: 14px;
	font-weight: 500;
}

.lighttext{font-weight: 300;}
.uppercase{text-transform: uppercase;}
.b_text{font-weight: bold;}
.rel_pos{position: relative;}
.abs_pos{position: absolute;}
.underline:hover{text-decoration: underline;cursor: pointer;}

.none_txttransform{text-transform: none;}

/*---------------------------------------------------------------------------------------
	GRID
-----------------------------------------------------------------------------------------*/

.colhh1, .colhh6{
	width: 100%;
}
.colhh2{
	width: 50%;
	display: inline-block;
}

.colhh3{
	width: 100%;
}

.index_container .colhh3{width: 100%;}

#login_indexbutton{
	background-size: 36px;
}

.colhh4{width: 100%;}

.autocol{
	width: auto;
	display: inline-block;
}
.borad{
	border-radius: 2px;
}

.calendar .colhh7{
	width: 14.2857%;
	display: inline-block;
}

.h_listcontainer .h_listtopcontainer{
	color: rgba(0,0,0,0.5);
	font-weight: bold;
}

.h_listcontainer .h_listitem{
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	margin: 0;
	cursor: pointer;
}

.h_listcontainer .h_listline{
	height: 3px;
	display: inline-block;
	position: absolute;
	top: 46px;
}

/*---------------------------------------------------------------------------------------
	PADDING
-----------------------------------------------------------------------------------------*/

.pd_4{padding: 4px;width: auto;}
.pd_6{padding: 6px;width: auto;}
.pd_8{padding: 8px;width: auto;}
.pd_10{padding: 10px;width: auto;}
.pd_12{padding: 12px;width: auto;}
.pd_14{padding: 14px;width: auto;}
.pd_16{padding: 16px;width: auto;}
.pd_18{padding: 18px;width: auto;}
.pd_24{padding: 24px;width: auto;}
.pd_32{padding: 32px;width: auto;}
.pd_40{padding: 40px;width: auto;}
.pd_48{padding: 48px;width: auto;}
.pd_64{padding: 64px;width: auto;}
.pd10_16{padding: 10px 16px 10px 16px;width: auto;}
.pd12_16{padding: 12px 16px 12px 16px;width: auto;}
.pd12_24{padding: 12px 24px 12px 24px;width: auto;}
.pd16_24{padding: 16px 24px 16px 24px;width: auto;}
.pd12_14{padding: 12px 14px 12px 14px;width: auto;}
.pd12_18{padding: 12px 18px 12px 18px;width: auto;}
.pd18_32{padding: 18px 32px 18px 32px;width: auto;}
.pd_llist{padding-left: 24px;padding-bottom: 12px;padding-right: 24px;width: auto;}
.pd_l4{padding-left: 4px;width: auto;}
.pd_l8{padding-left: 8px;width: auto;}
.pd_lr8{padding-left: 8px;padding-right: 8px;width: auto;}
.pd_l12{padding-left: 12px;width: auto;}
.pd_l16{padding-left: 16px;width: auto;}
.pd_l18{padding-left: 18px;width: auto;}
.pd_lr18{padding-left: 18px;padding-right: 18px;width: auto;}
.pd_l24{padding-left: 24px;width: auto;}
.pd_lr24{padding-left: 24px;padding-right: 24px;width: auto;}
.pd_l32{padding-left: 32px;width: auto;}
.pd_tb_8{padding: 8px 0 8px 0;width: auto;}
.pd_tb_10{padding: 10px 0 10px 0;width: auto;}
.pd_tb_12{padding: 12px 0 12px 0;width: auto;}
.pd_tb_16{padding: 16px 0 16px 0;width: auto;}
.pd_tb_24{padding: 24px 0 24px 0;width: auto;}
.pd_bot0{padding-bottom: 0;}
.pd_top0{padding-top: 0;}
.pd_l0{padding-left: 0;}
.pd_r0{padding-right: 0;}
.mr_bot4{margin-bottom: 4px;}
.mr_top4{margin-top: 4px;}
.mr_4{margin: 4px;}
.mr_8, .ml_8{margin: 0;}
.mr_8l4r{
	margin: 8px;
	margin-right: 4px;
}

.bdb_container{
	overflow: hidden;
}

.doublegrid{
	width: 200%;
	height: 100%;
}

.halfgrid{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.autooverflow{
	overflow: auto;
}


/*---------------------------------------------------------------------------------------
	SPACES
-----------------------------------------------------------------------------------------*/

.margin_top{margin-top: 24px;}

.margin_topm{margin-top: 8px;}

.margin_mintb{margin-top: 4px;margin-bottom: 4px;}

.margin_bot{margin-bottom: 12px;}

.bottompage{margin-bottom: 64px;}

.v_top{vertical-align: top;}

.v_middle{vertical-align: middle;}

.v_bottom{vertical-align: bottom;}

/*---------------------------------------------------------------------------------------
	BACKGROUNDS - COLORS
-----------------------------------------------------------------------------------------*/

.txtprimary_color{color: #03A9F4;}
.txtprimary_colorDarker{color: #0288D1;}
.txtaccent_color{color: #FF5252;}
.txtaccent_colorfall{color: #FFFF00;}
.txtaccent_color2{color: #FFC400;}
.txtaccent_color3{color: #D500F9;}
.txt_red{color: #F44336;}
.txt_blue{color: #2196F3;}

.bgprimary_color{background-color: #03A9F4;}
.bgprimary_colorDarker{background-color: #0288D1;}
.bgaccent_color{background-color: #FF5252;}
.bgaccent_colorfall{background-color: #FFFF00;}
.bgaccent_color2{background-color: #FFC400;}
.bgaccent_color3{background-color: #D500F9;}

.bg_detail{
	background-color: rgba(255,255,255,0.14);
	width: 150%;height: 300%;
	transform: rotate(42deg);
	position: absolute;
	left: -40%;
}

.bg_darker{background-color: rgba(0,0,0,0.05);}
.bg_white{background-color: #fff;}
.bg_darkblue{background-color: #0D47A1;}
.bg_blue{background-color: #2196F3;}
.bg_lightblue{background-color: #03A9F4;}
.bg_cyan{background-color: #00BCD4;}
.bg_indigo{background-color: #3F51B5;}
.bg_teal{background-color: #009688;}
.bg_green{background-color: #4CAF50;}
.bg_lightgreen{background-color: #8BC34A;}
.bg_lime{background-color: #CDDC39;}
.bg_orange{background-color: #FF9800;}
.bg_darkorange{background-color: #FF5722;}
.bg_red{background-color: #F44336;}
.bg_purple{background-color: #9C27B0;}
.bg_darkpurple{background-color: #673AB7;}
.bg_pink{background-color: #E91E63;}
.bg_lightpink{background-color: #FF4081;}
.bg_yellow{background-color: #FFEB3B;}
.bg_amber{background-color: #FFC107;}
.bg_brown{background-color: #795548;}
.bg_bluegray{background-color: #607D8B;}
.bg_lightgray{background-color: #f6f6f6;}
.bg_gray{background-color: #616161;}
.bg_darkgray{background-color: #212121;}

.vlist_bg{background-color: rgba(0,0,0,0.06);}

.bg_logo{
	background-image: url('/images/smdelogo.png');
	background-size: 100%;background-repeat: no-repeat;
	background-position: center;	
}

.bg_img{
	background-image: url('/images/desktop.jpg');
	background-size: cover;background-repeat: no-repeat;
	background-position: center;	
}

.bg_img2{
	background-image: url('/images/profilebackground.jpg');
	background-size: cover;background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;	
}

.bg_calendar{
	background-image: url('/images/calendar_1.jpg');
	background-size: cover;background-repeat: no-repeat;
	background-position: center;
}

.bg_alert{
	width: 32px;height: 32px;
	background: url('/images/alert-circle.png') no-repeat center;
	background-size: 100%; 
}

.bg_edit, .bg_editgray, .bg_send, .bg_sendwhite, .bg_sendactive, .bg_plus, .bg_plusgray, .bg_close, .bg_closegray, .bg_check, .bg_login, .bg_chat,
.bg_chatwhite, .bg_attachment, .bg_attachment_white, .bg_file, .bg_download, .bg_delete, .bg_pencilbox, .bg_archive,
.bg_reply, .bg_cross, .bg_magnify, .bg_magnifywhite, .bg_camera, .bg_like, .bg_dislike, .bg_likeactive, .bg_dislikeactive, .bg_arrowdrop,
.bg_bookplus, .bg_likewhite, .bg_dislikewhite, .bg_dots, .bg_dotswhite{
	background-repeat: no-repeat;
	background-position: center;
}
.bg_dots{background-image: url('/images/dots-vertical.png');}
.bg_dotswhite{background-image: url('/images/dots-vertical_white.png');}

.bg_magnify{background-image: url('/images/magnify.png');}
.bg_magnifywhite{background-image: url('/images/magnify_white.png');}

.bg_arrowdrop{background-image: url('/images/arrow-down-drop-circle.png');}

.bg_like{background-image: url('/images/thumb-up.png');}
.bg_likewhite{background-image: url('/images/thumb-up_white.png');}
.bg_likeactive{background-image: url('/images/thumb-up_active.png');}

.bg_dislike{background-image: url('/images/thumb-down.png');}
.bg_dislikewhite{background-image: url('/images/thumb-down_white.png');}
.bg_dislikeactive{background-image: url('/images/thumb-down_active.png');}

.bg_camera{background-image: url('/images/camera.png');}

.bg_cross{background-image: url('/images/close.png');}

.bg_archive{background-image: url('/images/archive.png');}

.bg_reply{background-image: url('/images/reply.png');}

.bg_pencilbox{background-image: url('/images/pencil-box.png');}

.bg_delete{background-image: url('/images/delete.png');}

.bg_attachment{background-image: url('/images/attachment.png');}

.bg_attachment_white{background-image: url('/images/attachment_white.png');}

.bg_file{background-image: url('/images/file.png');}

.bg_download{background-image: url('/images/download.png');}

.bg_edit{background-image: url('/images/whitepencil.png');}

.bg_send{background-image: url('/images/sendgray.png');}
.bg_sendwhite{background-image: url('/images/send.png');}
.bg_sendactive{background-image: url('/images/send_active.png');}

.bg_plus{background-image: url('/images/plus.png');}

.bg_plusgray{background-image: url('/images/plus_gray.png');}

.bg_close{background-image: url('/images/arrow-leftwhite.png');}

.bg_closegray{background-image: url('/images/close_gray.png');}

.bg_check{background-image: url('/images/check.png');}

.bg_login{background-image: url('/images/login.png');}

.bg_chat{background-image: url('/images/messageopc.png');}

.bg_chatwhite{background-image: url('/images/message.png');}

.bg_editgray{background-image: url('/images/pencil.png');}

.bg_bookplus{background-image: url('/images/book-plus.png');}

.border_t{border: 1px solid rgba(0,0,0,0.07);}
.border_bottom{border-bottom: 1px solid rgba(0,0,0,0.07);}
.border_right{border-right: 1px solid rgba(0,0,0,0.07);}
.border_thick{border: 2px solid rgba(0,0,0,0.07);}

.border_primarycolor{border-color: #03A9F4;}
.border_accentcolor{border-color: #FFC400;}

.inbox_shadow{box-shadow: inset 0px 1px 4px rgba(0,0,0,0.14);}

.normal_txt{font-weight: normal;}

.hover{cursor: pointer;}

.hover:hover{background-color: rgba(0,0,0,0.05);}

.white_text{color: #fff;}

.circle{border-radius: 80px;-webkit-border-radius: 80px;-moz-border-radius: 80px;
	-o-border-radius: 80px;}

.dark_text{color: rgba(0,0,0,0.5);}

.empty_blocktext{
	height: 100%;
	position: relative;
}

.empty_blocktext .pd_64{
	opacity: 0.5;
	padding: 64px 50px 64px 50px;
}

.empty_blocktext .centerempty{
	position: relative;
 	top: 48%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.centerempty .pd_64{padding: 0 50px 0 50px;}

.empty_blocktext .mm_title{font-size: 17px;padding: 0;margin-bottom: 12px;}

.empty_blocktext .ll_title{font-size: 14px;}

.empty_blocktext span{
	display: block;
	margin: 0 auto;
	margin-bottom: 28px;
	width: 110px;height: 110px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: relative;
}

.error_title span{
	display: inline-block;
	margin: 8px;
	width: 64px;height: 64px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.bg_opacity{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
}

.bg_opc{
	background-color: rgba(0,0,0,0.1);
}

.bg_opcdarker{
	background-color: rgba(0,0,0,0.2);
}

.opacity_color{color: rgba(0,0,0,0.4);}

.text_shadow{text-shadow: 0px 1px 1px rgba(0,0,0,0.5);}

.border_left{border-left: 4px solid #FFC400;}

.list_borderleft{border-left: 4px solid rgba(140,140,140,0.3);margin-top: 8px;
	padding-top: 8px;margin-left: 34px;margin-bottom: 18px;}

/*---------------------------------------------------------------------------------------
	ALIGN
-----------------------------------------------------------------------------------------*/

.left_text{text-align: left;}

.right_text{text-align: right;}

.center_text{text-align: center;}

.justify_text{text-align: justify;}

.left_float{float: left;}

.right_float{float: right;}

.margin_l{margin-left: 8px;}

.margin_r{margin-right: 8px;}

.breakword{word-wrap: break-word;}

/*---------------------------------------------------------------------------------------
	INDEX
-----------------------------------------------------------------------------------------*/

.index_container .bg_img{
	position: relative;
	background-attachment: fixed;
}

.index_container .bg_opacity{
	background-color: rgba(0,0,0,0.4);
}

.index_container .pd{
	padding: 32px;
	padding-bottom: 48px;
}

.index_container .colhh2{width: 100%;}

.index_container .title{
	font-size: 39px;
	padding: 18px;
	font-weight: bold;
}

.index_container .title img{
	width: 120px;
	height: 120px;
}

.index_container .title_2{
	font-size: 40px;
	padding: 12px;
	padding-bottom: 20px;
	font-weight: lighter;
}

.index_container .title_3{
	font-size: 32px;
	font-weight: normal;
}

.index_container .float_button{
	position: absolute;
	width: 64px;height: 64px;
	right: 32px;
	bottom: -32px;
	cursor: pointer;
}

.index_container .responsiveimg img{
	width: 300px;
}

.index_container .tools img{
	margin: 24px;
	width: 120px;
	height: 120px;
}

.index_container .social_img .circle{
	display: inline-block;margin: 18px;cursor: pointer;
	background: no-repeat center;background-size: 45%;
}

/*---------------------------------------------------------------------------------------
	LOGIN
-----------------------------------------------------------------------------------------*/

.op_bg{
	height: 100%;
	width: auto;
	position: relative;
}

.op_bg img{
	width: 70px;
	height: 70px;
}

.op_bg .login_title{padding: 48px;padding-bottom: 32px;font-size: 23px;font-weight: bold;}

.login_container{
	width: calc(100% - 32px);
	margin: 0px auto;
	margin-bottom: 24px;
}

.login_container .loginimg{
	padding-top: 24px;
	padding-bottom: 24px;
}

.login_container .loginimg img{
	width: 80px;
	height: 80px;
	margin: 0;
}

.login_container .bm_title{
	font-weight: lighter;
	font-size: 30px;
}

.login_container a:hover{
	text-decoration: underline;
}

.sign_field img{
	display: inline-block;
	width: 24px;
	height: 24px;
	padding: 12px;
	position: absolute;
	top: 10px;left: 0;
}

.sign_field input.textfield{
	display: inline-block;
	outline: none;border: none;
	background: #f4f4f4;
	width: calc(100% - 70px);
	font-size: 18px;
	margin: 0;height: 48px;
	padding: 0 14px 0 56px;
}

.sign_field input.textfield::-webkit-input-placeholder{color: rgba(0,0,0,0.3);}
.sign_field input.textfield:-moz-placeholder{color: rgba(0,0,0,0.3);}
.sign_field input.textfield::-moz-placeholder{color: rgba(0,0,0,0.3);}
.sign_field input.textfield:-ms-input-placeholder{color: rgba(0,0,0,0.3);}

.sign_field input.signbutton{
	outline: none;
	border: none;
	margin: 0;
	width: 100%;
	padding: 16px;
	text-transform: uppercase;
}

.login_bottom{
	position: relative;
	font-size: 16px;
	bottom: -24px;
	display: none;
}

/*---------------------------------------------------------------------------------------
	MENU
-----------------------------------------------------------------------------------------*/

.back_menu{
	background-color: rgba(0,0,0,0.1);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 997;
	display: none;
}

.menu_grid{
	width: 296px;
	height: 100%;
	position: fixed;
	left: -306px;
	z-index: 999;
}

.menu_userbg{
	height: 150px;
	background-image: url('/images/material_bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.menu_userimg{
	padding-top: 16px;
	width: 100%;
	height: 60px;
}

.menu_userimg img{
	width: 66px;
	height: 66px;
}

.menu_username{
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
}

.menu_username a{
	color: #fff;
	text-decoration: none;
}

.menu_username span{
	display: block;
	width: auto;
	font-weight: normal;
	margin-top: 2px;
	opacity: 0.8;
}

.menu_opccontainer{
	overflow: auto;
	height: calc(100% - 150px);
	color: #8c8c8c;
	font-weight: 500;
}

.menu_opccontainer .opc{
	width: auto;
	padding: 18px 20px 18px 20px;
	height: 17px;
	cursor: pointer;
	vertical-align: middle;
}

.menu_opccontainer .opc span{
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: 95%;
	background-repeat: no-repeat;
	margin-right: 32px;
	float: left;
	position: relative;
	top: -3px; 
}

.menu_opccontainer .opc label{
	display: inline-block;
}

.top_pallete{
	position: fixed;
	height: 62px;
	color: #fff;
	z-index: 50;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.top_pallete .top_title{
	font-size: 18px;
	width: auto;
	height: 100%;
	line-height: 62px;
	padding-left: 64px;
	font-weight: normal;
}

.top_pallete_inner{
	width: 100%;
	position: absolute;
	z-index: -10;
	overflow: hidden;
}

.top_pallete_inner .inner{
	height: 100%;
	width: 100%;
}

.menu_button{
	position: absolute;
	cursor: pointer;
	width: auto;
	height: auto;
	padding: 12px;
	z-index: 99;
	left: 6px;
	top: 10px;
}

.menu_button span{
	display: block;
	width: 20px;
	height: 2px;
	margin: 3px;
	background-color: rgba(0,0,0,0.5);
}

.top_pallete .msm{
	position: absolute;
	background: url('/images/message.png') no-repeat center;
	background-size: 100%;
	width: 20px;
	height: 20px;
	top: 24px;
	right: 24px;
	cursor: pointer;
}

.alert_container{
	position: fixed;
	z-index: 699;
	font-size: 17px;
	font-weight: 500;
	top: 32px;
	left: calc(50% - 120px);
	width: 240px;
	display: none;
}

.alert_container span{
	display: inline-block;
	vertical-align: top;
}

.alert_container span.bg_alert{
	margin-right: 12px;
}

.alert_container span.alert_inner{
	width: calc(100% - 44px);
}

/*---------------------------------------------------------------------------------------
	OTHER
-----------------------------------------------------------------------------------------*/

.page_container, .pagecontainer_right{width: 100%;}

.topspace{
	height: 63px;
	width: 100%;
}

.hidden_blockcontainer{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 499;
	display: none;
	background-color: rgba(0,0,0,0.3);
}

.hidden_blockback{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.hidden_block{
	width: 100%;
	margin: 0 auto;
	height: 100%;
	position: relative;
	top: 0;
}

.hidden_block span.close{
	float: right;width: 55px;height: 54px;
	border-radius: 0 32px 32px 0;-webkit-border-radius: 0 32px 32px 0;
	-moz-border-radius: 0 32px 32px 0;-o-border-radius: 0 32px 32px 0;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
	z-index: 1;background-size: 24px;
	top: 16px;left: 0px;
}

.hidden_block .form_title{
	padding-left: 56px;
	font-size: 17px;
	vertical-align: middle;
	height: 18px;
	padding-top: 17px;
	padding-bottom: 19px;
}

.hidden_block span.close:hover{
	background-color: rgba(0,0,0,0.04);
}

.hb_formcontainer{
	height: calc(100% - 70px);
	overflow: auto;
}

.error_container{
	width: auto;
	padding: 24px;
	font-size: 16px;
	position: relative;
 	top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.block_container{
	width: 100%;
	margin: 16px 0 16px 0;
	height: auto;
	overflow: hidden;
}

.block_containermsm{
	overflow: hidden;
	height: calc(100% - 63px);
	background-color: #f2f2f2;
}

.block_containersettings{
	overflow: hidden;
	height: auto;
	margin-top: 12px;
}

.settings_inneritem{display: none;}

.mainoptions_container .colhh3{width: 50%;display: inline-block;}

.mainoptions span{
	width: 40px;
	height: 40px;
	margin: 12px auto;
	display: block;
	margin-bottom: 24px;
	background: no-repeat center;
	background-size: 100%;
}

/*---------------------------------------------------------------------------------------
	PROFILE TOP
-----------------------------------------------------------------------------------------*/

.profile_img{
	height: 210px;
	background-image: url('/images/material_bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.block_container.progress_profile{
	margin-bottom: 12px;
}

.photo{
	width: 84px;
	height: 84px;
	position: absolute;
	bottom: -42px;
	margin-left: 24px;
}

.photo img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.14);
}

.photo_hiddenbutton{
	position: relative;
	width: 100%;
	height: 100%;
	background-size: 32px;
	cursor: pointer;
	background-color: rgba(0,0,0,0.4);
	display: none;
}

#selectBack{transition: all ease-in-out 0.3s;background-color: rgba(0,0,0,0.2);}

#selectBack:hover{background-color: rgba(0,0,0,0.42);}

#selectBack span.small_icon{background-size: 21px;}

#selectBack .autocol{display: none;transition: all ease-in-out 0.3s;}

#selectBack:hover .autocol{display: inline-block;}

.profile_bgcont .divider{
	width: 1px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 8px;
	margin-left: -0.5px;
	background-color: rgba(140,140,140,0.3);
}

.profile_bgcont .name{
	font-size: 16px;
	font-weight: 400;
	padding-left: 110px;
	text-align: right;
}

.profile_bgcont .name span{
	display: block;
	width: auto;
	margin-top: 2px;
	opacity: 0.8;
}

.form_profilephoto, .form_profileback{display: none;}

.profile_hideitem .small_icon{
	position: absolute;
	background-image: url('/images/close_gray.png');
	top: 7px;right: 8px; 
}

.top_hlist{margin-bottom: -8px;}

/*---------------------------------------------------------------------------------------
	MINIMENU
-----------------------------------------------------------------------------------------*/

.minimenu_container{
	float: right;
	display: inline-block;
	width: auto;
	position: relative;
	top: -1px;
}

.minimenu{
	cursor: pointer;
	position: relative;
}

.minimenu span{
	display: block;
	width: 4px;
	height: 4px;
	margin: 2px;
	border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;
	background-color: rgb(150,150,150); 
}

.minimenu_hidden{
	display: none;
	min-width: 160px;
	width: auto;
	background-color: #fafafa;
	border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-o-border-radius: 2px;
	position: absolute;
	font-size: 15px;
	top: 0;
	right: 0;
	padding: 0;
	z-index: 10;
	font-weight: 500;
}

/*---------------------------------------------------------------------------------------
	NOTIFICATIONS
-----------------------------------------------------------------------------------------*/

.notifications_container{
	display: inline-block;
	width: auto;
	position: fixed;
	top: 13.48px;
	right: 15px;
	z-index: 99;
}

.notifications_container .icon_container{
	cursor: pointer;
}

.notifications_hidden{
	display: none;
	width: 300px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
	background-color: #fafafa;
}

.notif .notifscroll{
	width: inherit;
	height: 300px;
	overflow: auto;
}

.notif_icon{
	background: url('/images/bell.png') no-repeat center;
	background-size: 20px;
	width: 36px;
	height: 36px;
	transition: all ease-in-out 0.6s;
}

.notif_icon:hover{
	background-color: rgba(0,0,0,0.1);
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

span.title_rightoptionicon{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: no-repeat center;
	background-size: 18px;
	position: absolute;
	right: 12px;
	z-index: 2;
	transition: all ease-in-out 0.4s;
}

span.title_rightoptionicon:hover{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

/*---------------------------------------------------------------------------------------
	LISTS
-----------------------------------------------------------------------------------------*/

.listitem_img{
	display: inline-block;
	width: 49px;
	height: 49px;
	padding: 11px 15px 12px 13px;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

.listitem_img img{
	width: inherit;
	height: inherit;
	border-radius: 60px;-webkit-border-radius: 60px;-moz-border-radius: 60px;-o-border-radius: 60px;
}

.listitem_img img.img_mul{
	display: inline-block;
	width: 50%;height: 50%;
	margin-bottom: -5px;
}

.listitem_img span{
	display: block;
	width: 100%;height: 100%;
	font-size: 26px;
	line-height: 50px;
	font-weight: lighter;
	border-radius: 60px;-webkit-border-radius: 60px;-moz-border-radius: 60px;-o-border-radius: 60px;
	color: #fff;
}

.listitem_info{
	padding: 16px 13px 15px 0;
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 90px);
	position: relative;
}

.listitem_info .listitem_alert{
	position: absolute;
	right: 80px;
	width: 100px;
	z-index: 4;
	font-size: 13px;
	height: 15px;
	top: 21px;
}

.listitem_righticon{
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 1;
	right: 16px;
	top: 16px;
	background-size: 24px;
}

.pd_lr8 .listitem_righticon{
	right: 24px; 
}

.listitem_righticon:hover{
	background-color: rgba(0,0,0,0.08);
}

.listitem_title{
	overflow: hidden;
	width: calc(100% - 70px);
	height: 18px;
	font-size: 15px;
	white-space: nowrap;
}

.listitem_title b{
	width: auto;
	display: inline-block;
	font-weight: 500;
}

.left_listcontainer{
	width: auto;
	height: calc(100% - 62px);
}

.list_title{width: auto;}

.list_title .title{
	display: inline-block;
	width: calc(100% - 98px);
	vertical-align: middle;
	line-height: 25px;
	overflow: hidden;
}

.list_title .icons{
	display: inline-block;
	width: auto;
	height: 40px;
	vertical-align: middle;
}

.list_title .icons .small_icon{background-size: 24px;margin: 0 0 0 4px;}
.list_title .icons .small_icon.bg_magnify{background-size: 21px;}

.list_title .icons .minimenu_hidden{right: 10px;}

.listitem_bottomdata{
	opacity: 0.6;
	margin-top: 5px;
	overflow: hidden;
	height: 17px;
}

.listitem_bottomdata .msm_miniicon{
	display: inline-block;width: 16px;height:16px;
	background-size: 100%;vertical-align: top;position: relative;
	margin-right: 2px;background-position: center;top: -0.7px;
}

.listitem_rightinfo{
	opacity: 0.5;
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 11px;
}

.listitem_rightinfo label{
	font-size: 12px;
}

.block_list .b_img, .left_fixedcontainer .b_img{
	width: auto;
	height: 240px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.block_list .b_img .minimenu span, .left_fixedcontainer .b_img .minimenu span{
	background-color: #fff;
}

.block_list .b_img .listitem, .left_fixedcontainer .b_img .listitem{
	position: absolute;
	bottom: 0;
}

/*---------------------------------------------------------------------------------------
	RIGHT HALF
-----------------------------------------------------------------------------------------*/

.msmtopname{
	padding: 20px 18px 20px 46px;
	height: 21px;
	font-size: 17px;
	position: relative;
	font-weight: normal;
}

.msmtopname .inner{
	display: inline-block;
	overflow: hidden;
	height: 100%;
	width: auto;
	max-width: calc(100% - 168px);
	vertical-align: top;
	margin-left: 16px;
	white-space: nowrap;
}

.msmtopname .img_container{
	vertical-align: top;
	height: 40px;
	position: relative;
	top: -9.5px;
	z-index: 49;
	display: inline-block;
}

.msmtopname .img_container img{
	width: 40px;height: 40px;
}

.msmtopname .img_container img.img_mul{
	margin-right: 2px;
}

.block_containersettings .msmtopname{
	padding-top: 27px;
	padding-bottom: 25px;
}

.msmtopname .letter{
	float: left;
	width: 40px;
	height: 40px;
	position: relative;
	top: -9.5px;
	margin: 0;
	margin-right: 16px; 
	cursor: pointer;
}

.msmtopname .letter{
	font-size: 24px;
	width: 28px;
	height: 28px;
	padding: 6px;
	text-align: center;
	vertical-align: middle; 
}

.msm_sendtocontainer{
	position: relative;
	width: auto;
	padding: 0 18px 0 18px;
}

.msm_sendtocontact{
	display: inline-block;
	margin-right: -12px;
	margin-bottom: 8px;
	vertical-align: middle;
	cursor: pointer;
	width: calc(auto - 24px);
}

.small_icon{
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-size: 21px;
}

.msm_sendtocontact .sendtoimg{
	width: 36px;
	height: 36px;
	display: inline;
	position: relative;
	z-index: 1;
}

.msm_sendtocontainer .small_icon{
	vertical-align: middle;
	margin-bottom: 8px;
}

.msm_sendtocontact .msm_sendtoremove{
	width: 36px;
	height: 36px;
	position: absolute;
	display: none;
	z-index: 2;
}

.msm_sendtocontact .bg_cross{
	background-size: 22px;
}

.msm_sendtocontact .name{
	display: inline;
	position: relative;
	font-size: 15px;
	padding: 8px 12px 8px 32px;
	left: -24px;
	font-weight: 500;
	border-radius: 0px 20px 20px 0px;
}

#msm_contactscontainer{
	width: 100%
}

#msm_contactscontainer .inner_block{
	max-height: 200px;
	overflow: auto;
}

#msm_contactscontainer .listitem_img{
	width: 40px;height: 40px;
	padding: 10px;
}

#msm_contactscontainer .listitem_bottomdata{margin-top: 3px;}

#msm_contactscontainer .listitem_info{padding-top: 12px;padding-bottom: 10px;width: calc(100% - 73px);}

.backicon, .backicon_white{
	display: block;
	width: 54px;
	height: 100%;
	position: absolute;
	border-radius: 0 40px 40px 0px;-webkit-border-radius: 0 40px 40px 0px;-moz-border-radius: 0 40px 40px 0px;
	-o-border-radius: 0 40px 40px 0px;
	background: no-repeat center;
	background-size: 22px;
	background-image: url('/images/arrow-left.png');
	top: 0px;left: 0px;
	cursor: pointer;
}

.backicon_white{background-image: url('/images/arrow-leftwhite.png');}

.backicon:hover, .backicon_white:hover{background-color: rgba(0,0,0,0.04);}

.msmcontent{
	width: auto;
	height: calc(100% - 61px);
	position: relative;
	left: 0;top: 0;
	padding: 0;
}

.msm_innercontent{
	width: 100%;
	height: calc(100% - 68px);
	overflow: auto;
	position: relative;
	left: 0;
}

.msminput{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 99;
	display: block;
	height: 68px;
	vertical-align: middle;
}

.msminput .msminput_in{
	height: 52px;
	padding: 8px 0 8px 12px;
	width: calc(100% - 84px);
	display: inline-block;
}

.msminput .msminput_in .msm_textfield{
	width: 100%;
	height: 100%;
	display: inline-block;
	border-radius: 3px;
	position: relative;
}

.msminput .msminput_in .msm_textfield input[type='text']{
	border: none;outline: none;
	width: calc(100% - 78px);margin-top: 17px;
	height: 18px;margin-left: 18px;
	background: transparent;
}

.msminput .msminput_in .msm_textfield span{
	position: absolute;
	display: block;
	width: 52px;
	height: 52px;
	background-size: 28px;
	cursor: pointer;
	right: 4px;
	top: 0;
}

.msminput input[type='submit']{
	width: 44px;height: 44px;
	float: right;margin: 12px;
	margin-right: 14px;
	display: inline-block;
	border: none;outline: none;
	background-color: #03A9F4;
	background-size: 21px;
}
.msminput input[type='submit']:disabled{
	cursor: default;
	background-color: rgba(127,127,127,0.1);
}

.flat_input{
	width: auto;
	display: block;
	padding-top: 21px;
	padding-bottom: 18px;
}

.flat_input img{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.flat_input textarea{
	width: calc(100% - 168px);
	height: 17px;
	max-height: 200px;
	padding: 0;
	margin-left: 68px;
	border: none;outline: none;
	background-color: transparent;
	resize: none;
	overflow: hidden;
}

.flat_input input[type='submit']{
	width: 80px;font-size: 14px;
	float: right;margin: 0 10px 0 10px;
	border: none;outline: none;
	background-color: transparent;
	vertical-align: top;
}

.flat_input input[type='submit']:disabled{
	cursor: default;
}

.msm_pd{padding: 24px 18px 24px 18px;}

.msm_block .msm_img{
	width: 46px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.msm_block .msm_img img{
	width: 42px;
	height: 42px;
	margin: 0 2px 0 2px;
}

.msm_block .msm_text{
	width: calc(100% - 46px);
	display: inline-block;
	vertical-align: top;
}

.leftmsm, .rightmsm{
	position: relative;
	display: inline-block;
	max-width: 80%;
	border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;
	-o-border-radius: 3px;
	left: 9px;
	margin-bottom: 4px;
}

.rightmsm{
	float: right;
	left: -9px;
}

.leftmsm div, .rightmsm div{
	font-size: 13px;	
	position: relative;
	z-index: 4;
}

.leftmsm i, .rightmsm i{
	display: block;
	position: absolute;
	background-color: inherit; 
	width: 15px;
	height: 15px;
	top: 0;
}

.leftmsm i{
	left: -4px;
	transform: skewX(32deg);-webkit-transform: skewX(32deg);-moz-transform: skewX(32deg);
	-ms-transform: skewX(32deg);-o-transform: skewX(32deg);
}

.rightmsm i{
	right: -4px;
	transform: skewX(-32deg);-webkit-transform: skewX(-32deg);-moz-transform: skewX(-32deg);
	-ms-transform: skewX(-32deg);-o-transform: skewX(-32deg);
}

.msm_date{
	display: block; 
	font-size: 11px;
	color: rgba(255,255,255,0.6);
	padding-top: 8px; 
}

.rightmsm .msm_date{
	color: rgba(0,0,0,0.45);
}

/*---------------------------------------------------------------------------------------
	FORUM
-----------------------------------------------------------------------------------------*/

.forum_commentimg{width: 40px;display: inline-block;}

.forum_alldata{display: inline-block;width: calc(100% - 40px);}

.forum_commentimg img{
	width: 40px;
	height: 40px;
	vertical-align: middle;
	margin-right: 12px;
}

.fc_zindex{
	position: relative;
	z-index: 1;
}

.forum_repliescontainer{
	overflow: auto;
	max-height: 400px;
}

.forum_repliescontainer .forum_reply:last-child{
	border: none;
}

.forum_comment .comment_info span{
	display: inline-block;
	vertical-align: middle;
	width: 18px;height: 18px;
	background-size: 10px;
	margin-left: 4px;
}

.forum_comment .comment_action .colhh3{
	width: 33.3333333%;
	display: inline-block;
}

.forum_comment .comment_action .colhh3 span{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-size: 18px;
	position: relative;
	left: -18px;
}

.forum_comment .comment_action .colhh3 .autocol{
	position: relative;
	left: -12px;
}

#forumtopics_container .block_container{
	cursor: pointer;
}

#forumtopics_container .forumtopic_title:hover > .ll_title{
	text-decoration: underline;
}

#forumtopics_container .block_container:hover{
	box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
}

#forumtopics_container .f_li .listitem_info, #selectedForumTopic .f_li .listitem_info {
	width: calc(100% - 75px);
}

#forumtopics_container .f_li .listitem_img, #selectedForumTopic .f_li .listitem_img{
	padding-right: 0;
}

.forum_comment .comment_info .autocol{
	padding: 13px 20px 13px 0;
	height: 18px;
}

.left_fixedcontainer{
	width: 100%;
}

.rank span{
	width: 10px;
	height: 10px;
	border-radius: 12px;-webkit-border-radius: 12px;-moz-border-radius: 12px;
	-o-border-radius: 12px;
	margin: 3px;
	display: inline-block;
	float: left;
}

.progress_bar{
	width: 80%;
	height: 12px;
	margin-top: 16px;
}

.progress_emoticon{
	position: relative;
}

.progress_emoticon span{
	display: inline-block;
	vertical-align: top;
	width: 32px;
	height: 32px;
	background: url('/images/emoticon.png') no-repeat center;
	background-size: 32px;
	margin: 0 16px 0 16px;
}

.progress_emoticon #indicator{
	width: 30px;
	height: 30px;
	position: absolute;
	display: block;
	margin: 0;
	opacity: 0.2;
	top: 1px;left: 70.5px;
	display: none;
}

.notif .listitem_img{
	width: 40px;
}

.notif .listitem_img span{
	position: relative;top: 2px;
	width: 40px;height: 40px;
	font-size: 23px;
	line-height: 40px;
}

.notif .listitem_info{
	width: calc(100% - 83px);
}

.notif .listitem_bottomdata{
	height: 36px;
}

.search{
	width: auto;
	position: relative;
	padding: 8px;
	height: 45px;
}

.search.s_type2{position: absolute;z-index: 3;top: 0;width: calc(100% - 16px);display: none;}

.search span.searchicon, .search span.close_icon{
	width: 36px;
	height: 36px;
	position: absolute;
	left: 18px;top: 12px;
	opacity: 0.8;
	background: url('/images/magnify.png') no-repeat center;
	background-size: 22px;
	display: block;
}

.search span.close_icon{background-image: url('/images/arrow-left.png');cursor: pointer;}

/*---------------------------------------------------------------------------------------
	FORM INPUTS
-----------------------------------------------------------------------------------------*/

.search input[type='text']{
	width: calc(100% - 80px);
	color: #616161;
	border: none;
	outline: none;
	font-size: 14px;
	padding: 0 24px 0 56px;
	height: 100%;
	margin: 0;
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.14);
}

.form_confirmblock{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 4;
	display: none;
	background-color: rgba(0,0,0,0.2);
}

.form_confirmblock .inner_confirmblock{
	width: calc(100% - 96px);
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.form_input{
	margin-bottom: 24px; 
}

.form_input .left_title{
	display: block; 
}

.form_input2{
	margin-bottom: 0px; 
}

.form_input:last-child{
	margin-bottom: 0; 
}

.form_input input[type='file']{
	border: none;
	outline: none;
	width: 100%;
	margin-top: 6px;
	padding: 8px 0px 8px 0px;
	background-color: transparent;
}

.form_input input[type='text'], .form_input input[type='password'], .form_input input[type='email'],
.form_input select, .form_input textarea{
	border: none;
	outline: none;
	width: 100%;
	margin-top: 6px;
	padding: 8px 0px 8px 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.form_input textarea{
	resize: none;
	height: 128px;
	border: none;
	margin-top: 8px;
}

.form_input input[type='text']:focus, .form_input input[type='password']:focus, .form_input input[type='email']:focus,
.form_input select:focus{
	border-width: 2px;
	border-color: #FF5252;
	padding-bottom: 7px;
}

option{background-color: #fff;}

.form_input .double, .form_input .triple{width: 100%;}

.form_input .double input, .form_input .double select{width: calc(50% - 6px);}

.form_input .triple input{width: calc(33.33333% - 8px);}

.form_input .double input.second, .form_input .triple input.third, .form_input .double select.second{margin-left: 12px;}

.form_input textarea{margin-top: 6px;}

.form_input2 input[type='text'], .form_input2 textarea{
	border: none;
	outline: none;
	margin-top: 0;
	padding: 0 18px 0 18px;
	height: 52px;
	background-color: transparent;
	width: calc(100% - 36px);
}

.form_input2 textarea{
	height: 104px;
	width: calc(100% - 36px);
	resize: none;
	padding: 18px;
}

.input_filecontainer{display: none;}

#showall_button{cursor: pointer;}

.file_buttoncontainer span{
	width: 48px;
	height: 48px;
	display: inline-block;
	cursor: pointer;
	background-size: 24px;
}

.file_buttoncontainer .right_float{
	width: calc(100% - 72px);
} 
	
.f_value{
	width: auto;
	overflow: hidden;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 8px 12px 8px 12px;
	height: 18px;
	white-space: nowrap;
}

input[type='radio']:not(old){
	width: 0;height: 0;margin: 0;padding: 0;visibility: hidden;
}
input[type='radio']:not(old) + label{
	display: inline-block;margin-left: 0;width: 100%;
}
input[type='radio']:not(old) + label .autocol{width: calc(100% - 48px);}
input[type=radio]:not(old) + label > span{
	display: inline-block;width: 20px;height: 20px;margin: 4px;margin-right: 18px;
	border: 2px solid rgba(127,127,127,0.7);background: transparent;vertical-align: middle;
}
input[type=radio]:not(old):hover + label > span > span{
	display: block;width: 6px;height: 6px;margin: 7px;
	background-color: #FFC400;
}
input[type=radio]:not(old):checked + label > span{
	border-color: #FFC400;
}
input[type=radio]:not(old):checked + label > span > span{
	display: block;width: 12px;height: 12px;margin: 4px;
	background-color: #FFC400;
}
.switch {
  display: inline-block;position: relative;width: 40px;height: 16px;border-radius: 8px;
  background: rgba(0,0,0,0.15);vertical-align: middle;cursor: pointer;
  -webkit-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch::before {
  content: '';position: absolute;top: -4px;left: -4px;width: 24px;height: 24px;background: #fafafa;
  box-shadow: 0 2px 8px rgba(0,0,0,0.28);border-radius: 50%;
  -webkit-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
  box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
}
input:checked + .switch {
  background: rgba(0,150,136,0.5);
}
input:checked + .switch::before {
  left: 20px;
  background: #009688;
}
input:checked + .switch:active::before {
  box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
}

/*---------------------------------------------------------------------------------------
	CALENDAR
-----------------------------------------------------------------------------------------*/

.calendar_container{
	position: relative;
	width: 100%;
}

.calendar_container .block_container{margin-bottom: 16px;}

.calendar_imgcontainer{
	width: 100%;
	height: 210px;
}

.calendar{width: 100%;height: 100%;}

#calendar_dayeventscont{
	height: calc(100% - 54px);
}

#calendar_dayevents_title{
	padding-left: 50px;
	position: relative;
	height: 18px;
}

.calendar #month{
	display: inline-block;
	font-size: 18px;
	position: relative;
}

.calendar .my_cont{
	position: relative;
	top: 4px;
}

.calendar #year{font-size: 13px;height: 22px;}

.dayname{font-size: 13px;}

.calendar .tablecalendar{
	position: relative;
	padding: 8px 0 8px 0;
	z-index: 0;
	overflow: hidden;
}

.calendar .today_title{padding: 24px;}

.calendar .today_title div{margin: 8px;}

.calendar .today_title .day_title{font-size: 80px;font-weight: lighter;}

.calendar .today_title .month_title, .calendar .today_title .year_title{font-size: 20px;}

.calendar .today_title .year_title{opacity: 0.7;}

.tablecalendar .day{
	display: inline-block;
	width:  14.2857%;
	height: 52px;
	font-weight: bold;
}

.day .pd_8{cursor: pointer;width: 32px;height: 32px;margin: 0 auto;}

.tablecalendar .today{opacity: 0.7;}

.tablecalendar .day .num{
	padding-top: 4px;
	text-align: center;
	width: auto;
}

.tablecalendar .day .dot_cont{
	width: auto;
	text-align: center;
	margin-top: -5px;
	height: auto;
}

.tablecalendar .day .dot_cont span{
	width: 4px;
	height: 4px;
	border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: rgba(0,0,0,0.2);
	color: #bdbdbd;
	margin: 1.5px;
	display: inline-block;
	vertical-align: middle;
}

.calendar .tablecalendar .day_pos{
	display: none;
	width: 48px;
	height: 48px;
	opacity: 0.2;
	position: absolute;
	z-index: -1;
}

.attached_filecontainer{margin: 0 16px 0 16px;}

.attached_filecontainer span{
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 18px;
}

.attached_filecontainer div.sl_title{
	display: inline-block;
	width: calc(100% - 116px);
	overflow: hidden;
	height: 17px;
}

.attached_filecontainer span.bg_download{
	margin-left: 18px;	margin-right: 0;

}
.listitemactions{
	padding-bottom: 6px;
}
.listitemactions .mr_top4{
	margin-top: 5px;
}

.listitemactions span{
	width: 40px;
	height: 40px;
	display: inline-block;
	background-size: 16px;
	margin-left: 6px;
}

/*---------------------------------------------------------------------------------------
	SETTINGS
-----------------------------------------------------------------------------------------*/

.settings_colors{max-width: 400px;margin: 0 auto;}

.settings_colors span{
	width: 56px;
	height: 56px;
	display: inline-block;
	margin: 4px;
	cursor: pointer;
	background-size: 26px;
}

.settings_colors span:hover{box-shadow: 0px 2px 8px rgba(0,0,0,0.3);}

/*---------------------------------------------------------------------------------------
	BUTTONS
-----------------------------------------------------------------------------------------*/

.raised_button{
	width: auto;
	display: inline-block;
	height: 36px;
	margin-left: 18px;
	text-transform: uppercase;
	font-size: 14px;
}

.raised_button input{
	height: 100%;
	width: 100%;
	padding: 0 12px 0 12px;
	font-size: 14px;
	font-weight: 500;
	border: none;
	outline: none;
	text-transform: uppercase;
	background-color: transparent;
}

.form_input span.submit{
	float: right;
	padding: 0;
	width: 52px;
	height: 52px;
	display: block;
	cursor: pointer;
	background-size: 24px;
}

.form_input2 span.submit{
	width: 52px;
	height: 52px;
	margin: 6px;
	display: inline-block;
	cursor: pointer;
	background-size: 24px;
	float: right;
}

.form_input span.submit input[type='submit']{
	width: 100%;
	height: 100%;
	margin: 0;
}

.form_input input[type='submit'], .form_input span.submit_cancel{
	display: inline-block;
	border: none;
	outline: none;
	background: transparent;
	width: auto;
	padding: 16px;
	font-size: 16px;font-weight: bold;
	cursor: pointer;
	vertical-align: middle;
	float: right;
}

.form_input input[type='submit']{
	margin-right: 12px;
}

input[type='submit'], input[type='button']{cursor: pointer;}

.calendar .button{
	position: relative;
	width: 42px;
	height: 42px;
	margin: 0px;
	margin-bottom: 0;
	background: no-repeat center;
	background-size: 22px;
	cursor: pointer;
	z-index: 1;
}
.calendar .button#left{
	background-image: url('/images/arrow-left.png');
	float: left;
}
.calendar .button#right{
	background-image: url('/images/arrow-right.png');
	float: right;
}
.calendar .button:hover{
	background-color: rgba(0,0,0,0.04);
}

.float_buttoncontainer{
	position: fixed;
	width: 57px;
	height: 57px;
	right: 24px;
	bottom: 24px;
	z-index: 59;
	overflow: hidden;
	border-radius: 80px;-webkit-border-radius: 80px;-moz-border-radius: 80px;-o-border-radius: 80px;
}

.float_buttoncontainer span{
	display: block;
	width: inherit;
	height: inherit;
	cursor: pointer;
	background-size: 24px;
}

/*---------------------------------------------------------------------------------------
	SHADOWS
-----------------------------------------------------------------------------------------*/

.menu_grid{box-shadow: 1px 0px 4px rgba(0,0,0,0.14);}

.flat_shadow, .block_container, .hidden_block, .login_container, .msmtopname img, .msmtopname .letter{
	box-shadow: 0px 1px 4px rgba(0,0,0,0.14);}

.flat_rshadow{
	box-shadow: 0px -1px 4px rgba(0,0,0,0.14);
}

.minimenu_hidden{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

.button_shadow{
	box-shadow: 0px 2px 5px rgba(0,0,0,0.36);
}

.form_input span.submit{
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.form_input span.submit:hover{
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.form_input span.submit:active{
	box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

.float_buttoncontainer{box-shadow: 0px 6px 10px rgba(0,0,0,0.24);}

.profile_img .minimenu span{
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.14);
}

/*---------------------------------------------------------------------------------------
	LOAD - SPINNER
-----------------------------------------------------------------------------------------*/

.load_container{display: block;}

.load{
	text-align: center;
	width: auto;
	padding: 120px 24px 120px 24px;
}

.no_result{word-wrap: break-word;}

.hidecontent_button{cursor: pointer;margin-left: 8px;}

.hidecontent_button span:hover{text-decoration: underline;}

.subject_prom{display: none;}

/*---------------------------------------------------------------------------------------
	DARK THEME
-----------------------------------------------------------------------------------------*/

.dark_theme{
	color: #e0e0e0;
	background-color: #303030;
}

.dark_theme .opacity_color{
	color: rgba(255,255,255,0.4);
}

.dark_theme .bg_white{
	background-color: #424242;
}

.dark_theme .opc{
	color: #bdbdbd;
}

.dark_theme .bg_lightgray{
	background-color: #383838;
}

.dark_theme .block_containermsm{background-color: #343434;}

.dark_theme .h_listtopcontainer{
	color: rgba(255,255,255,0.7);
}

.dark_theme .rightmsm .msm_date{
	color: rgba(255,255,255,0.6);
}

.dark_theme .border_bottom, .dark_theme .border_thick, .dark_theme .border_right, .dark_theme .border_t{border-color: rgba(255,255,255,0.06);}

.dark_theme .hover:hover{background-color: rgba(255,255,255,0.035);}

.dark_theme .form_input input[type='text'], .dark_theme .form_input input[type='email'],
.dark_theme .form_input input[type='password'], .dark_theme .form_input input[type='text'], 
.dark_theme .form_input select, .dark_theme .form_input textarea, .dark_theme .flat_input textarea{
	color: #e0e0e0;
	border-color: rgba(255,255,255,0.1);
}

.dark_theme .form_input input[type='text']:focus, .dark_theme .form_input input[type='email']:focus,
.dark_theme .form_input input[type='password']:focus, .dark_theme .form_input input[type='text']:focus,
.dark_theme .form_input select:focus, .dark_theme .form_input textarea:focus{
	border-color: #FF5252;
}

.dark_theme .form_input2 input[type='text'], .dark_theme .form_input2 textarea, .dark_theme .msminput input[type='text']{
	color: #e0e0e0;
}

.dark_theme .form_input2 input[type='text'].white_text{color: #fff;}

.dark_theme option{background-color: #424242;color: #fff;}

.dark_theme .minimenu_hidden, .dark_theme .notifications_hidden{color: #e0e0e0;background-color: #404040;}

.dark_theme .search span.searchicon{
	background-image: url('/images/magnify_white.png');
}

.dark_theme .search input[type='text']{
	color: #e0e0e0;
	background-color: #424242;
}

.dark_theme input[type=radio]:not(old):hover + label > span > span{
	background-color: #FFC400;
}
.dark_theme input[type=radio]:not(old):checked + label > span{
	border-color: #FFC400;
}
.dark_theme input[type=radio]:not(old):checked + label > span > span{
	background-color: #FFC400;
}
.dark_theme .switch {
  background: rgba(255,255,255,0.3);
}
.dark_theme.switch::before {
  background: #bdbdbd;
}
.dark_theme input:checked + .switch {
  background: rgba(128,203,196,0.5);
}
.dark_theme input:checked + .switch::before {
  background: #80cbc4;
}

.form_titlepad{
	padding: 12px 24px 12px 56px;
	width: auto;
}

.form_input input[type='text'].activeline, .form_input select.activeline{
	font-size: 22px;background: transparent;
	width: 100%;border-color: rgba(255,255,255,0.3);
	margin-top: 0;color: #fff;
}

.form_input input[type='text'].activeline:focus, .form_input select.activeline:focus{
	border-bottom: 2px solid #FFFF00;
	padding-bottom: 7px;
}

.form_input2 input.white_text::-webkit-input-placeholder{color: rgba(255,255,255,0.3);}
.form_input2 input.white_text:-moz-placeholder{color: rgba(255,255,255,0.3);}
.form_input2 input.white_text::-moz-placeholder{color: rgba(255,255,255,0.3);}
.form_input2 input.white_text:-ms-input-placeholder{color: rgba(255,255,255,0.3);}

.form_input .activeline ~ label{
	color: rgba(255,255,255,0.4); 
 	font-size: 22px;
 	font-weight: normal;
 	position: absolute;
	pointer-events: none;
	left: 0px;
	top: 9px;
	transition: 0.2s ease all; 
	-moz-transition: 0.2s ease all; 
	-webkit-transition: 0.2s ease all;
}

input.activeline:focus ~ label, input.activeline:valid ~ label{
	font-size: 15px;
	color: #FFFF00;
	top: -15px;
}
