@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Syncopate);

*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body {
  	padding: 0;
 	margin: 0;
 	height: 100%;
	font-family: 'Roboto' , 'Helvetica' , sans-serif;
	background-color: #e0e0e0;
	color: #212121;
	font-size: 14px;
}

a{
	text-decoration: none;
}

input, select, textarea, option{font-size: 15px;}

select, option{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand, option::-ms-expand { /* for IE 11 */
    display: none;
}

/*---------------------------------------------------------------------------------------
	TITLES
-----------------------------------------------------------------------------------------*/

.b_title{
	font-size: 72px;
	font-weight: bold;
}
.bm_title{
	font-size: 36px;
	font-weight: bold;
}
.mm_title{
	font-size: 22px;
	font-weight: normal;
}
.ml_title{
	font-size: 20px;
	font-weight: bold;
}
.ll_title{
	font-size: 15px;
	font-weight: bold;
}
.sl_title{
	font-size: 14px;
	font-weight: bold;
}

.lighttext{font-weight: lighter;}
.uppercase{text-transform: uppercase;}
.b_text{font-weight: bold;}
.rel_pos{position: relative;}
.abs_pos{position: absolute;}

/*---------------------------------------------------------------------------------------
	GRID
-----------------------------------------------------------------------------------------*/

.colhh1, .colhh6{
	width: 100%;
}
.colhh2{
	width: 50%;
	display: inline-block;
}
.colhh3{
	width: 50%;
	display: inline-block;
}
.index_container .colhh3{width: 100%;}
.colhh4{width: 100%;}

.autocol{
	width: auto;
	display: inline-block;
}
.borad{
	border-radius: 2px;
}

.calendar .colhh7{
	width: 14.2857%;
	display: inline-block;
}

.h_listcontainer .h_listitem{
	width: auto;
	display: inline-block;
	margin: 0;
	cursor: pointer;
}

.h_listcontainer .h_listline{
	height: 3px;
	display: inline-block;
	position: absolute;
	bottom: 0;
}

/*---------------------------------------------------------------------------------------
	PADDING
-----------------------------------------------------------------------------------------*/

.pd_4{padding: 4px;width: auto;}
.pd_6{padding: 6px;width: auto;}
.pd_8{padding: 8px;width: auto;}
.pd_12{padding: 12px;width: auto;}
.pd_14{padding: 14px;width: auto;}
.pd_16{padding: 16px;width: auto;}
.pd_18{padding: 18px;width: auto;}
.pd_24{padding: 24px;width: auto;}
.pd_32{padding: 32px;width: auto;}
.pd_40{padding: 40px;width: auto;}
.pd_48{padding: 48px;width: auto;}
.pd_64{padding: 64px;width: auto;}
.pd12_24{padding: 12px 24px 12px 24px;width: auto;}
.pd16_24{padding: 16px 24px 16px 24px;width: auto;}
.pd12_14{padding: 12px 14px 12px 14px;width: auto;}
.pd12_18{padding: 12px 18px 12px 18px;width: auto;}
.pd18_32{padding: 18px 32px 18px 32px;width: auto;}
.pd_llist{padding-left: 18px;padding-bottom: 10px;width: auto;}
.pd_l16{padding-left: 16px;padding-bottom: 16px;width: auto;}
.pd_tb_8{padding: 8px 0 8px 0;width: auto;}
.pd_tb_10{padding: 10px 0 10px 0;width: auto;}
.pd_tb_12{padding: 12px 0 12px 0;width: auto;}
.pd_tb_16{padding: 16px 0 16px 0;width: auto;}
.pd_tb_24{padding: 24px 0 24px 0;width: auto;}
.mr_4{margin: 4px;}
.mr_8, .ml_8{margin: 0;}
.mr_8l4r{
	margin: 8px;
	margin-right: 4px;
}

.bdb_container{
	overflow: hidden;
}

.doublegrid{
	width: 200%;
	height: 100%;
}

.halfgrid{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.autooverflow{
	overflow: auto;
}


/*---------------------------------------------------------------------------------------
	SPACES
-----------------------------------------------------------------------------------------*/

.margin_top{margin-top: 24px;}

.margin_topm{margin-top: 8px;}

.margin_mintb{margin-top: 4px;margin-bottom: 4px;}

.margin_bot{margin-bottom: 12px;}

.bottompage{margin-bottom: 64px;}

.v_top{vertical-align: top;}

.v_middle{vertical-align: middle;}

.v_bottom{vertical-align: bottom;}

/*---------------------------------------------------------------------------------------
	BACKGROUNDS - COLORS
-----------------------------------------------------------------------------------------*/

.txtprimary_color{color: #3F51B5;}
.txtprimary_colorDarker{color: #303F9F;}
.txtaccent_color{color: #00BFA5;}
.txtaccent_colorfall{color: #1DE9B6;}

.bgprimary_color{background-color: #3F51B5;}
.bgprimary_colorDarker{background-color: #303F9F;}
.bgaccent_color{background-color: #00BFA5;}
.bgaccent_colorfall{background-color: #1DE9B6;}

.bg_white{background-color: #fff;}
.bg_blue{background-color: #2196F3;}
.bg_darkblue{background-color: #0D47A1;}
.bg_lightblue{background-color: #03A9F4;}
.bg_cyan{background-color: #00BCD4;}
.bg_indigo{background-color: #3F51B5;}
.bg_teal{background-color: #009688;}
.bg_green{background-color: #4CAF50;}
.bg_lightgreen{background-color: #8BC34A;}
.bg_lime{background-color: #CDDC39;}
.bg_orange{background-color: #FF9800;}
.bg_darkorange{background-color: #FF5722;}
.bg_red{background-color: #F44336;}
.bg_purple{background-color: #9C27B0;}
.bg_darkpurple{background-color: #673AB7;}
.bg_pink{background-color: #E91E63;}
.bg_lightpink{background-color: #FF4081;}
.bg_yellow{background-color: #FFEB3B;}
.bg_amber{background-color: #FFC107;}
.bg_brown{background-color: #795548;}
.bg_bluegray{background-color: #607D8B;}
.bg_lightgray{background-color: #e0e0e0;}
.bg_gray{background-color: #616161;}
.bg_darkgray{background-color: #212121;}

.bg_img{
	background-image: url('/images/desktop.jpg');
	background-size: cover;background-repeat: no-repeat;
	background-position: center;	
}

.bg_img2{
	background-image: url('/images/img1.jpg');
	background-size: cover;background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;	
}

.bg_edit, .bg_editgray, .bg_send, .bg_plus, .bg_close, .bg_check, .bg_login, .bg_chat, .bg_chatwhite{
	background-size: 42%;background-repeat: no-repeat;
	background-position: center;
}

.bg_edit{background-image: url('/images/whitepencil.png');}

.bg_send{background-image: url('/images/send.png');}

.bg_plus{background-image: url('/images/plus.png');}

.bg_close{background-image: url('/images/arrow-leftwhite.png');}

.bg_check{background-image: url('/images/check.png');}

.bg_login{background-image: url('/images/login.png');}

.bg_chat{background-image: url('/images/messageopc.png');}

.bg_chatwhite{background-image: url('/images/message.png');}

.bg_editgray{background-image: url('/images/pencil.png');}

.border_bottom{border-bottom: 1px solid rgba(0,0,0,0.1);}

.border_bottomthick{border-bottom: 2px solid rgba(0,0,0,0.4);}

.inbox_shadow{box-shadow: inset 0px 1px 2px rgba(0,0,0,0.24);}

.normal_txt{font-weight: normal;}

.hover{cursor: pointer;}

/*.hover:hover{background-color: rgba(0,0,0,0.04);}*/

.white_text{color: #fff;}

.circle{border-radius: 80px;}

.dark_text{color: rgba(0,0,0,0.5);}

.empty_blocktext{
	opacity: 0.4;
}

.empty_blocktext .pd_64{
	padding: 48px;
}

.empty_blocktext span{
	display: inline-block;
	margin: 8px;
	width: 48px;height: 48px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: relative;top: -4px;
}

.bg_opacity{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
}

.opacity_color{color: rgba(0,0,0,0.5);}

.text_shadow{text-shadow: 0px 1px 1px rgba(0,0,0,0.5);}

.list_borderleft{border-left: 4px solid #00BCD4;margin-top: 8px;
	padding-top: 6px;margin-left: 38px;margin-bottom: 18px;}

/*---------------------------------------------------------------------------------------
	ALIGN
-----------------------------------------------------------------------------------------*/

.left_text{text-align: left;}

.right_text{text-align: right;}

.center_text{text-align: center;}

.left_float{float: left;}

.right_float{float: right;}

.margin_l{margin-left: 8px;}

.margin_r{margin-right: 8px;}

/*---------------------------------------------------------------------------------------
	INDEX
-----------------------------------------------------------------------------------------*/

.index_container .bg_img{
	position: relative;
	background-attachment: fixed;
}

.index_container .bg_opacity{
	background-color: rgba(0,0,0,0.4);
}

.index_container .pd{
	padding: 32px;
	padding-bottom: 48px;
}

.index_container .colhh2{width: 100%;}

.index_container .title{
	font-size: 39px;
	padding: 18px;
	font-weight: bold;
}

.index_container .title img{
	width: 120px;
	height: 120px;
}

.index_container .title_2{
	font-size: 40px;
	padding: 12px;
	padding-bottom: 20px;
	font-weight: lighter;
}

.index_container .title_3{
	font-size: 32px;
	font-weight: normal;
}

.index_container .float_button{
	position: absolute;
	width: 64px;height: 64px;
	border-radius: 48px;
	right: 32px;
	bottom: -32px;
	cursor: pointer;
}

.index_container .responsiveimg img{
	width: 300px;
}

.index_container .tools img{
	margin: 24px;
	width: 120px;
	height: 120px;
}

.index_container .social_img .circle{
	display: inline-block;margin: 18px;cursor: pointer;
	background: no-repeat center;background-size: 45%;
}

/*---------------------------------------------------------------------------------------
	LOGIN
-----------------------------------------------------------------------------------------*/

.op_bg{
	height: 100%;
	width: auto;
	position: relative;
	color: #fff;
}

.op_bg img{
	width: 70px;
	height: 70px;
}

.op_bg .login_title{padding: 64px;padding-bottom: 48px;font-size: 23px;font-weight: bold;}

.login_container{
	width: calc(100% - 80px);
	margin: 0px auto; 
	background-color: rgba(21,21,21,0);
	margin-bottom: 24px;
}

.login_container a{
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}

.login_container .bm_title{
	font-weight: lighter;
	font-size: 30px;
}

.login_container a:hover{
	text-decoration: underline;
}

.sign_field span{
	display: inline-block;
	width: 48px;
	height: 48px;
	margin: 0;
	padding: 0;
	float: left;
	border-radius: 2px 0 0 2px;
	background: rgba(0,0,0,0.1) no-repeat center;
	background-size: 24px 24px;
}

.sign_field input.textfield{
	display: inline-block;
	outline: none;border: none; 
	background-color: rgba(0,0,0,0.1);
	width: calc(100% - 72px);
	font-size: 18px;
	margin: 0;height: 16px;
	padding: 16px;
	padding-left: 6px;
	border-radius: 0 2px 2px 0;
}

.sign_field input.signbutton{
	outline: none;
	border: none;
	border-radius: 2px; 
	width: 60px;height: 60px;
	border-radius: 48px;
	margin: 4px;
	float: right;
	position: relative;
}

.login_bottom{
	position: relative;
	font-size: 16px;
	bottom: -24px;
	display: none;
}

/*---------------------------------------------------------------------------------------
	MENU
-----------------------------------------------------------------------------------------*/

.back_menu{
	background-color: rgba(0,0,0,0.1);
	height: 100%;
	width: 100%;
	color: #fff;
	position: fixed;
	z-index: 997;
	display: none;
}

.menu_grid{
	width: 296px;
	background-color: #fff;
	height: 100%;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.24);
	position: fixed;
	left: -306px;
	z-index: 999;
}

.menu_userbg{
	height: 150px;
	background: url('/images/dark_flat.jpg') no-repeat;
	background-size: cover;
	position: relative;
}

.menu_userimg{
	position: absolute;
	width: 68px;
	height: 68px;
	top: 14px;
	left: 14px;
}

.menu_userimg img{
	width: 100%;
	height: 100%;
	border-radius: 60px;
}

.menu_username{
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	font-weight: 500;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	font-size: 12.5px;
}

.menu_username a{
	color: #fff;
	text-decoration: none;
}

.menu_username span{
	display: block;
	width: auto;
	font-weight: normal;
	margin-top: 2px;
	opacity: 0.8;
}

.menu_opccontainer{
	overflow: auto;
	height: calc(100% - 150px)
}

.menu_opccontainer .opc{
	width: auto;
	padding: 18px;
	height: 17px;
	cursor: pointer;
	vertical-align: middle;
}

.menu_opccontainer .opc span{
	display: inline-block;
	width: 24px;
	height: 24px;
	background-size: 95%;
	background-repeat: no-repeat;
	margin-right: 32px;
	float: left;
	position: relative;
	top: -3px; 
}

.menu_opccontainer .opc label{
	display: inline-block;
}

.menu_opccontainer a{
	text-decoration: none;
	color: #212121;
}

.top_pallete{
	position: fixed;
	height: 63px;
	color: #fff;
	z-index: 50;
}

.top_pallete .top_title{
	position: relative;
	font-size: 18px;
	width: auto;
	padding-left: 64px;
	font-weight: normal;
	top: 23px;
}

.top_pallete_inner{
	width: 100%;
	position: fixed;
	z-index: 6;
	height: 64px;
}

.menu_button{
	position: absolute;
	cursor: pointer;
	width: auto;
	height: auto;
	padding: 12px;
	z-index: 99;
	left: 6px;
	top: 12px;
}

.menu_button span{
	display: block;
	width: 20px;
	height: 2px;
	margin: 3px;
	background-color: rgba(0,0,0,0.5);
}

.top_pallete .msm{
	position: absolute;
	background: url('/images/message.png') no-repeat center;
	background-size: 100%;
	width: 20px;
	height: 20px;
	top: 24px;
	right: 24px;
	cursor: pointer;
}

/*---------------------------------------------------------------------------------------
	OTHER
-----------------------------------------------------------------------------------------*/

.page_container{width: 100%;}

.topspace{
	height: 64px;
	width: 100%;
}

.hidden_blockcontainer{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 499;
	display: none;
	background-color: rgba(0,0,0,0.3);
}

.hidden_blockback{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.hidden_block{
	width: 100%;
	margin: 0 auto;
	height: 100%;
	position: relative;
	top: 0;border-radius: 0;
}

.hidden_block span.close{
	float: right;width: 55px;height: 54px;
	border-radius: 0 32px 32px 0;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
	z-index: 49;background-size: 24px;
	top: 16px;left: 0px;
}

.hidden_block .form_title{
	padding-left: 56px;
	font-size: 17px;
	vertical-align: middle;
	height: 18px;
	padding-top: 17px;
	padding-bottom: 19px;
}

.hidden_block span.close:hover{
	background-color: rgba(0,0,0,0.04);
}

.hb_formcontainer{
	height: calc(100% - 70px);
	overflow: auto;
}

.block_container{
	width: 100%;
	margin: 12px 0 12px 0;
	border-radius: 0;
	overflow: hidden;
	height: auto;
}

.block_containermsm{
	overflow: hidden;
	border-radius: 0;
	height: calc(100% - 64px);
}

.block_container:last-child{
	margin-bottom: 64px;
}

.colhh2 .block_container:last-child{
	margin-bottom: 12px;
	margin-top: 0;
}

.colhh7 .block_container:last-child, .colhh6 .block_container:last-child{
	margin-bottom: 0;
}

.mainoptions span{
	width: 40px;
	height: 40px;
	margin: 12px auto;
	display: block;
	margin-bottom: 24px;
	background: no-repeat center;
	background-size: 100%;
}

.mainoptions:hover{
	position: relative;
	top: -4px;
}

/*---------------------------------------------------------------------------------------
	PROFILE TOP
-----------------------------------------------------------------------------------------*/

.profile_img{
	height: 200px;
	background: url('/images/dark_flat.jpg') no-repeat center;
	background-size: cover;
	position: relative;
}

.profile_img2{
	height: 80px;
	background: url('/images/dark_flat.jpg') no-repeat center;
	background-size: cover;
	position: relative;
}

.photo{
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 12px;
	left: 18px;
}

.profile_img2 .photo{
	width: 56px;
	height: 56px;
}

.photo img{
	width: 100%;
	height: 100%;
	border-radius: 84px;
}

.profile_img .name, .profile_img2 .name{
	position: absolute;
	bottom: 0;
	right: 0;
	width: calc(100% - 110px);
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.profile_img2 .name{width: calc(100% - 88px);}

.profile_img .name span , .profile_img2 .name span{
	display: block;
	width: auto;
	font-weight: normal;
	margin-top: 2px;
	opacity: 0.8;
}

/*---------------------------------------------------------------------------------------
	MINIMENU
-----------------------------------------------------------------------------------------*/

.minimenu_container{
	float: right;
	display: inline-block;
	width: auto;
	position: relative;
	top: -1px;
}

.minimenu{
	cursor: pointer;
	position: relative;
	top: 0;
	right: 0;
}

.minimenu span{
	display: block;
	width: 4px;
	height: 4px;
	margin: 2px;
	border-radius: 5px;
	background-color: #fff; 
}

.minimenu_hidden{
	display: none;
	min-width: 110px;
	width: auto;
	background-color: #fafafa;
	border-radius: 2px;
	position: absolute;font-size: 14px;
	top: 0;
	right: 0;
	padding: 0;
	z-index: 10;
	color: #212121;
	font-weight: normal;
}

/*---------------------------------------------------------------------------------------
	NOTIFICATIONS
-----------------------------------------------------------------------------------------*/


.notif_icon{
	background: url('/images/bell.png') no-repeat center;
	background-size: 20px;
	width: 36px;
	height: 36px;
	border-radius: 36px;
	position: relative;
	top: -8px;
	left: 6px;
	transition: all ease-in-out 0.6s;
}

.notif_icon:hover{
	background-color: rgba(0,0,0,0.1);
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

span#notif_settings{
	background: url('/images/settings.png') center no-repeat;
	background-size: 18px;
	display: inline-block;cursor: pointer;
	width: 30px;
	height: 30px;
	border-radius: 22px;
	position: relative;top: -6px;
	right: -6px;transition: all ease-in-out 0.3s;
}

span#notif_settings:hover{background-color: rgba(0,0,0,0.06);
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.notif{
	position: fixed;
	z-index: 99;
	right: 20px;
	top: 22px;
}

.notif .notifscroll{
	width: 302px;
	height: 296px;
	overflow: auto;
}

/*---------------------------------------------------------------------------------------
	LISTS
-----------------------------------------------------------------------------------------*/

.listitem_img{
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 16px;
	vertical-align: top;
	text-align: center;
}

.listitem_img img{
	width: 100%;
	height: 100%;
	border-radius: 48px;
}

.listitem_img span{
	opacity: 0.7;
	display: block;
	font-size: 28px;
	width: 34px;
	height: 34px;
	padding: 8px;
	font-weight: lighter;
	border-radius: 48px;
	color: #fff;
}

.listitem_info{
	padding: 22px 16px 20px 0;
	display: inline-block;
	height: 39px;
	vertical-align: top;
	width: calc(100% - 98px);
	position: relative;
}

.listitem_righticon{
	width: 40px;
	height: 40px;
	border-radius: 40px;
	position: absolute;
	z-index: 1;
	right: 20px;
	top: 20px;
}

.listitem_righticon:hover{
	background-color: rgba(0,0,0,0.08);
}

.listitem_title{
	overflow: hidden;
	width: calc(100% - 60px);
	height: 17px;
}

.listitem_title b{
	width: auto;
	display: inline-block;
}

.left_listcontainer{
	width: auto;
	height: calc(100% - 105px);
}

.listitem_bottomdata{
	opacity: 0.7;
	margin-top: 6px;
	overflow: hidden;
	height: 16px;
}

.listitem_rightinfo{
	opacity: 0.5;
	position: absolute;
	top: 22px;
	right: 16px;
	font-size: 12px;
}

.listitem_rightinfo label{
	font-size: 12px;
}

/*---------------------------------------------------------------------------------------
	RIGHT HALF
-----------------------------------------------------------------------------------------*/

.msmtopname{
	padding: 19px 18px 19px 46px;
	height: 16px;
	font-size: 15px;
	position: relative;
}

.msmtopname img, .msmtopname .letter{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	position: relative;
	top: -11px;
	margin: 0;
	margin-right: 16px; 
	cursor: pointer;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.24);
}

.msmtopname .letter{
	opacity: 0.7;
	font-size: 24px;
	width: 28px;
	height: 28px;
	padding: 6px;
	text-align: center;
	vertical-align: middle; 
}

.msmtopname .minimenu{
	top: -1px;
}

.msmtopname .minimenu span{
	background-color: #616161;
}

.backicon{
	display: block;
	width: 48px;
	height: 100%;
	position: absolute;
	border-radius: 0 40px 40px 0px;
	background: url('/images/arrow-left.png') no-repeat center;
	background-size: 22px; 
	top: 0px;left: 0px;
	cursor: pointer;
}

.backicon:hover{background-color: rgba(0,0,0,0.04);}

.msmcontent{
	height: calc(100% - 54px);
	position: relative;
	top: 0;
	left: 0;
	vertical-align: top;
}

.msm_innercontent{
	width: 100%;
	height: calc(100% - 62px);
	overflow: auto;
	position: relative;
	top: -5px;left: 0;
}

.msminput{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 99;
	display: block;
	height: 62px;
	background-color: rgba(0,0,0,0.03);
}

.msminput input[type='text']{
	width: calc(100% - 104px);
	height: 42px;
	padding: 0 12px 0 12px;
	color: #212121;
	margin: 10px;
	margin-right: 12px;
	margin-left: 12px;
	border-radius: 6px;
	background-color: #fff;
	border: none;
	outline: none;
}

.msminput input[type='submit']{
	border-radius: 48px;
	width: 42px;
	height: 42px;
	float: right;
	margin: 10px;
	margin-right: 12px;
	margin-left: 0;
	border: none;
	outline: none;
}

.leftmsm{
	position: relative;
	display: inline-block;
	max-width: 84%;
	border-radius: 6px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.24);
	left: 8px;
	margin-bottom: 4px;
}

.leftmsm div{
	font-size: 13px;	
	position: relative;
	z-index: 4; 
}

.leftmsm i{
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 0;
	left: -4px;
	transform: skewX(30deg);-webkit-transform: skewX(30deg);-moz-transform: skewX(30deg);
	-ms-transform: skewX(30deg);-o-transform: skewX(30deg);
	box-shadow: -1px 0px rgba(0,0,0,0.24);
}

.rightmsm{
	position: relative;
	display: inline-block;
	float: right;
	max-width: 80%;
	border-radius: 6px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.24);
	left: -8px;
	opacity: 0.8;
	margin-bottom: 4px;
}

.rightmsm div{
	font-size: 13px;
	position: relative;
	z-index: 4; 
}

.rightmsm i{
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 0;
	right: -3px;
	transform: skewX(-30deg);-webkit-transform: skewX(-30deg);-moz-transform: skewX(-30deg);
	-ms-transform: skewX(-30deg);-o-transform: skewX(-30deg);
	box-shadow: 1px 0px rgba(0,0,0,0.24);
}

.msm_date{
	display: block; 
	float: right;
	font-size: 11px;
	opacity: 0.6;
	margin: 8px 0 4px 8px; 
}

.rank span{
	width: 10px;
	height: 10px;
	border-radius: 12px;
	margin: 3px;
	display: inline-block;
	float: left;
}

.progress_bar{
	width: 80%;
	height: 12px;
	margin-top: 16px;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}

.progress_emoticon{
	position: relative;
}

.progress_emoticon div{
	position: relative;
	font-size: 22px;
	font-weight: normal;
	display: inline-block;
	margin-top: 2px;
}

.progress_emoticon span{
	display: inline-block;
	vertical-align: top;
	float: left;
	width: 32px;
	height: 32px;
	background: url('/images/emoticon.png') no-repeat center;
	background-size: 32px;
	margin-right: 32px;
	margin-bottom: 26px; 
}

.progress_emoticon #indicator{
	width: 48px;
	height: 48px;
	position: absolute;
	display: block;
	margin: 0;
	border-radius: 40px;
	opacity: 0.3;
	top: -8px;left: 120px;
	z-index: -1;
}

.notif .listitem_img{
	padding: 12px;
	width: 40px;
}

.notif .listitem_img span{
	position: relative;top: 3px;
	width: 28px;height: 28px;
	padding: 6px;font-size: 23px;
}

.notif .listitem_info{
	width: calc(100% - 82px);
	padding-top: 19px;
	padding-bottom: 19px; 
}

.notif .listitem_rightinfo{
	top: 19px;
}

.search{
	width: auto;
	position: relative;
	padding: 8px 10px 8px 10px;
	background-color: rgba(0,0,0,0.04);
}

span.searchicon, span.searchicon_white{
	width: 18px;
	height: 18px;
	position: absolute;
	cursor: pointer;
	left: 26px;top: 17.4px;
	opacity: 0.7;
	background: url('/images/magnify.png') no-repeat center;
	background-size: 100%;
	display: block;
}

span.searchicon_white{background-image: url('/images/magnify_white.png')}

.search input[type='text']{
	width: calc(100% - 72px);
	color: #616161;
	border-radius: 40px;
	border: none;
	outline: none;
	padding: 0 24px 0 48px; 
	font-weight: lighter;
	height: 36px;
	margin: 0;
}

/*---------------------------------------------------------------------------------------
	FORM INPUTS
-----------------------------------------------------------------------------------------*/

.form_input{
	margin-bottom: 24px; 
}

.form_input .left_title{
	display: block; 
}

.form_input2{
	margin-bottom: 0px; 
}

.form_input:last-child{
	margin-bottom: 0; 
}

.form_input input[type='text'], .form_input input[type='password'], .form_input input[type='email'],
.form_input select, .form_input textarea{
	font-family: 'Roboto' , sans-serif;
	border: none;
	outline: none;
	width: calc(100% - 4px);
	margin-top: 6px;
	padding: 10px 2px 10px 2px;
	background-color: transparent;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.form_input select{
	width: 100%;
}

.form_input textarea{
	height: 96px;
	max-width: calc(100% - 4px);
	min-width: calc(100% - 4px);
	border: none;
}

.form_input input[type='text']:focus, .form_input input[type='password']:focus, .form_input input[type='email']:focus,
.form_input select:focus{
	border-bottom: 2px solid #00BFA5;
	padding-bottom: 9px;
}

.form_input .activeline{font-size: 18px;background: #3F51B5;}

.form_input .activeline:focus{
	border-bottom: 2px solid #1DE9B6;
	padding-bottom: 9px;
}

.activeline::-webkit-input-placeholder {
   color: rgba(255,255,255,0.4);
}

.activeline:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,0.4);  
}

.activeline::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,0.4);  
}

.activeline:-ms-input-placeholder {  
   color: rgba(255,255,255,0.4);  
}

option{color: #212121;background-color: #fff;}

.form_input .double{width: 100%;}

.form_input .double input{width: calc(50% - 10px);}

.form_input .double input.second{margin-left: 12px;width: calc(50% - 10px);}

.form_input textarea{margin-top: 6px;}

.form_input2 input[type='text'], .form_input2 textarea{
	font-family: 'Roboto' , sans-serif;
	border: none;
	outline: none;
	width: calc(100% - 36px);
	max-width: calc(100% - 36px);
	min-width: calc(100% - 36px);
	margin-top: 0;
	padding: 18px;
	background-color: transparent;
	color: #212121;
}

.form_input2 textarea{
	height: 146px;
}

.form_input span.submit{
	float: right;
	padding: 0;
	width: 52px;
	height: 52px;
	border-radius: 48px;
}

.form_input input[type='submit']{
	border: none;
	background: transparent;
	width: 100%;
	height: 100%;
}

/*---------------------------------------------------------------------------------------
	CALENDAR
-----------------------------------------------------------------------------------------*/

.calendar_container{
	position: relative;
	width: 100%; 
}

.calendar_colortitle{box-shadow: 0px 1px 2px rgba(0,0,0,0.24);position: relative;}

.calendar{width: 100%;height: 100%;}

.calendar_right{width: 100%;height: auto;position: absolute;height: 100%;
	z-index: 5;display: none;top: 0;left: 0;overflow: hidden;}

#calendar_dayeventscont{
	height: calc(100% - 55px);
}

#calendar_dayevents_title{
	padding-left: 46px;
	position: relative;
}

.calendar #month{
	display: inline-block;
	font-size: 18px;
	position: relative;
}

.calendar .my_cont{
	position: relative;
	top: 4px;
}

.calendar #year{font-size: 13px;height: 22px;}

.dayname{font-size: 13px;}

.calendar span.button{
	position: relative;
	display: inline-block;
	width: 42px;
	height: 42px;
	margin: 0px 8px 0 8px;
	margin-bottom: 0;
	border-radius: 42px;
	background: no-repeat center;
	background-size: 22px;
	cursor: pointer;
}

.calendar span.button#left{
	background-image: url('/images/arrow-left.png');
	float: left;
}

.calendar span.button#right{
	background-image: url('/images/arrow-right.png');
	float: right;
}

.calendar span.button:hover{
	background-color: rgba(0,0,0,0.04);
}

.calendar .tablecalendar{
	position: relative;
	padding: 14px 0 8px 0;
	z-index: 4;
}

.calendar .today_title{padding: 24px;}

.calendar .today_title div{margin: 8px;}

.calendar .today_title .day_title{font-size: 80px;font-weight: lighter;}

.calendar .today_title .month_title, .calendar .today_title .year_title{font-size: 20px;}

.calendar .today_title .year_title{opacity: 0.7;}

.tablecalendar .day{
	display: inline-block;
	width:  14.2857%;
	height: 48px;
	cursor: pointer;
	font-weight: bold;
}

.tablecalendar .today{color: blue;opacity: 1;}

.tablecalendar .day .num{
	padding-top: 0px;
	text-align: center;
	width: auto;
}

.tablecalendar .day .dot_cont{
	width: auto;
	text-align: center;
	margin-top: -2px;
	height: 17px;
}

.tablecalendar .day .dot_cont span{
	width: 4px;
	height: 4px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.2);
	color: #bdbdbd;
	margin: 1.5px;
	display: inline-block;
	vertical-align: middle;
}

.calendar .tablecalendar .day_pos{
	display: none;
	width: 48px;
	height: 48px;
	opacity: 0.2;
	border-radius: 60px;
	position: absolute;
	z-index: -1;
}

/*---------------------------------------------------------------------------------------
	BUTTONS
-----------------------------------------------------------------------------------------*/

input[type='submit']{cursor: pointer;}

.float_buttoncontainer{
	position: fixed;
	width: 60px;
	height: 60px;
	right: 24px;
	bottom: 24px;
	z-index: 59;
	border-radius: 56px;
	overflow: hidden;
}

.float_buttoncontainer span{
	display: block;
	width: inherit;
	height: inherit;
	cursor: pointer;
}

/*---------------------------------------------------------------------------------------
	SHADOWS
-----------------------------------------------------------------------------------------*/

.flat_shadow, .block_container, .hidden_block, .minimenu_hidden{box-shadow: 0 1px 2px rgba(0,0,0,0.24);}

.sign_field input.signbutton, .msminput input[type='submit'], .form_input span.submit{
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.msminput input[type='submit']:hover, .sign_field input.signbutton:hover, .form_input span.submit:hover{
	box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

.msminput input[type='submit']:active, .sign_field input.signbutton:active, .form_input span.submit:active{
	box-shadow: 0px 1px 1px rgba(0,0,0,0.6);
}

.float_buttoncontainer{box-shadow: 0px 2px 7px rgba(0,0,0,0.3);}

.float_buttoncontainer:hover{
	box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}