@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

*{margin: 0;padding: 0;font-family: 'Roboto', 'Helvetica', sans-serif;}

html{
	width: 100%;
	height: 100%;
}

body{
	font-family: 'Roboto', 'Helvetica', sans-serif;
	width: 100%;height: 100%;
	font-size: 16px;
	padding: 0;margin: 0;
	color: #616161;
	font-weight: bold;
	background-color: #353535;
	/*background: #eeeeee url('../images/wallpaper1.jpg') center/cover no-repeat fixed;*/
}

::-webkit-scrollbar{width: 12px;}

::-webkit-scrollbar-track{background-color: #7f7f7f;}

::-webkit-scrollbar-thumb{
	background-color: #e0e0e0;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #bdbdbd;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.rowscols_table{
	position: fixed;
	width: 100%;
}

.pertable_title{
	background-color: rgba(0,0,0,0.1);
	color: rgba(255,255,255,0.4);
}

.spinner_container{
	width: auto;
	padding: 200px 0 200px 0;
	text-align: center;
}

.spinner{
	display: inline-block;
}

.white_color{color: #fff;}

.minpdbot{padding-bottom: 8px;padding-top: 8px;}

.bg_white{background-color: #fff;}
.border_white{border-color: #fff;}
.bg_darkblue{border-color: #0D47A1;}
.bg_blue{border-color: #2196F3;}
.bg_lightblue{border-color: #03A9F4;}
.bg_cyan{border-color: #00BCD4;}
.bg_indigo{border-color: #3F51B5;}
.bg_teal{border-color: #009688;}
.bg_green{border-color: #4CAF50;}
.bg_lightgreen{border-color: #8BC34A;}
.bg_lime{border-color: #CDDC39;}
.bg_orange{border-color: #FF9800;}
.bg_darkorange{border-color: #FF5722;}
.bg_red{border-color: #F44336;}
.bg_purple{border-color: #9C27B0;}
.bg_darkpurple{border-color: #673AB7;}
.bg_pink{border-color: #E91E63;}
.bg_lightpink{border-color: #FF4081;}
.bg_yellow{border-color: #FFEB3B;}
.bg_amber{border-color: #FFC107;}
.bg_brown{border-color: #795548;}
.bg_bluegray{border-color: #607D8B;}
.bg_lightgray{border-color: #f6f6f6;}
.bg_gray{border-color: #616161;}
.bg_darkgray{border-color: #212121;}

.pd_8{padding: 8px;width: auto;background-color: rgba(0,0,0,0.2);}

#periodic_table{
	width: 100%;
	text-align: center;
}

.element_container, .element_container2{
	cursor: pointer;
	padding: 8px;
	min-width: 50px;
	text-align: center;
	color: #fff;
	font-weight: normal;
	transition: all ease-in-out 0.2s;
	border-top-width: 4px;
	border-top-style: solid;
	margin: 3px 3px 0 3px;
}

.elem_indicator{
	cursor: pointer;
	padding: 16px;
	color: #fff;
	font-weight: normal;
	border-top-width: 4px;
	border-top-style: solid;
	margin: 3px 3px 0 3px;
}

.ptable_rownumber{
	font-weight: bold;
	font-size: 18px;
	padding: 0 8px 0 8px;
}

.hovered_element .element_container2#preview{
	transform: scale(1.8);
	width: auto;
	display: inline-block;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.14);
	border-color: rgba(0,0,0,0.2);
}

.color_dark{
	color: #616161;
}

.lyatitle{
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	height: 34px;
	color: #fff;
}

.senal{
   	font-size: 20px;
	text-align: center;
	color: #fff;
}

.num{
	font-size: 12px;
	height: 14px;
}

.simbolo{
	font-size: 25px;
	width: 100%;
	height: 27px;
	margin: 5px 0 5px 0;
}

.nombre{
	font-size: 10px;
	width: 100%;
	height:15px;
}

.close_block{
	width: 56px;height: 56px;line-height: 56px;
	cursor: pointer;vertical-align: middle;
	position: absolute;text-align: center;
	font-size: 20px;font-weight: lighter;
	top: 0;right: 0;
	background-color: rgba(0,0,0,0.2);
	color: #fff;
	z-index: 99;
}

.close_block:hover{
	background-color: #fff;
	color: #616161;
}

.hidden_eleminfo{
	display: none;
	overflow: auto;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	z-index: 49;
}

.hidden_eleminfo .back{
	position: absolute;
	width: 100%;height: 100%;
}

.hidden_eleminfo .block{
	width: calc(100% - 24px);
	margin: 24px auto;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
	position: relative;
	z-index: 4;
	border-radius: 2px;
	overflow: hidden;
}

.hidden_eleminfo .element_title{
	padding: 18px 0 18px 0;
	width: auto;
	text-align: center;
	color: #fff;
	font-weight: normal;
}

.hidden_eleminfo .element_title .num{
	font-size: 28px;
	width: 100%;
	height: auto;
}

.hidden_eleminfo .element_title .nombre{
	font-size: 24px;
	width: 100%;
	height: auto;
}

.animation_container{
	position: relative;
	width: 320px;
	height: 320px;
	margin: 0 auto;
	padding: 24px 0 24px 0;
}
.animation_inner{height: inherit;width: inherit;}

.animation_container .nucleo{
	width: 46px;
	height: 46px;
	border-radius: 50px;
	background-color: #fff;
	position: absolute;
	top: 50%;left: 50%;
	margin-top: -24.5px;margin-left: -24.5px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.14);
	z-index: 99;
}

.animation_container .nucleo .inner_simbol{
	text-align: center;
	position: relative;
	font-size: 24px;
	width: inherit;
	height: inherit;
	line-height: 46px;
	color: rgba(0,0,0,0.6);
	vertical-align: middle;
}

.animation_inner .circle{
	border: 2px solid #fff;
	border-radius: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
}

.animation_inner .circle .circle_inner{
	position: relative;
	width: inherit;
	height: inherit;
}

.animation_container .movingdiv{
	width: 12px;
	height: 12px;
	position: absolute;
	background-color: #fff;
	border-radius: 60px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.14);
	z-index: 49;
}

.elementattrcontainer:nth-child(odd){
	
}

.elemattributename, .elementattributevalue {
	font-size: 15px;
	vertical-align: middle;
	font-weight: 500;
	width: calc(50% - 48px);
	display: inline-block;
	padding: 18px 24px 18px 24px;
	margin-left: -3px;
}

.elementattributevalue{
	text-align: right;
	font-weight: normal;
	background-color: #f4f4f4;
}

@media screen and (min-width: 544px){
	.hidden_eleminfo .block{
		width: 520px;
	}
}

@media screen and (min-width: 1120px){
	.hidden_eleminfo .block{
		width: 1080px;
		box-shadow: none;
	}

	.hidden_eleminfo .block #element_titlebg, .hidden_eleminfo .block #element_loaderinfo{
		display: inline-block;
		width: calc(50% - 24px);
		margin: 0 8px 0 8px;
		vertical-align: middle;
		box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
		height: inherit;
		border-radius: 2px;
	}
}

@media screen and (min-width: 1120px) and (min-height: 550px){
	.hidden_eleminfo .block{
		margin: 0 auto;
		top: 50%;
		margin-top: -270px;
	}

}